
@{
    ViewData["Title"] = "Careers";
}

<div class="container" id="js-hero">
    <!--
    <div class="component-info" data-sly-test="false">
      <div class="component-info__bar">Banner - Careers</div>
    </div>

    <div class="careers-banner careers-banner-desktop background-left-position" id="js-hero" style="background-image: url(/content/dam/oliver-wyman/v3/careers/Career-home-banner-tall-1.jpg.imgixg.careersTallBanner.jpg);">
      <sly data-sly-call="" data-sly-unwrap></sly>
    </div>
    <div class="careers-banner careers-banner-mobile background-left-position" style="background-image: url(/content/dam/oliver-wyman/v3/careers/Career-Home-Banner-620x660.jpg.imgixg.careersTabletBanner.jpg);">
      <sly data-sly-call="" data-sly-unwrap></sly>
    </div>
    -->
    <div class="banner banner--career" id="js-hero" style="background-image: url(/assets/images/banners/OurPeople-GropCrop-1600x600.jpg.imgix.banner.jpg);">

        <div class="banner--career--container">
            <div class="container">
                <div class="text-primary__white text-primary--subheading">
                    <p data-children-count="0">Make an Impact. Your Own Way.</p>
                </div>
                <div class="text-secondary__white text-secondary--subheading mt-5">Careers at Oliver Wyman</div>
                <div class="mt-40">
                    <a target="_self" class="btn btn__blue" href="#">Apply Now</a>
                </div>
            </div>
        </div>

    </div>
    <div class="banner banner--career__mobile" id="js-hero" style="background-image: url(/assets/images/banners/OurPeople-GropCrop-1600x600.jpg.imgix.banner.jpg);">

        <div class="banner--career--container">
            <div class="container">
                <div class="text-primary__white text-primary--subheading">
                    <p data-children-count="0">Make an Impact. Your Own Way.</p>
                </div>
                <div class="text-secondary__white text-secondary--subheading mt-5">Careers at Oliver Wyman</div>
                <div class="mt-40">
                    <a target="_self" class="btn btn__blue" href="#">Apply Now</a>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="main-content" role="main">


    <div>
        <div class="carousel-container section">
            <div class="ow-carousel-v3 mt-20 ">



            </div>
        </div>
        <div class="custom-widget section">




            <br><br>
        </div>
        <div class="text-image-block section">


            <div class="mt-40">
                <div class="text-image-block--title text-secondary text-secondary--heading">Immediate Impact, Continuous Challenge</div>

                <div class="text-image-block--flex right">
                    <div class="text-image-block--img right ">
                        <img src="~/assets/images/IMG_3096.png" />
                    </div>

                    <div class="text-image-block--text text-secondary text-secondary--body right">
                        <div>
                            <p>As part of our global, entrepreneurial team, you’ll do meaningful work from day one. We’re looking for individuals who challenge the norm, and constantly strive to build something new for the firm and the world around us.</p>
                        </div>
                        <div class="text-image-block--link">
                            <a href="#">Roles at Oliver Wyman</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sectionbreak section"><hr /></div>
        <div class="text section">

            <div>
                <div class="text-image-block--title text-secondary text-secondary--heading"><b>We Hire You To Be You</b></div>
                <p>Bring your authentic self and enjoy working alongside diverse and down-to-earth colleagues who do serious work, but don’t take themselves too seriously.</p>
                <p><a href="our-culture.html" style="font-size: 18.0px;" class="link--internal" target="_self">Culture At Oliver Wyman</a></p>

            </div>
        </div>
        <div class="carousel-container section">
            <div class="ow-carousel-v3 mt-20 ">

                <div class="carousel-cell section">



                    <div class="image-carousel" style="background-image: url('/assets/images/careers/NewYork.jpg.imgixg.mediaBigTile.jpg')">
                        <div class="label-container alone">
                            <div class="title alone">New York</div>

                        </div>
                    </div>
                </div>
                <div class="carousel-cell section">



                    <div class="image-carousel" style="background-image: url('/assets/images/careers/Singapore.jpg.imgixg.mediaBigTile.jpg')">
                        <div class="label-container alone">
                            <div class="title alone">Singapore</div>

                        </div>
                    </div>
                </div>
                <div class="carousel-cell section">



                    <div class="image-carousel" style="background-image: url('~/assets/images/careers/Munich.jpg.imgixg.mediaBigTile.jpg')">
                        <div class="label-container alone">
                            <div class="title alone">Munich</div>

                        </div>
                    </div>
                </div>
                <div class="carousel-cell section">



                    <div class="image-carousel" style="background-image: url('/assets/images/careers/Mexico-City.jpg.imgixg.mediaBigTile.jpg')">
                        <div class="label-container alone">
                            <div class="title alone">Mexico City</div>

                        </div>
                    </div>
                </div>
                <div class="carousel-cell section">



                    <div class="image-carousel" style="background-image: url('/assets/images/careers/Milan.jpg.imgixg.mediaBigTile.jpg')">
                        <div class="label-container alone">
                            <div class="title alone">Milan</div>

                        </div>
                    </div>
                </div>
                <div class="carousel-cell section">



                    <div class="image-carousel" style="background-image: url('/assets/images/careers/Bill-Westfall.jpg.imgixg.mediaBigTile.jpg')">
                        <div class="label-container alone">
                            <div class="title alone">Chicago</div>

                        </div>
                    </div>
                </div>
                <div class="carousel-cell section">



                    <div class="image-carousel" style="background-image: url('/assets/images/careers/Dubai.jpg.imgixg.mediaBigTile.jpg')">
                        <div class="label-container alone">
                            <div class="title alone">Dubai</div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="sectionbreak section"><hr /></div>
        <div class="text section">

            <div>
                <div class="text-image-block--title text-secondary text-secondary--heading">
                    <b>
                        Chart Your Course;<br />
                        We Support The Journey
                    </b>
                </div>
                <p>At OW, there's no &quot;one size fits all.&quot; We hire exceptional people and help them thrive through a built-in support network, flexible career paths, extensive training curriculums, and no artificial barriers to advancement.</p>

            </div>
        </div>
        <div class="people parbase section">




            <div class="people-tiles">


                <div class="heading text-secondary text-secondary--exhibit"></div>
                <ul class="people-tiles--listfive-elements">
                    <li class="people-tilefive-elements">
                        <a href="#">

                            <figure class="tile__img">
                                <div>
                                    <img src="~/assets/images/profile/Pedro-Oliveira-460x460.jpg.imgixg.profileBig.jpg" />
                                </div>
                            </figure>
                            <div class="people-bio">
                                <span class="people-bio__title text-secondary text-secondary--people-name">Pedro Oliveira</span>
                                <span class="people-bio__subtitle text-secondary text-secondary--people-description">
                                    Managing Partner
                                </span>
                            </div>


                        </a>

                    </li>

                    <li class="people-tile five-elements">
                        <a href="#">

                            <figure class="tile__img">
                                <div>
                                    <img src="~/assets/images/profile/Beatriz-Lacave-460x460.jpg.imgixg.profileBig.jpg" />
                                </div>
                            </figure>
                            <div class="people-bio">
                                <span class="people-bio__title text-secondary text-secondary--people-name">Beatriz Lacave</span>
                                <span class="people-bio__subtitle text-secondary text-secondary--people-description">
                                    Partner
                                </span>
                            </div>
                        </a>

                    </li>

                    <li class="people-tile five-elements">
                        <a href="#">

                            <figure class="tile__img">
                                <div>
                                    <img src="~/assets/images/profile/jim-dodsworth-460x460.jpg.imgixg.profileBig.jpg" />
                                </div>
                            </figure>
                            <div class="people-bio">
                                <span class="people-bio__title text-secondary text-secondary--people-name">Jim Dodsworth</span>
                                <span class="people-bio__subtitle text-secondary text-secondary--people-description">
                                    Associate Director
                                </span>
                            </div>


                        </a>

                    </li>

                    <li class="people-tilefive-elements">
                        <a href="#">

                            <figure class="tile__img">
                                <div>
                                    <img src="~/assets/images/profile/Margarita-Economides-460x460.jpg.imgixg.profileBig.jpg" />
                                </div>
                            </figure>
                            <div class="people-bio">
                                <span class="people-bio__title text-secondary text-secondary--people-name">Margarita Economides</span>
                                <span class="people-bio__subtitle text-secondary text-secondary--people-description">
                                    Principal
                                </span>
                            </div>


                        </a>

                    </li>
                </ul>
            </div>
        </div>
        <div class="text section">

            <div>
                <p class="mt-30-br"><a asp-action="OurPeople" style="font-size: 18.0px;">See More Of Our People</a></p>

            </div>
        </div>
        <div class="custom-widget section">



            <style>
                .grid-br {
                    display: -ms-flexbox;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    display: flex;
                    flex: 0 0 100%;
                }

                .mt-30-br {
                    margin-top: 3rem !important;
                }

                .mb-50-br {
                    margin-bottom: 5rem !important;
                }

                .ctr-2c-br {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 1rem;
                    height: 85px;
                    position: relative;
                    padding: 1.6rem 2rem 2rem 2rem;
                }

                @@media only screen and (min-width: 768px) {
                    .grid-br > .ctr-2c-br {
                        width: calc((100% - 21px) / 2);
                    }

                    .ctr-2c-br:not(:nth-child(2n - 1)) {
                        margin-left: 20px;
                    }

                    .ctr-2c-br {
                        margin-bottom: 2rem;
                        height: 150px;
                    }
                }

                .dpur-br {
                    background: #50209B 0% 0% no-repeat padding-box;
                }

                .bl-br {
                    background: #000000 0% 0% no-repeat padding-box;
                }

                .h4-wh-br {
                    margin-bottom: 0;
                    margin-top: 0;
                    color: #FFFFFF;
                    font-family: "Oswald-Medium" !important;
                    text-transform: uppercase !important;
                    line-height: 26px !important;
                    font-size: 24px !important;
                    letter-spacing: -0.12px !important;
                }

                @@media only screen and (min-width: 768px) {
                    .h4-wh-br {
                        line-height: 34px !important;
                        font-size: 30px !important;
                        letter-spacing: -0.15px !important;
                    }
                }

                .ar-wh-br {
                    margin-top: 20px;
                }

                    .ar-wh-br::after {
                        font-size: 24px !important;
                        color: #ffffff !important;
                        content: "\f101";
                        font-family: FontAwesome !important;
                        position: absolute;
                        bottom: 12px;
                    }


                @@media only screen and (max-width: 767px) {
                    .ar-wh-br::after {
                        display: none;
                    }
                }
            </style>
            <link rel="stylesheet" href="~/assets/css/twq7hne.css">
            <link rel="stylesheet" href="~/assets/vendor/css/font-awesome.min.css">

            <div width="100%" class="grid-br mt-30-br mb-50-br">
                <a class="ctr-2c-br dpur-br" asp-action="InclusionDiversity">
                    <h4 class="h4-wh-br">Inclusion & <br>Diversity</h4>
                    <div class="ar-wh-br"></div>
                </a>

                <a class="ctr-2c-br bl-br" asp-action="GlobalLocation">
                    <h4 class="h4-wh-br">Oliver Wyman <br>Worldwide</h4>
                    <div class="ar-wh-br"></div>
                </a>

            </div>

        </div>
        <div class="custom-widget section">

            <script>
                $(".text-image-block,  .text, .people, .custom-widget, .sectionbreak").wrap("<div class='container'></div>");
            </script>

        </div>

    </div>

</div>
