
@{
    ViewData["Title"] = "InclusionDiversity";
}

<div>

    <div></div>
    <section class="hero--main hero--main--left hero__liquid imgLiquid_bgSize imgLiquid_ready cq-dd-image" id="js-hero" style="background-image: url(); background-size: cover; background-position: center center; background-repeat: no-repeat; opacity: 1;">
        <div class="hero--main__overlay"></div>
        <div>
            <div class="homepage-hero-module">
                <div class="video-container">

                    <div class="poster hidden">
                        <img style="display: none;" alt="" src="~/assets/content/dam/oliver-wyman/v2/culture/culture-inclusion-and-diversity-1600x602.jpg.imgix.banner.jpg" />
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__content" id="js-hero__content" style="top: 101px; opacity: 1;">
            <div class="hero--main__inner">
                <div class="grid">
                    <div class="eight--columns">
                        <span class="tag tag--culture">Our Culture</span>
                        <h1 class="hero--main__title">Inclusion &amp; Diversity</h1>
                        <p class="hero__lead">At Oliver Wyman, I&amp;D is about working together, engaging in a rich dialogue with our clients and offering them the most robust solutions crafted by the best people.</p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--bottom banner*/-->


</div>
<div class="main-content" role="main">
    <div>

        <div class="page__header">
            <div class="container">
                <div class="page__header__inner">
                    <div class="grid">
                        <div class="eight--columns">

                            <div class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                                <span itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <a asp-action="OurCulture" itemprop="item">
                                        <span itemprop="name">Our Culture</span>
                                    </a>
                                    <meta itemprop="position" content="1" />
                                </span>

                                <span itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <a asp-action="InclusionDiversity" itemprop="item">
                                        <span itemprop="name">Inclusion &amp; Diversity</span>
                                    </a>
                                    <meta itemprop="position" content="2" />
                                </span>
                            </div>

                        </div>
                        <div class="four--columns">
                            <div class="article-info__social social">
                                <ul class="social-share-icons color">
                                    <li>Share</li>

                                    <li><a href="#" class="social__facebook" rel="nofollow noopener noreferrer" target="_blank"></a></li>

                                    <li><a href="#" class="social__twitter" rel="nofollow noopener noreferrer" target="_blank"></a></li>
                                    <li><a href="#" class="social__linked-in" rel="nofollow noopener noreferrer" target="_blank"></a></li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <article class="article">
        <section class="article__section">
            <div class="container">
                <div class="grid">
                    <div class="eight--columns">
                        <div class="article__main">
                            <div class="custom-widget section">

                                <style>
                                    .quoteComponent {
                                        max-width: 1200px;
                                        margin: 0 auto;
                                    }
                                </style>

                            </div>

                        </div>
                    </div><!-- end main column -->
                    <div class="one--column"></div>
                    <div class="three--columns">
                        <div class="article__sidebar">


                        </div><!-- End sidebar -->
                    </div><!-- End aside-->
                </div><!-- End Grid -->
            </div>
        </section>
    </article>
    <div class="text section">

        <div>
            <div class="container">
                <div class="ten--columns">
                    <h2 class="recruiting-header">Inclusion &amp; Diversity</h2>
                    <p><span class="article__subheader article__subheader--blue">Inclusion &amp; Diversity at Oliver Wyman is a philosophy</span></p>
                    <p>
                        <b>It’s not a talent program; it’s a way of life.</b> Our commitment is rooted in our values, woven into our business strategies, and lived daily in the spirit of our culture. We believe inclusion drives diversity, and diversity enables better outcomes for us and our clients. We also believe in creating a culture where all of our colleagues can bring their full, authentic selves to work and feel included and positioned for success.  <br />
                    </p>
                </div>
            </div>
            <div class="container">
                <div class="ten--columns">
                    <p><span class="article__subheader article__subheader--blue">A culture where different people thrive. Together.</span></p>
                    <p>We want our people to feel confident that they can succeed here being themselves. That’s why our approach to I&amp;D centers around culture. We believe all diversity – including diversity of background, experience, and thought – should be nourished and valued.</p>
                    <p>We focus on I&amp;D first and foremost because it’s the right thing to do. But we also know that diverse teams outperform homogeneous ones, and by fostering a culture where different people thrive together we can deliver greater impact for our clients.  We share this responsibility and work together to create the culture we strive for.</p>
                    <p> </p>
                    <p><span class="article__subheader article__subheader--blue">We live our I&amp;D values daily</span>It takes collective will and commitment to build a truly inclusive culture. We work daily to create a sense of community and we value the unique contributions of our colleagues by:</p>
                    <ul>
                        <li>Understanding who we are as individuals—our distinct values, motivators, strengths—and what this means in our relationships</li>
                        <li>Learning about each other and forming meaningful and trusting relationships</li>
                        <li>Pushing past our comfort zones to seek perspectives that differ from our own</li>
                        <li>Sharing boundaries and limitations honestly</li>
                        <li>Providing honest and meaningful feedback</li>
                        <li>Participating actively in firm decision-making</li>
                        <li>Caring for, mentoring, developing and sponsoring, each other</li>
                    </ul>
                    <p> </p>
                    <p><span class="article__subheader article__subheader--blue">I&amp;D is a continuing journey</span>Oliver Wyman is working hard to build an environment where all employees can thrive and has set ambitious goals around diversity over the coming years. In the past five years we have made progress against these goals – for example, we have more than doubled our female Partner ranks – but have much further to go to reach our ambitions. We are focused on increasing diversity across all visible and invisible dimensions – including gender, race and ethnicity, sexual orientation, disability, and cognitive diversity. We strive to be an employer of choice and to have an inclusive culture where all employees can bring their full, authentic selves to work.</p>
                    <br />
                </div>
            </div>

        </div>
    </div>
    <Div class="quoteComponent section">

        <section class="quote quote--image">
            <div class="quote__inner cq-dd-image">
                <div class="grid">
                    <div class="two--columns">
                        <div class="image-container">
                            <img src="~/assets/content/dam/oliver-wyman/v2/profiles/Scott_McDonald_402x402.jpg.imgix.squareTile.jpg" alt="Scott McDonald" />
                        </div>
                    </div>
                    <div class="eight--columns">
                        <blockquote class="blockquote">Inclusion doesn’t take care of itself – not even in a meritocracy. It requires work, focus, communication, and commitment. Our success is directly linked to the strength of our culture and the quality of people we can attract to join us. Inclusion is essential to support the strong culture because it is the right approach to life and because it will enable us to attract a wider range of the best people, allow our people to develop and, ultimately, it will enable us to address more complex issues for clients.</blockquote>
                        <span class="quote__name">Scott McDonald</span>
                        <span class="quote__role">CEO</span>

                    </div>
                </div>
            </div>
            <div class="quote__footer"></div>
        </section>
    </Div>
    <div class="text section">

        <div>
            <div class="container">
                <div class="ten--columns">
                    <p>
                        <span class="article__subheader article__subheader--blue">Our Inclusion Council</span>The 20-member Inclusion Council is comprised of senior staff throughout the globe focused on helping us realize our goals in maintaining a strong, united and inclusive culture that aligns to our purpose and values. It's an advisory board/steering committee that provides feedback and oversight on our I&amp;D efforts, including recommending tactical actions and programmatic solutions that help meet the needs of our evolving workforce, workplace, and marketplace business priorities. The individual members act as I&amp;D champions who encourage constructive dialogue on the topic of I&amp;D across the firm.  <br />
                    </p>
                    <p><span class="article__subheader article__subheader--blue">Our Colleague Networks</span></p>
                    <p>Our people networks ensure that all of our colleagues feel a sense of connection and community from day one.   Members act as ‘reverse mentors’ to Oliver Wyman leaders on a regular basis, ensuring we continue to embed inclusion issues in our global agenda.  We invite you to learn more:</p>
                </div>
            </div>

        </div>
    </div>
    <div class="custom-widget section">



        <style>
            .culture-accordion-title {
                font-family: noto-sans, sans-serif !important;
                ;
                font-size: 17px;
                font-weight: 700;
                letter-spacing: -0.2px;
                line-height: 20.4px;
                color: black;
            }

            .accordion__toggle {
                color: black;
            }

            .culture-accordion-text {
                font-family: noto-sans, sans-serif !important;
                ;
                font-size: 15px;
                font-weight: 400;
                letter-spacing: -0.1px;
                line-height: 22px;
                color: black;
            }

            .culture-white-background {
                background-color: white;
            }

            .culture-border-bottom {
                border-bottom: 1px solid rgb(188, 188, 188);
            }

            .culture-padding-left {
                padding-left: 1rem;
                padding-right: 0;
            }
        </style>
        <div class="container" style="padding-left:0;">
            <div class="ten--columns" style="padding-left:0;">
                <div class="accordioncontainer section" style="padding-left:2rem;">
                    <div class="empty-component-only-border">
                        <div class="article__row">
                            <div class="article__row__inner">
                                <div class="accordion-group">

                                    <div class="accordionitem section">
                                        <div class="accordion js-accordion scroll--hidden culture-white-background culture-border-bottom culture-padding-left">
                                            <div class="accordion js-accordion scroll--hidden culture-white-background culture-padding-left">
                                                <header class="accordion__header">
                                                    <h4 class="heading-small culture-accordion-title">Women at Oliver Wyman (WOW)</h4>
                                                    <a class="accordion__toggle js-accordion__toggle" href="#"></a>
                                                </header>
                                                <div class="accordion__content js-accordion__content">
                                                    <div class="accordion__content__text">
                                                        <p class="culture-accordion-text">Women at Oliver Wyman (WOW)&nbsp;is a worldwide network aimed at attracting top female talent to our&nbsp;company and unlocking their full potential at every level. Members (including men) create opportunities to&nbsp;share experiences, forge relationships and influence the firm.</p>
                                                    </div>
                                                    <div>
                                                        <div class="button section"><a href="inclusion-diversity/women-at-oliver-wyman.html" class="btn btn--main" target="_self">Learn more</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="accordionitem section">
                                        <div class="accordion js-accordion scroll--hidden culture-white-background culture-border-bottom culture-padding-left">
                                            <div class="accordion js-accordion scroll--hidden culture-white-background culture-padding-left">
                                                <header class="accordion__header">
                                                    <h4 class="heading-small culture-accordion-title">Employees of Oliver Wyman Enabling Racial & Ethnic Diversity (EMPOWERED)</h4>
                                                    <a class="accordion__toggle js-accordion__toggle" href="#"></a>
                                                </header>
                                                <div class="accordion__content js-accordion__content">
                                                    <div class="accordion__content__text">
                                                        <p class="culture-accordion-text">Employees of Oliver Wyman Enabling Racial & Ethnic Diversity (EMPOWERED) began as a group of colleagues who took action to create a more welcoming culture in their office. Today, the group influences how the company operates and how all our people act towards one another.</p>
                                                    </div>
                                                    <div>
                                                        <div class="button section"><a href="inclusion-diversity/racial-and-ethnic-diversity-at-oliver-wyman.html" class="btn btn--main" target="_self">Learn more</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="accordionitem section">
                                        <div class="accordion js-accordion scroll--hidden culture-white-background culture-border-bottom culture-padding-left">
                                            <div class="accordion js-accordion scroll--hidden culture-white-background culture-padding-left">
                                                <header class="accordion__header">
                                                    <h4 class="heading-small culture-accordion-title">Gays, Lesbians, Bisexuals, Trans* & Allies at Oliver Wyman (GLOW)</h4>
                                                    <a class="accordion__toggle js-accordion__toggle" href="#"></a>
                                                </header>
                                                <div class="accordion__content js-accordion__content">
                                                    <div class="accordion__content__text">
                                                        <p class="culture-accordion-text">GLOW, our LGBTQ+ colleague network, promotes empathy and collaboration across the firm, reaches out to our LGBTQ+ recruits, and develops relationships with our sister companies, clients, and the wider community.</p>
                                                    </div>
                                                    <div>
                                                        <div class="button section"><a href="inclusion-diversity/lgbtq-and-allies-at-oliver-wyman.html" class="btn btn--main" target="_self">Learn more</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="accordionitem section">
                                        <div class="accordion js-accordion scroll--hidden culture-white-background culture-border-bottom culture-padding-left">
                                            <div class="accordion js-accordion scroll--hidden culture-white-background culture-padding-left">
                                                <header class="accordion__header">
                                                    <h4 class="heading-small culture-accordion-title">Veterans of Oliver Wyman (VOW)</h4>
                                                    <a class="accordion__toggle js-accordion__toggle" href ="#"></a>
                                                </header>
                                                <div class="accordion__content js-accordion__content">
                                                    <div class="accordion__content__text">
                                                        <p class="culture-accordion-text">Veterans of Oliver Wyman (VOW) brings high caliber veterans to our company and provides a supportive community within it. Members from many service branches serve as advocates for veterans’ issues in our local communities. </p>
                                                    </div>
                                                    <div>
                                                        <div class="button section"><a href="inclusion-diversity/veterans-at-oliver-wyman.html" class="btn btn--main" target="_self">Learn more</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="accordionitem section">
                                        <div class="accordion js-accordion scroll--hidden culture-white-background culture-border-bottom culture-padding-left">
                                            <div class="accordion js-accordion scroll--hidden culture-white-background culture-padding-left">
                                                <header class="accordion__header">
                                                    <h4 class="heading-small culture-accordion-title">Family Life at Oliver Wyman (FLOW)</h4>
                                                    <a class="accordion__toggle js-accordion__toggle" href="#"></a>
                                                </header>
                                                <div class="accordion__content js-accordion__content">
                                                    <div class="accordion__content__text">
                                                        <p class="culture-accordion-text">Family Life at Oliver Wyman (FLOW) is an employee resource group for parents and caregivers focused on sharing resources, building community and driving improvement at the many intersections of work and family life.</p>
                                                    </div>
                                                    <div>
                                                        <div class="button section"><a href="inclusion-diversity/family-life-at-oliver-wyman.html" class="btn btn--main" target="_self">Learn more</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="accordionitem section">
                                        <div class="accordion js-accordion scroll--hidden culture-white-background culture-border-bottom culture-padding-left">
                                            <div class="accordion js-accordion scroll--hidden culture-white-background culture-padding-left">
                                                <header class="accordion__header">
                                                    <h4 class="heading-small culture-accordion-title">Introversion at Oliver Wyman (IntrOW)</h4>
                                                    <a class="accordion__toggle js-accordion__toggle" href="#"></a>
                                                </header>
                                                <div class="accordion__content js-accordion__content">
                                                    <div class="accordion__content__text">
                                                        <p class="culture-accordion-text">Introversion at Oliver Wyman (IntrOW) is an employee interest group to help introverts and extroverts better understand one another, allow for more effective collaboration, and equip introverts to excel in the firm.</p>
                                                    </div>
                                                    <div>
                                                        <div class="button section"><a href="inclusion-diversity/introverts-at-oliver-wyman.html" class="btn btn--main" target="_self">Learn more</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-widget section">




        <div class="container">
            <div class="ten--columns">
                <h2 class="recruiting-header">Follow the #OWCulture conversation</h2>
                <span class="article__subheader article__subheader--blue">We do serious work, but don’t take ourselves too seriously.</span>

            </div><div class="tagboard-embed " tgb-slug="t/354822" tgb-layout="waterfall" tgb-feed-type="auto" tgb-post-count="20" tgb-mobile-count="20" tgb-gutter="30" tgb-toolbar="default" tgb-animation-type="default"></div>
        </div>
        <script src="~/assets/static.tagboard.com/public/js/embedAdvanced.js"></script>
    </div>


    <div>


        <div class="page-share">
            <div class="container">
                <div class="page-share__inner">
                    <div class="article__footer__social social">
                        <ul class="social-share-icons color">
                            <li>Share</li>

                            <li><a href="#" class="social__facebook" rel="nofollow noopener noreferrer" target="_blank"></a></li>

                            <li><a href="#" class="social__twitter" rel="nofollow noopener noreferrer" target="_blank"></a></li>
                            <li><a href="#" class="social__linked-in" rel="nofollow noopener noreferrer" target="_blank"></a></li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div>

        <div class="expertise scroll--hidden">
            <div class="container">
                <header class="expertise__header">
                    <h3 class="expertise__header__title">
                        OUR <b>EXPERTISE</b>&nbsp;<span class="sapphire"></span>

                    </h3>
                </header>

                <div class="grid">
                    <div class="six--columns">
                        <h4 class="expertise__title">Industries&nbsp;<span class="sapphire"></span></h4>

                        <ul>
                            <li><a href="../our-expertise/industries/transportation.html">Aviation, Aerospace &amp; Defense</a></li>

                            <li><a href="../our-expertise/industries/transportation/travel-and-leisure.html">Travel &amp; Leisure</a></li>

                            <li><a href="../our-expertise/industries/transportation/rail-and-public-transit.html">Rail and Public Transit</a></li>

                            <li><a href="../our-expertise/industries/automotive.html">Automotive</a></li>

                            <li><a href="../our-expertise/industries/business-services.html">Business Services</a></li>

                            <li><a href="../our-expertise/industries/communications-media-and-technology.html">Communications, Media, And Technology</a></li>

                            <li><a href="../our-expertise/industries/education.html">Education</a></li>

                            <li><a href="../our-expertise/industries/energy.html">Energy</a></li>

                            <li><a href="../our-expertise/industries/financial-services.html">Financial Services</a></li>

                            <li><a href="../our-expertise/industries/health-life-sciences.html">Health And Life Sciences</a></li>

                            <li><a href="../our-expertise/industries/industrial-products.html">Industrial Products</a></li>

                            <li><a href="../our-expertise/industries/public-sector.html">Public Sector And Policy</a></li>

                            <li><a href="../our-expertise/industries/retail-and-consumer-goods.html">Retail And Consumer Goods</a></li>

                            <li><a href="../our-expertise/industries/transportation.html">Transportation</a></li>

                            <li><a href="../our-expertise/industries/velocity-podcasts.html">Velocity Podcast</a></li>
                        </ul>

                    </div>

                    <div class="six--columns">
                        <h4 class="expertise__title">capabilities&nbsp;<span class="sapphire"></span></h4>

                        <ul>
                            <li><a href="../our-expertise/capabilities/actuarial.html">Actuarial</a></li>

                            <li><a href="../our-expertise/capabilities/climate-sustainability.html">Climate And Sustainability</a></li>

                            <li><a href="../our-expertise/capabilities/corporate-finance-restructuring.html">Corporate Finance And Restructuring</a></li>

                            <li><a href="../our-expertise/capabilities/digital.html">Digital</a></li>

                            <li><a href="https://lippincott.com/">Lippincott: Brand and Innovation</a></li>

                            <li><a href="../our-expertise/capabilities/digital.html">Oliver Wyman Labs</a></li>

                            <li><a href="../our-expertise/capabilities/operations.html">Operations</a></li>

                            <li><a href="../our-expertise/capabilities/organizational-effectiveness.html">Organizational Effectiveness</a></li>

                            <li><a href="../our-expertise/capabilities/payments.html">Payments</a></li>

                            <li><a href="../our-expertise/capabilities/pricing-sales-and-marketing.html">Pricing, Sales, And Marketing</a></li>

                            <li><a href="../our-expertise/capabilities/risk-management.html">Risk Management</a></li>

                            <li><a href="../our-expertise/capabilities/strategy.html">Strategy</a></li>
                        </ul>

                    </div>

                </div>

            </div>
        </div>

        <div class="expertise expertise--mobile scroll--hidden">
            <div class="container">
                <header class="expertise__header">
                    <h3 class="expertise__header__title"><strong>OUR <b>EXPERTISE</b></strong>&nbsp;<span class="sapphire"></span></h3>

                </header>

                <div class="accordion-group">

                    <div class="accordion js-accordion scroll--hidden">
                        <header class="accordion__header accordion__header--expertise">
                            <h4 class="expertise__title">Industries&nbsp;<span class="blue-footer"></span></h4>
                            <a href="#" class="accordion__toggle js-accordion__toggle"></a>
                        </header>
                        <div class="accordion__content js-accordion__content">

                            <ul>
                                <li><a href="../our-expertise/industries/transportation.html">Aviation, Aerospace &amp; Defense</a></li>

                                <li><a href="../our-expertise/industries/transportation/travel-and-leisure.html">Travel &amp; Leisure</a></li>

                                <li><a href="../our-expertise/industries/transportation/rail-and-public-transit.html">Rail and Public Transit</a></li>

                                <li><a href="../our-expertise/industries/automotive.html">Automotive</a></li>

                                <li><a href="../our-expertise/industries/business-services.html">Business Services</a></li>

                                <li><a href="../our-expertise/industries/communications-media-and-technology.html">Communications, Media, And Technology</a></li>

                                <li><a href="../our-expertise/industries/education.html">Education</a></li>

                                <li><a href="../our-expertise/industries/energy.html">Energy</a></li>

                                <li><a href="../our-expertise/industries/financial-services.html">Financial Services</a></li>

                                <li><a href="../our-expertise/industries/health-life-sciences.html">Health And Life Sciences</a></li>

                                <li><a href="../our-expertise/industries/industrial-products.html">Industrial Products</a></li>

                                <li><a href="../our-expertise/industries/public-sector.html">Public Sector And Policy</a></li>

                                <li><a href="../our-expertise/industries/retail-and-consumer-goods.html">Retail And Consumer Goods</a></li>

                                <li><a href="../our-expertise/industries/transportation.html">Transportation</a></li>

                                <li><a href="../our-expertise/industries/velocity-podcasts.html">Velocity Podcast</a></li>
                            </ul>

                        </div>
                    </div>

                    <div class="accordion js-accordion scroll--hidden">
                        <header class="accordion__header accordion__header--expertise">
                            <h4 class="expertise__title">capabilities&nbsp;<span class="blue-footer"></span></h4>
                            <a href="#" class="accordion__toggle js-accordion__toggle"></a>
                        </header>
                        <div class="accordion__content js-accordion__content">

                            <ul>
                                <li><a href="../our-expertise/capabilities/actuarial.html">Actuarial</a></li>

                                <li><a href="../our-expertise/capabilities/climate-sustainability.html">Climate And Sustainability</a></li>

                                <li><a href="../our-expertise/capabilities/corporate-finance-restructuring.html">Corporate Finance And Restructuring</a></li>

                                <li><a href="../our-expertise/capabilities/digital.html">Digital</a></li>

                                <li><a href="https://lippincott.com/">Lippincott: Brand and Innovation</a></li>

                                <li><a href="../our-expertise/capabilities/digital.html">Oliver Wyman Labs</a></li>

                                <li><a href="../our-expertise/capabilities/operations.html">Operations</a></li>

                                <li><a href="../our-expertise/capabilities/organizational-effectiveness.html">Organizational Effectiveness</a></li>

                                <li><a href="../our-expertise/capabilities/payments.html">Payments</a></li>

                                <li><a href="../our-expertise/capabilities/pricing-sales-and-marketing.html">Pricing, Sales, And Marketing</a></li>

                                <li><a href="../our-expertise/capabilities/risk-management.html">Risk Management</a></li>

                                <li><a href="../our-expertise/capabilities/strategy.html">Strategy</a></li>
                            </ul>

                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>
