@{
    ViewData["Title"] = "Home Page";
}

@*<section class="hero--main hero--main--centered hero__liquid imgLiquid_bgSize imgLiquid_ready cq-dd-image" id="js-hero" style="background-image: url(); background-size: cover; background-position: center center; background-repeat: no-repeat; opacity: 1;">
        <div class="hero--main__overlay"></div>
        <div>
            <div class="homepage-hero-module">
                <div class="video-container">

                    <div class="poster hidden">
                        <img style="display: none;" alt="" src="~/assets/green-background.jpeg" />
                    </div>
                </div>
            </div>
        </div>
        <div class="hero--main__content">
            <div class="hero--main--home__title">
                ACCELERATE
            </div>

            <div class="hero--main--home__title--bottom">
                BREAKTHROUGHS
            </div>
        </div>
        <div class="hero--main__asides-group" style="opacity: 1;">

        </div>
    </section>*@

<div class="" style="background-image: url('assets/su-san-lee-E_eWwM29wfU-unsplash.png');
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 1;">
    <div class="homepage-banner">
        <div class="hero--main--home__title">
            ACCELERATE
        </div>

        <div class="hero--main--home__title--bottom">
            BREAKTHROUGHS
        </div>

    </div>
</div>

<div class="main-content" role="main">

    <div>
        <div class="text section">

            <div>
                <div class="container">
                    <div class="hero--main--home__description">Firms and governments need to address issues that are tougher and more urgent than ever before. Oliver Wyman’s promise to deliver breakthrough impact through collaboration has resulted in 76% of our clients saying we have more impact than other management consulting firms.</div>
                </div>

            </div>
        </div>
        <div class="hptContainer section">
            <section class="tiles-grid--homepage--new scroll--hidden">

                <div class="container">

                    <div class="header">
                        <div class="header__title">

                        </div>
                        <div class="header__ellipsis">
                            <div class="header__ellipsis__button">
                                <a href="#"><img src="~/assets/images/ellipsis.svg" alt="ellipsis" /></a>
                            </div>
                            <div class="header__ellipsis__button--hover">
                                <a href="#" class="btn--main header__ellipsis__cta desktop">More Insights</a>
                                <a href="#" class="btn--main header__ellipsis__cta mobile">+</a>
                            </div>
                        </div>
                    </div>

                    <div class="hptRow2Elements">
                        <div class="grid">
                            <div class="eight--columns-tablet-one-column homepage">


                                <div class="grid--item">

                                    <picture>
                                        <source media="(min-width: 1200px)" srcset="~/assets/images/publications/women-in-leadership-oliver-wyman.jpg.imgixg.wideTileV3.jpg" />
                                        <source media="(min-width: 960px) and (max-width: 1199px)" srcset="~/assets/images/publications/women-in-leadership-oliver-wyman.jpg.imgixg.tabletTile.jpg" />
                                        <source media="(max-width: 779px)" srcset="~/assets/images/publications/women-in-leadership-oliver-wyman.jpg.imgixg.mobileTile.jpg" />
                                        <!-- default fallback image -->
                                        <img src="~/assets/images/publications/women-in-leadership-oliver-wyman.jpg.imgixg.wideTileV3.jpg" />
                                    </picture>
                                    <div class="grid--item__text p-20 show-on-hover wideTileV3 wide small left-bottom">
                                        <h1 class="m-0 text-primary text-primary--tile-text__small tile-title white">What&#39;s Preventing Progress On Women In Leadership?</h1>
                                        <p class="text-secondary text-secondary--hover-state-description white">Women are still passed over for the most senior leadership roles with only one in four executives female.</p>
                                        <h1 class="m-0 text-primary text-primary--tile-text__small tile-title white"></h1>
                                        <a href="#" class="btn btn--main grid--item__cta text-secondary text-secondary--description__medium">Read more</a>
                                    </div>



                                </div>
                            </div>
                            <div class="four--columns-tablet-one-column homepage">

                                <div class="grid--item">


                                    <div class="bg-color dark-blue">
                                        <div class="grid--item__text p-20 smallTileV3 wide small left-bottom">
                                            <h1 class="m-0 text-primary text-primary--tile-text__small tile-title white">Future Of Financial Intelligence Sharing </h1>
                                            <p class="text-secondary text-secondary--hover-state-description white"> Privacy preserving analysis to tackle financial crime</p>
                                            <h1 class="m-0 text-primary text-primary--tile-text__small tile-title white"></h1>
                                            <a href="#" class="btn btn--main grid--item__cta text-secondary text-secondary--description__medium">Read more</a>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>




                    <div class="hptRow2Elements">
                        <div class="grid">
                            <div class="four--columns-tablet-one-column homepage">

                                <div class="grid--item">

                                    <picture>
                                        <source media="(min-width: 1200px)" srcset="~/assets/images/publications/racism-response-oliver-wyman.jpg.imgixg.smallTileV3.jpg" />
                                        <source media="(min-width: 960px) and (max-width: 1199px)" srcset="~/assets/images/publications/racism-response-oliver-wyman.jpg.imgixg.tabletTile.jpg" />
                                        <source media="(max-width: 779px)" srcset="~/assets/images/publications/racism-response-oliver-wyman.jpg.imgixg.mobileTile.jpg" />
                                        <!-- default fallback image -->
                                        <img src="~/assets/images/publications/racism-response-oliver-wyman.jpg.imgixg.smallTileV3.jpg" />
                                    </picture>
                                    <div class="grid--item__text p-20 show-on-hover smallTileV3 wide small left-bottom">
                                        <h1 class="m-0 text-primary text-primary--tile-text__small tile-title white">Oliver Wyman Condemns Racist Violence </h1>
                                        <p class="text-secondary text-secondary--hover-state-description white">Oliver Wyman condemns the recent racist violence against Black Americans</p>
                                        <h1 class="m-0 text-primary text-primary--tile-text__small tile-title white"></h1>
                                        <a href="our-culture/inclusion-diversity.html" class="btn btn--main grid--item__cta text-secondary text-secondary--description__medium">Read more</a>
                                    </div>

                                </div>

                            </div>
                            <div class="eight--columns-tablet-one-column homepage">

                                <div class="grid--item">

                                    <picture>
                                        <source media="(min-width: 1200px)" srcset="~/assets/images/publications/Implementation-of-sustatinable-development-goal.jpg.imgixg.wideTileV3.jpg" />
                                        <source media="(min-width: 960px) and (max-width: 1199px)" srcset="~/assets/images/publications/Implementation-of-sustatinable-development-goal.jpg.imgixg.tabletTile.jpg" />
                                        <source media="(max-width: 779px)" srcset="~/assets/images/publications/Implementation-of-sustatinable-development-goal.jpg.imgixg.mobileTile.jpg" />
                                        <!-- default fallback image -->
                                        <img src="~/assets/images/publications/Implementation-of-sustatinable-development-goal.jpg.imgixg.wideTileV3.jpg" />
                                    </picture>
                                    <div class="grid--item__text p-20 show-on-hover wideTileV3 wide small left-bottom">
                                        <h1 class="m-0 text-primary text-primary--tile-text__small tile-title white">Implementation Of Sustainable Development Goals</h1>
                                        <p class="text-secondary text-secondary--hover-state-description white">Addressing the data disaggregation challenge in the GCC</p>
                                        <h1 class="m-0 text-primary text-primary--tile-text__small tile-title white"></h1>
                                        <a href="#" class="btn btn--main grid--item__cta text-secondary text-secondary--description__medium">Read more</a>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="hptRow3Elements">
                        <div class="grid">
                            <div class="four--columns-tablet-one-column homepage">

                                <div class="grid--item">

                                    <picture>
                                        <source media="(min-width: 1200px)" srcset="~/assets/images/publications/climate-transition-federal-reserve-oliver-wyman.jpg.imgixg.smallTileV3.jpg" />
                                        <source media="(min-width: 960px) and (max-width: 1199px)" srcset="~/assets/images/publications/climate-transition-federal-reserve-oliver-wyman.jpg.imgixg.tabletTile.jpg" />
                                        <source media="(max-width: 779px)" srcset="~/assets/images/publications/climate-transition-federal-reserve-oliver-wyman.jpg.imgixg.mobileTile.jpg" />
                                        <!-- default fallback image -->
                                        <img src="~/assets/images/publications/climate-transition-federal-reserve-oliver-wyman.jpg.imgixg.smallTileV3.jpg" />
                                    </picture>
                                    <div class="grid--item__text p-20 show-on-hover smallTileV3 wide small left-bottom">
                                        <h1 class="m-0 text-primary text-primary--tile-text__small tile-title white">Climate Transition And The Federal Reserve</h1>
                                        <p class="text-secondary text-secondary--hover-state-description white">US Fed policy will be about financial risk, not “climate policy” for its own sake.</p>
                                        <h1 class="m-0 text-primary text-primary--tile-text__small tile-title white"></h1>
                                        <a href="#" class="btn btn--main grid--item__cta text-secondary text-secondary--description__medium">Read more</a>
                                    </div>



                                </div>

                            </div>
                            <div class="four--columns-tablet-one-column homepage">

                                <div class="grid--item">


                                    <div class="bg-color orange">
                                        <div class="grid--item__text p-20 smallTileV3 wide small left-bottom">
                                            <h1 class="m-0 text-primary text-primary--tile-text__small tile-title white">Unwritten Rules For Getting Promoted Often Leave Out Women </h1>
                                            <p class="text-secondary text-secondary--hover-state-description white">Featured in The Dallas Morning News: Executives who care about diversity should examine the track in their companies to senior management. </p>
                                            <h1 class="m-0 text-primary text-primary--tile-text__small tile-title white"></h1>
                                            <a href="#" class="btn btn--main grid--item__cta text-secondary text-secondary--description__medium">Read more</a>
                                        </div>
                                    </div>


                                </div>

                            </div>
                            <div class="four--columns-tablet-one-column homepage">

                                <div class="grid--item">

                                    <picture>
                                        <source media="(min-width: 1200px)" srcset="~/assets/images/publications/global-risks-report-oliver-wyman.jpg.imgixg.smallTileV3.jpg" />
                                        <source media="(min-width: 960px) and (max-width: 1199px)" srcset="~/assets/images/publications/global-risks-report-oliver-wyman.jpg.imgixg.tabletTile.jpg" />
                                        <source media="(max-width: 779px)" srcset="~/assets/images/publications/global-risks-report-oliver-wyman.jpg.imgixg.mobileTile.jpg" />
                                        <!-- default fallback image -->
                                        <img src="~/assets/images/publications/global-risks-report-oliver-wyman.jpg.imgixg.smallTileV3.jpg" />
                                    </picture>
                                    <div class="grid--item__text p-20 show-on-hover smallTileV3 wide small left-bottom">
                                        <h1 class="m-0 text-primary text-primary--tile-text__small tile-title white"> The Global Risks Report 2021</h1>
                                        <p class="text-secondary text-secondary--hover-state-description white">Published by the World Economic Forum with support from Marsh McLennan.</p>
                                        <h1 class="m-0 text-primary text-primary--tile-text__small tile-title white"></h1>
                                        <a href="#" class="btn btn--main grid--item__cta text-secondary text-secondary--description__medium">Read more</a>
                                    </div>



                                </div>

                            </div>
                        </div>
                    </div>




                    <div class="hptRow2Elements">
                        <div class="grid">
                            <div class="four--columns-tablet-one-column homepage">

                                <div class="grid--item">


                                    <div class="bg-color dark-green">
                                        <div class="grid--item__text p-20 smallTileV3 wide small left-bottom">
                                            <h1 class="m-0 text-primary text-primary--tile-text__small tile-title white">GreenBiz 2021 </h1>
                                            <p class="text-secondary text-secondary--hover-state-description white">Join us February 9-11 2021</p>
                                            <h1 class="m-0 text-primary text-primary--tile-text__small tile-title white"></h1>
                                            <a href="#" class="btn btn--main grid--item__cta text-secondary text-secondary--description__medium">Read more</a>
                                        </div>
                                    </div>


                                </div>

                            </div>
                            <div class="eight--columns-tablet-one-column homepage">


                                <div class="grid--item">

                                    <picture>
                                        <source media="(min-width: 1200px)" srcset="~/assets/images/publications/chance-to-change-oliver-wyman-2x1.jpg.imgixg.wideTileV3.jpg" />
                                        <source media="(min-width: 960px) and (max-width: 1199px)" srcset="~/assets/images/publications/chance-to-change-oliver-wyman-2x1.jpg.imgixg.tabletTile.jpg" />
                                        <source media="(max-width: 779px)" srcset="~/assets/images/publications/chance-to-change-oliver-wyman-2x1.jpg.imgixg.mobileTile.jpg" />
                                        <!-- default fallback image -->
                                        <img src="~/assets/images/publications/chance-to-change-oliver-wyman-2x1.jpg.imgixg.wideTileV3.jpg" />
                                    </picture>
                                    <div class="grid--item__text p-20 show-on-hover wideTileV3 wide small left-bottom">
                                        <h1 class="m-0 text-primary text-primary--tile-text__small tile-title white">The Chance To Change</h1>
                                        <p class="text-secondary text-secondary--hover-state-description white">Actionable insights to reimagine the future beyond COVID-19</p>
                                        <h1 class="m-0 text-primary text-primary--tile-text__small tile-title white"></h1>
                                        <a href="our-expertise/hubs/covid-19-business-recovery-strategies.html" class="btn btn--main grid--item__cta text-secondary text-secondary--description__medium">Read more</a>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="hptRow2Elements">
                        <div class="grid">
                            <div class="eight--columns-tablet-one-column homepage">


                                <div class="grid--item">

                                    <picture>
                                        <source media="(min-width: 1200px)" srcset="~/assets/images/publications/pandemic-navigator-oliver-wyman.jpg.imgixg.wideTileV3.jpg" />
                                        <source media="(min-width: 960px) and (max-width: 1199px)" srcset="~/assets/images/publications/pandemic-navigator-oliver-wyman.jpg.imgixg.tabletTile.jpg" />
                                        <source media="(max-width: 779px)" srcset="~/assets/images/publications/pandemic-navigator-oliver-wyman.jpg.imgixg.mobileTile.jpg" />
                                        <!-- default fallback image -->
                                        <img src="~/assets/images/publications/pandemic-navigator-oliver-wyman.jpg.imgixg.wideTileV3.jpg" />
                                    </picture>
                                    <div class="grid--item__text p-20 show-on-hover wideTileV3 wide small left-bottom">
                                        <h1 class="m-0 text-primary text-primary--tile-text__small tile-title white">COVID-19 Pandemic Navigator</h1>
                                        <p class="text-secondary text-secondary--hover-state-description white">Supporting our clients and the industries they serve around the world</p>
                                        <h1 class="m-0 text-primary text-primary--tile-text__small tile-title white"></h1>
                                        <a href="our-expertise/insights/2020/apr/covid-19-pandemic-navigator.html" class="btn btn--main grid--item__cta text-secondary text-secondary--description__medium">Read more</a>
                                    </div>



                                </div>
                            </div>
                            <div class="four--columns-tablet-one-column homepage">

                                <div class="grid--item">


                                    <div class="bg-color dark-purple">
                                        <div class="grid--item__text p-20 smallTileV3 wide small left-bottom">
                                            <h1 class="m-0 text-primary text-primary--tile-text__small tile-title white">RESPONDING TO COVID-19: ALMANAC </h1>
                                            <p class="text-secondary text-secondary--hover-state-description white">The latest status from an epidemiologic perspective &amp; key scenarios that can play out over time</p>
                                            <h1 class="m-0 text-primary text-primary--tile-text__small tile-title white"></h1>
                                            <a href="our-expertise/insights/2020/mar/covid-19-primer-and-implications-for-supply-chain-and-banking.html" class="btn btn--main grid--item__cta text-secondary text-secondary--description__medium">Read more</a>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>








                </div><!-- end Container -->
            </section>
        </div>
        <div class="tiles section">
            <div class="container">


                <section class="site-section tiles-grid--four-columns tiles-v3 scroll--hidden" id="sticky-sidebar-stop">
                    <div class="tiles-grid__header-section">
                        <div class="tiles-grid__header-left">
                            <h3 class="tiles-grid__title">Meet Our People</h3>

                        </div>
                        <div class="tiles-grid__header-right">
                            <div class="header__ellipsis">
                                <div class="header__ellipsis__button">
                                    <a href="our-culture/our-people.html"><img src="~/assets/images/ellipsis.svg" alt="ellipsis" /></a>
                                </div>
                                <div class="header__ellipsis__button--hover">
                                    <a href="our-culture/our-people.html" class="btn--main header__ellipsis__cta desktop">Our People</a>
                                    <a href="our-culture/our-people.html" class="btn--main header__ellipsis__cta mobile">+</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul>
                        <li class="tile  " style="height: 281px;">
                            <a href="#">
                                <div class="tile__overlay"></div>
                                <figure class="tile__img"><img alt="Chaitra Chandrasekhar" src="~/assets/images/profile/Chaitra-Chandrasekhar-460x460.jpg.imgix.fourColumnTile.jpg" /></figure>
                                <div class="tile__content">
                                    <header class="tile__header">
                                        <span class="tile__tag tag--leadership">
                                            Our People
                                        </span>
                                        <span class="tile__title">Chaitra Chandrasekhar</span>
                                    </header>
                                    <span class="tile__subtitle">

                                    </span>
                                </div>
                                <span class="tile__overflow"></span>
                                <span class="tile__cta">Read more</span>
                            </a>
                        </li>

                        <li class="tile  " style="height: 281px;">
                            <a href="#">
                                <div class="tile__overlay"></div>
                                <figure class="tile__img"><img alt="Gab Qurizen" src="~/assets/images/profile/gab-qurizen-460x460.jpg.imgix.fourColumnTile.jpg" /></figure>
                                <div class="tile__content">
                                    <header class="tile__header">
                                        <span class="tile__tag tag--leadership">
                                            Our People
                                        </span>
                                        <span class="tile__title">Gab Qurizen</span>
                                    </header>
                                    <span class="tile__subtitle">

                                    </span>
                                </div>
                                <span class="tile__overflow"></span>
                                <span class="tile__cta">Read more</span>
                            </a>
                        </li>

                        <li class="tile  " style="height: 281px;">
                            <a href="#">
                                <div class="tile__overlay"></div>
                                <figure class="tile__img"><img alt="Amara-Maria Willendorf" src="~/assets/images/profile/Amara-Maria-Willendorf-460x460.jpg.imgix.fourColumnTile.jpg" /></figure>
                                <div class="tile__content">
                                    <header class="tile__header">
                                        <span class="tile__tag tag--leadership">
                                            Our People
                                        </span>
                                        <span class="tile__title">Amara-Maria Willendorf</span>
                                    </header>
                                    <span class="tile__subtitle">

                                    </span>
                                </div>
                                <span class="tile__overflow"></span>
                                <span class="tile__cta">Read more</span>
                            </a>
                        </li>

                        <li class="tile  " style="height: 281px;">
                            <a href="#">
                                <div class="tile__overlay"></div>
                                <figure class="tile__img"><img alt="Roberto Scaramella" src="~/assets/images/profile/Roberto-Scaramella-460x460.png.imgix.fourColumnTile.png" /></figure>
                                <div class="tile__content">
                                    <header class="tile__header">
                                        <span class="tile__tag tag--leadership">
                                            Our People
                                        </span>
                                        <span class="tile__title">Roberto Scaramella</span>
                                    </header>
                                    <span class="tile__subtitle">

                                    </span>
                                </div>
                                <span class="tile__overflow"></span>
                                <span class="tile__cta">Read more</span>
                            </a>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
        <div class="custom-widget section">




            <script>
                /**
                       var img =  $(".tiles-grid--homepage--new .grid--item img").last().attr("src");
                $( window ).resize(function() {
                var mq = window.matchMedia( "(min-width: 570px)" );
                if (mq.matches) {

                   img = img.replace(".imgixg.featuredTile.jpg","");
                 $(".tiles-grid--homepage--new .grid--item img").last().attr("src", img);
                } else {
                 if (img.includes(".imgixg.featuredTile.jpg")==false){
                $(".tiles-grid--homepage--new .grid--item img").last().attr("src", img+".imgixg.featuredTile.jpg")
                }
                }
                }).resize();
                **/
            </script>
        </div>
        <div class="custom-widget section">
            <style>
                .tiles-grid--homepage--new .header {
                    margin-bottom: 2.5rem;
                }
            </style>
            <!--
            <picture>
              <source srcset="https://author-stage.www.marshinc.net/content/dam/oliver-wyman/v2/publications/2019/owforum_mobility_index_800x350.jpg"
                      media="(min-width: 1000px)">
              <source srcset="https://author-stage.www.marshinc.net/content/dam/oliver-wyman/v3/mobility_index_square.jpg"
                      media="(max-width: 1000px)">
              <img srcset="https://author-stage.www.marshinc.net/content/dam/oliver-wyman/v2/publications/2019/owforum_mobility_index_800x350.jpg">
            </picture>-->
        </div>

    </div>
</div>
