
@{
    ViewData["Title"] = "MissionIclude";
}

<div>

    <div></div>

    <section class="hero--main hero--main--left hero__liquid imgLiquid_bgSize imgLiquid_ready cq-dd-image" id="js-hero" style="background-image: url(); background-size: cover; background-position: center center; background-repeat: no-repeat; opacity: 1;">
        <div class="hero--main__overlay"></div>
        <div>
            <div class="homepage-hero-module">
                <div class="video-container">

                    <div class="poster hidden">
                        <img style="display: none;" alt="" src="~/assets/content/dam/oliver-wyman/v2/media/2018/October/mission-include-banner.jpg.imgix.banner.jpg" />
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__content" id="js-hero__content" style="top: 101px; opacity: 1;">
            <div class="hero--main__inner">
                <div class="grid">
                    <div class="eight--columns">
                        <span class="tag tag--culture">Our Culture</span>
                        <h1 class="hero--main__title">MissionINCLUDE</h1>


                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--bottom banner*/-->

</div>
<div class="main-content" role="main">

    <div class="articleheader section">

        <div class="page__header">
            <div class="container">
                <div class="page__header__inner">
                    <div class="grid">
                        <div class="eight--columns">

                            <div class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                                <span itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <a asp-action="OurCulture" itemprop="item">
                                        <span itemprop="name">Our Culture</span>
                                    </a>
                                    <meta itemprop="position" content="1" />
                                </span>

                                <span itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <a asp-action="InclusionDiversity" itemprop="item">
                                        <span itemprop="name">Inclusion &amp; Diversity</span>
                                    </a>
                                    <meta itemprop="position" content="2" />
                                </span>

                                <span itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <a href="mission-include.html" itemprop="item">
                                        <span itemprop="name">MissionINCLUDE</span>
                                    </a>
                                    <meta itemprop="position" content="3" />
                                </span>
                            </div>

                        </div>
                        <div class="four--columns">
                            <div class="article-info__social social">
                                <ul class="social-share-icons color">
                                    <li>Share</li>

                                    <li><a href="#" class="social__facebook" rel="nofollow noopener noreferrer" target="_blank"></a></li>

                                    <li><a href="#" class="social__twitter" rel="nofollow noopener noreferrer" target="_blank"></a></li>
                                    <li><a href="#" class="social__linked-in" rel="nofollow noopener noreferrer" target="_blank"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="journalsections section"></div>
    <div class="twocolumn section">
        <div class="container">
            <div class="grid">
                <div class="eight--columns edit-mode-left-column-pos">
                    <div class="text section">

                        <div>
                            <p><b><span class="article__highlight">MissionINCLUDE is an inclusion and diversity programme founded by Rupal Kantaria from Oliver Wyman and Liz Dimmock from Moving Ahead.</span></b></p>
                            <p>A lot of the time, diversity initiatives and opportunities like mentoring are only focussed around one diversity characteristic, such as gender, disability, or ethnicity.</p>
                            <p>MissionINCLUDE is different because it does not operate in these siloes and is open to any self-identified diversity characteristic, such as introversion, past experiences, and communication style.</p>
                            <p> </p>

                        </div>
                    </div>
                    <Div class="quoteComponent section">

                        <section class="quote quote--image">
                            <div class="quote__inner cq-dd-image">
                                <div class="grid">
                                    <div class="two--columns">
                                        <div class="image-container">
                                            <img src="~/assets/content/dam/oliver-wyman/v2/media/2018/October/RUPAL-SQUARE.jpg.imgix.squareTile.jpg" alt="Rupal Kantaria" />
                                        </div>
                                    </div>
                                    <div class="eight--columns">
                                        <blockquote class="blockquote">We bring together people from across different companies and sectors to take part in individual and group mentoring. Our approach is helping unlock the boundless potential of people and organisations to achieve amazing things.”</blockquote>
                                        <span class="quote__name">Rupal Kantaria</span>


                                    </div>
                                </div>
                            </div>
                            <div class="quote__footer"></div>
                        </section>
                    </Div>
                    <div class="text section">

                        <div>
                            <p> </p>
                            <p><span class="article__subheader article__subheader--blue">UK companies who have signed up to MissionINCLUDE benefit from three pillars of activities:</span></p>

                        </div>
                    </div>
                    <div class="custom-widget section">

                        <div style='position: relative;width: auto;padding: 0 0 32.68%;height: 0;top: 0;left: 0;bottom: 0;right: 0;margin: 0;border: 0 none' id="experience-5bbb203ad1649"><iframe allowfullscreen src='http://view.ceros.com/oliver-wyman/missioninclude' style='position: absolute;top: 0;left: 0;bottom: 0;right: 0;margin: 0;padding: 0;border: 0 none;height: 1px;width: 1px;min-height: 100%;min-width: 100%' frameborder='0' class='ceros-experience' scrolling='no'></iframe></div>
                        <script type="text/javascript" src="~/assets/view.ceros.com/scroll-proxy.min.js"></script>
                    </div>
                    <div class="modalvideo section">

                        <div class="article__row">
                            <div class="article__row__inner">

                                <div>
                                    <div class="profile-links--video">

                                        <div class="grid">
                                            <div class="four--columns">

                                                <aside>
                                                    <div class="video-module js-image-liquid">
                                                        <div class="video-module__overlay"></div>
                                                        <a class="venobox vbox-item" data-type="youtube" data-autoplay="true" href="https://youtu.be/EocP2B3Eggg" rel="nofollow">
                                                            <span class="video-module__icon" style="top: 42px;"></span>

                                                            <img src="~/assets/content/dam/oliver-wyman/v2/culture/inclusion/MI_thumbnail10.jpg.imgix.videoThumbBig.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                    <h5 class="profile-links--video__title">Introducing MissionINCLUDE</h5>
                                                    <p></p>
                                                </aside>
                                            </div>

                                            <div class="four--columns">

                                                <aside>
                                                    <div class="video-module js-image-liquid">
                                                        <div class="video-module__overlay"></div>
                                                        <a class="venobox vbox-item" data-type="youtube" data-autoplay="true" href="https://youtu.be/OrpeykccYcM" rel="nofollow">
                                                            <span class="video-module__icon" style="top: 42px;"></span>

                                                            <img src="~/assets/content/dam/oliver-wyman/v2/culture/inclusion/MI_thumbnail9.jpg.imgix.videoThumbBig.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                    <h5 class="profile-links--video__title">Launching MissionINCLUDE</h5>
                                                    <p></p>
                                                </aside>
                                            </div>

                                            <div class="four--columns">

                                                <aside>
                                                    <div class="video-module js-image-liquid">
                                                        <div class="video-module__overlay"></div>
                                                        <a class="venobox vbox-item" data-type="youtube" data-autoplay="true" href="https://youtu.be/wa4smrLC7UE" rel="nofollow">
                                                            <span class="video-module__icon" style="top: 42px;"></span>

                                                            <img src="~/assets/content/dam/oliver-wyman/v2/culture/inclusion/MI_thumbnail8.jpg.imgix.videoThumbBig.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                    <h5 class="profile-links--video__title">Reverse mentoring the missionInclude way</h5>
                                                    <p></p>
                                                </aside>
                                            </div>

                                            <div class="four--columns">

                                                <aside>
                                                    <div class="video-module js-image-liquid">
                                                        <div class="video-module__overlay"></div>
                                                        <a class="venobox vbox-item" data-type="youtube" data-autoplay="true" href="https://youtu.be/rwTWAl5yyq0?list=PL-rBgTpIQXAtiGvUrlJHtnA03Kfqtc-RU" rel="nofollow">
                                                            <span class="video-module__icon" style="top: 42px;"></span>

                                                            <img src="~/assets/content/dam/oliver-wyman/v2/culture/inclusion/MI_thumbnail11.jpg.imgix.videoThumbBig.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                    <h5 class="profile-links--video__title">MissionINCLUDE reverse mentoring</h5>
                                                    <p></p>
                                                </aside>
                                            </div>

                                            <div class="four--columns">

                                                <aside>
                                                    <div class="video-module js-image-liquid">
                                                        <div class="video-module__overlay"></div>
                                                        <a class="venobox vbox-item" data-type="youtube" data-autoplay="true" href="https://youtu.be/SjA3gFjFR3I" rel="nofollow">
                                                            <span class="video-module__icon" style="top: 42px;"></span>

                                                            <img src="~/assets/content/dam/oliver-wyman/v2/culture/inclusion/MI_thumbnail7.jpg.imgix.videoThumbBig.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                    <h5 class="profile-links--video__title">How mission include can help CEOs</h5>
                                                    <p></p>
                                                </aside>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="one--column"></div>
                <div class="three--columns edit-mode-right-column-pos">
                </div>
            </div>
        </div>
    </div>
    <div class="tiles section">
        <div class="container">


            <section class="site-section tiles-grid--four-columns scroll--hidden" id="sticky-sidebar-stop">
                <div class="tiles-grid__header-section">
                    <h3 class="tiles-grid__title">Blogs</h3>

                </div>
                <ul>
                    <li class="tile  " style="height: 281px;">
                        <a href="#">
                            <div class="tile__overlay"></div>
                            <figure class="tile__img"><img alt="The Power Of Being Uncomfortable – A Path To True Inclusion" src="~/assets/content/dam/oliver-wyman/v2/media/2018/October/mission-include-tile.jpg.imgix.fourColumnTile.jpg" /></figure>
                            <div class="tile__content">
                                <header class="tile__header">
                                    <span class="tile__tag tag--contact-us">
                                        Oliver Wyman
                                    </span>
                                    <span class="tile__title">The Power Of Being Uncomfortable – A Path To True Inclusion</span>
                                </header>
                                <span class="tile__subtitle">

                                </span>
                            </div>
                            <span class="tile__overflow"></span>
                            <span class="tile__cta">Read more</span>
                        </a>
                    </li>

                    <li class="tile  " style="height: 281px;">
                        <a href="#">
                            <div class="tile__overlay"></div>
                            <figure class="tile__img"><img alt="Empathy and the straight white man: Why reverse mentoring is the solution" src="~/assets/content/dam/oliver-wyman/v2/media/2018/October/White-pen-tile.jpg.imgix.fourColumnTile.jpg" /></figure>
                            <div class="tile__content">
                                <header class="tile__header">
                                    <span class="tile__tag tag--contact-us">
                                        Oliver Wyman
                                    </span>
                                    <span class="tile__title">Empathy and the straight white man: Why reverse mentoring is the solution</span>
                                </header>
                                <span class="tile__subtitle">

                                </span>
                            </div>
                            <span class="tile__overflow"></span>
                            <span class="tile__cta">Read more</span>
                        </a>
                    </li>

                    <li class="tile  " style="height: 281px;">
                        <a href="#">
                            <div class="tile__overlay"></div>
                            <figure class="tile__img"><img alt="How can intersectionality take mentoring further and create lasting positive culture change at work?" src="~/assets/content/dam/oliver-wyman/v2/media/2018/October/Colorful-flags-tile.jpg.imgix.fourColumnTile.jpg" /></figure>
                            <div class="tile__content">
                                <header class="tile__header">
                                    <span class="tile__tag tag--contact-us">
                                        Oliver Wyman
                                    </span>
                                    <span class="tile__title">How can intersectionality take mentoring further and create lasting positive culture change at work?</span>
                                </header>
                                <span class="tile__subtitle">

                                </span>
                            </div>
                            <span class="tile__overflow"></span>
                            <span class="tile__cta">Read more</span>
                        </a>
                    </li>

                    <li class="tile  " style="height: 281px;">
                        <a href="#">
                            <div class="tile__overlay"></div>
                            <figure class="tile__img"><img alt="Towards true inclusion" src="~/assets/content/dam/oliver-wyman/v2/media/2018/October/lightbulbs-tile.jpg.imgix.fourColumnTile.jpg" /></figure>
                            <div class="tile__content">
                                <header class="tile__header">
                                    <span class="tile__tag tag--contact-us">
                                        Oliver Wyman
                                    </span>
                                    <span class="tile__title">Towards true inclusion</span>
                                </header>
                                <span class="tile__subtitle">

                                </span>
                            </div>
                            <span class="tile__overflow"></span>
                            <span class="tile__cta">Read more</span>
                        </a>
                    </li>
                </ul>
            </section>
        </div>
    </div>

    <div>
        <div class="container">

        </div>
    </div>
    <div>

        <div class="expertise scroll--hidden">
            <div class="container">
                <header class="expertise__header">
                    <h3 class="expertise__header__title">
                        OUR <b>EXPERTISE</b>&nbsp;<span class="sapphire"></span>

                    </h3>
                </header>

                <div class="grid">
                    <div class="six--columns">
                        <h4 class="expertise__title">Industries&nbsp;<span class="sapphire"></span></h4>

                        <ul>
                            <li><a href="../../our-expertise/industries/transportation.html">Aviation, Aerospace &amp; Defense</a></li>

                            <li><a href="../../our-expertise/industries/transportation/travel-and-leisure.html">Travel &amp; Leisure</a></li>

                            <li><a href="../../our-expertise/industries/transportation/rail-and-public-transit.html">Rail and Public Transit</a></li>

                            <li><a href="../../our-expertise/industries/automotive.html">Automotive</a></li>

                            <li><a href="../../our-expertise/industries/business-services.html">Business Services</a></li>

                            <li><a href="../../our-expertise/industries/communications-media-and-technology.html">Communications, Media, And Technology</a></li>

                            <li><a href="../../our-expertise/industries/education.html">Education</a></li>

                            <li><a href="../../our-expertise/industries/energy.html">Energy</a></li>

                            <li><a href="../../our-expertise/industries/financial-services.html">Financial Services</a></li>

                            <li><a href="../../our-expertise/industries/health-life-sciences.html">Health And Life Sciences</a></li>

                            <li><a href="../../our-expertise/industries/industrial-products.html">Industrial Products</a></li>

                            <li><a href="../../our-expertise/industries/public-sector.html">Public Sector And Policy</a></li>

                            <li><a href="../../our-expertise/industries/retail-and-consumer-goods.html">Retail And Consumer Goods</a></li>

                            <li><a href="../../our-expertise/industries/transportation.html">Transportation</a></li>

                            <li><a href="../../our-expertise/industries/velocity-podcasts.html">Velocity Podcast</a></li>
                        </ul>
                    </div>

                    <div class="six--columns">
                        <h4 class="expertise__title">capabilities&nbsp;<span class="sapphire"></span></h4>

                        <ul>
                            <li><a href="../../our-expertise/capabilities/actuarial.html">Actuarial</a></li>

                            <li><a href="../../our-expertise/capabilities/climate-sustainability.html">Climate And Sustainability</a></li>

                            <li><a href="../../our-expertise/capabilities/corporate-finance-restructuring.html">Corporate Finance And Restructuring</a></li>

                            <li><a href="../../our-expertise/capabilities/digital.html">Digital</a></li>

                            <li><a href="#">Lippincott: Brand and Innovation</a></li>

                            <li><a href="../../our-expertise/capabilities/digital.html">Oliver Wyman Labs</a></li>

                            <li><a href="../../our-expertise/capabilities/operations.html">Operations</a></li>

                            <li><a href="../../our-expertise/capabilities/organizational-effectiveness.html">Organizational Effectiveness</a></li>

                            <li><a href="../../our-expertise/capabilities/payments.html">Payments</a></li>

                            <li><a href="../../our-expertise/capabilities/pricing-sales-and-marketing.html">Pricing, Sales, And Marketing</a></li>

                            <li><a href="../../our-expertise/capabilities/risk-management.html">Risk Management</a></li>

                            <li><a href="../../our-expertise/capabilities/strategy.html">Strategy</a></li>
                        </ul>

                    </div>

                </div>

            </div>
        </div>

        <div class="expertise expertise--mobile scroll--hidden">
            <div class="container">
                <header class="expertise__header">
                    <h3 class="expertise__header__title"><strong>OUR <b>EXPERTISE</b></strong>&nbsp;<span class="sapphire"></span></h3>

                </header>

                <div class="accordion-group">

                    <div class="accordion js-accordion scroll--hidden">
                        <header class="accordion__header accordion__header--expertise">
                            <h4 class="expertise__title">Industries&nbsp;<span class="blue-footer"></span></h4>
                            <a href="#" class="accordion__toggle js-accordion__toggle"></a>
                        </header>
                        <div class="accordion__content js-accordion__content">

                            <ul>
                                <li><a href="../../our-expertise/industries/transportation.html">Aviation, Aerospace &amp; Defense</a></li>

                                <li><a href="../../our-expertise/industries/transportation/travel-and-leisure.html">Travel &amp; Leisure</a></li>

                                <li><a href="../../our-expertise/industries/transportation/rail-and-public-transit.html">Rail and Public Transit</a></li>

                                <li><a href="../../our-expertise/industries/automotive.html">Automotive</a></li>

                                <li><a href="../../our-expertise/industries/business-services.html">Business Services</a></li>

                                <li><a href="../../our-expertise/industries/communications-media-and-technology.html">Communications, Media, And Technology</a></li>

                                <li><a href="../../our-expertise/industries/education.html">Education</a></li>

                                <li><a href="../../our-expertise/industries/energy.html">Energy</a></li>

                                <li><a href="../../our-expertise/industries/financial-services.html">Financial Services</a></li>

                                <li><a href="../../our-expertise/industries/health-life-sciences.html">Health And Life Sciences</a></li>

                                <li><a href="../../our-expertise/industries/industrial-products.html">Industrial Products</a></li>

                                <li><a href="../../our-expertise/industries/public-sector.html">Public Sector And Policy</a></li>

                                <li><a href="../../our-expertise/industries/retail-and-consumer-goods.html">Retail And Consumer Goods</a></li>

                                <li><a href="../../our-expertise/industries/transportation.html">Transportation</a></li>

                                <li><a href="../../our-expertise/industries/velocity-podcasts.html">Velocity Podcast</a></li>
                            </ul>

                        </div>
                    </div>

                    <div class="accordion js-accordion scroll--hidden">
                        <header class="accordion__header accordion__header--expertise">
                            <h4 class="expertise__title">capabilities&nbsp;<span class="blue-footer"></span></h4>
                            <a href="#" class="accordion__toggle js-accordion__toggle"></a>
                        </header>
                        <div class="accordion__content js-accordion__content">

                            <ul>
                                <li><a href="../../our-expertise/capabilities/actuarial.html">Actuarial</a></li>

                                <li><a href="../../our-expertise/capabilities/climate-sustainability.html">Climate And Sustainability</a></li>

                                <li><a href="../../our-expertise/capabilities/corporate-finance-restructuring.html">Corporate Finance And Restructuring</a></li>

                                <li><a href="../../our-expertise/capabilities/digital.html">Digital</a></li>

                                <li><a href="#">Lippincott: Brand and Innovation</a></li>

                                <li><a href="../../our-expertise/capabilities/digital.html">Oliver Wyman Labs</a></li>

                                <li><a href="../../our-expertise/capabilities/operations.html">Operations</a></li>

                                <li><a href="../../our-expertise/capabilities/organizational-effectiveness.html">Organizational Effectiveness</a></li>

                                <li><a href="../../our-expertise/capabilities/payments.html">Payments</a></li>

                                <li><a href="../../our-expertise/capabilities/pricing-sales-and-marketing.html">Pricing, Sales, And Marketing</a></li>

                                <li><a href="../../our-expertise/capabilities/risk-management.html">Risk Management</a></li>

                                <li><a href="../../our-expertise/capabilities/strategy.html">Strategy</a></li>
                            </ul>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
