
@{
    ViewData["Title"] = "OurHistory";
}

<div>

    <div></div>
    <section class="hero--main hero--main--centered hero__liquid imgLiquid_bgSize imgLiquid_ready cq-dd-image" id="js-hero" style="background-image: url(); background-size: cover; background-position: center center; background-repeat: no-repeat; opacity: 1;">
        <div class="hero--main__overlay"></div>
        <div>
            <div class="homepage-hero-module">
                <div class="video-container">

                    <div class="poster hidden">
                        <img style="display: none;" alt="" src="~/assets/content/dam/oliver-wyman/v2/publications/2017/mar/Our-history-1600X602.png.imgix.banner.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="hero--main__content">
            <div class="hero--main__inner">
                <span class="tag tag--culture">Our Culture</span>
                <h1 class="hero--main__title">Our History</h1>

            </div>
        </div>
        <div class="hero--main__asides-group" style="opacity: 1;">

        </div>
    </section>

    <!--bottom banner*/-->


</div>
<div class="main-content" role="main">

    <div class="footertextmodule section">
        <div class="text-module text-module--fullwidth">
            <div class="container">
                <div class="text-module__row">
                    <div class="grid">
                        <div class="eight--columns">
                            <span class="text-module__header"></span>
                        </div>
                        <div class="four--columns"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footertextmodule section">
        <div class="text-module text-module--fullwidth">
            <div class="container">
                <div class="text-module__row">
                    <div class="grid">
                        <div class="eight--columns">
                            <span class="text-module__header">A HISTORY OF FORWARD THINKING</span>
                            <table style="width: 100.0%;">
                                <tbody>
                                    <tr>
                                        <td style="padding-right: 20.0px;"><img src="~/assets/content/dam/oliver-wyman/v2/culture/history/timeline_list.jpg" style="margin-right: 20.0px;" /></td>
                                        <td>
                                            <p><span class="article__header article__header--light">2019</span></p>
                                            <ul>
                                                <li>Oliver Wyman launches the <a href="#" target="_blank">Oliver Wyman Forum</a>, a platform that strives to bring together business, public policy, and social enterprise leaders to help solve the world’s toughest problems.</li>
                                            </ul>
                                            <p><span class="article__header article__header--light">2018</span></p>
                                            <ul>
                                                <li>Oliver Wyman <a href="../../media-center/2018/jan/oliver-wyman-acquires-the-draw-group.html" target="_blank">acquires The Draw Group</a>, a digital transformation agency, based in the UK.</li>
                                                <li>Oliver Wyman acquires design thinking consultancy <a href="../../media-center/2018/march/oliver-wyman-acquires-design-thinking-consultancy-8works.html" target="_blank">8works</a></li>
                                            </ul>
                                            <p><span class="article__header article__header--light">2017</span></p>
                                            <ul>
                                                <li>
                                                    Oliver Wyman acquires <a href="../../media-center/2017/sep/oliver-wyman-expands-technical-aviation-expertise-in-europe-with-avisa.html" target="_blank">AVISA</a>, a UK based global market leader in aviation consultancy, training and airworthiness management.<br />
                                                </li>
                                            </ul>
                                            <p><span class="article__header article__header--light">2016</span></p>
                                            <ul>
                                                <li>Oliver Wyman acquires LShift, an independent software development company with offices in the UK and Germany.</li>
                                            </ul>
                                            <p><span class="article__header article__header--light">2015</span></p>
                                            <ul>
                                                <li>Oliver Wyman acquires TeamSAI, an aviation consulting company with expertise in technical consulting, safety management and aircraft certification.</li>
                                                <li>Oliver Wyman acquires the business that formerly operated as OC&amp;C Greater China, a management consulting firm focused on Retail and Consumer Goods sectors.</li>
                                            </ul>
                                            <p><span class="article__header article__header--light">2014</span></p>
                                            <ul>
                                                <li>Oliver Wyman acquires Bonfire, an employee engagement and internal communications agency.</li>
                                                <li>Oliver Wyman acquires the business that formerly operated as OC&amp;C Boston, a boutique management consulting firm with strong capabilities in business media, information services, and education.</li>
                                            </ul>
                                            <p><span class="article__header article__header--light">2013</span></p>
                                            <ul>
                                                <li>Oliver Wyman acquires Corven, a boutique management consulting firm focused on Energy.</li>
                                            </ul>
                                            <p><span class="article__header article__header--light">2012</span></p>
                                            <ul>
                                                <li>Oliver Wyman unifies its global capabilities under a single operating model, integrating its industry practices closer together with the launch of five firmwide capability practices, known as &quot;Horizontals.&quot;</li>
                                            </ul>
                                            <p><span class="article__header article__header--light">2008</span></p>
                                            <ul>
                                                <li>Oliver Wyman acquires ChapterHouse.</li>
                                                <li>Oliver Wyman acquires Academee (United Kingdom).</li>
                                                <li>Oliver Wyman acquires Hemeria (France).</li>
                                                <li>Oliver Wyman acquires Celent.</li>
                                                <li>Oliver Wyman acquires Harbour Consulting.</li>
                                            </ul>
                                            <p><span class="article__header article__header--light">2007</span></p>
                                            <ul>
                                                <li>Oliver Wyman officially launches as a unified brand and world-class management consulting firm, leveraging the united power of Mercer Oliver Wyman, Mercer Management Consulting, and Mercer Delta Organizational Consulting.</li>
                                                <li>Mercer MC acquires CAVOK International, Inc. (US).</li>
                                            </ul>
                                            <p><span class="article__header article__header--light">2006</span></p>
                                            <ul>
                                                <li>Mercer MC acquires DiamondCluster International's Continental Europe, Middle East, and South America operations.</li>
                                                <li>Mercer MC acquires MultiModal Applied Systems (US).</li>
                                            </ul>
                                            <p><span class="article__header article__header--light">2005</span></p>
                                            <ul>
                                                <li>Mercer Oliver Wyman forms its Strategic IT practice and a Corporate Risk Consulting group, including practice areas in Enterprise Risk, Actuarial, and Strategic Finance.</li>
                                            </ul>
                                            <p><span class="article__header article__header--light">2004</span></p>
                                            <ul>
                                                <li>Mercer Delta acquires CDR International, LLC (US).</li>
                                                <li>Mercer MC acquires c.r.m. Concord, s.a. (Spain).</li>
                                            </ul>
                                            <p><span class="article__header article__header--light">2003</span></p>
                                            <ul>
                                                <li>Mercer Oliver Wyman formed, following the acquisition of Oliver, Wyman &amp; Company by Marsh &amp; McLennan Companies, Inc.</li>
                                            </ul>
                                            <p><span class="article__header article__header--light">2002</span></p>
                                            <ul>
                                                <li>Mercer Delta acquires Change Management Consultants (France).</li>
                                                <li>Mercer Delta acquires Johnston Smith International, Inc. (Canada).</li>
                                                <li>Mercer MC acquires Informed Sources Holdings Ltd. (UK and US).</li>
                                                <li>Oliver, Wyman &amp; Company acquires Intervaluenet (Italy).</li>
                                            </ul>
                                            <p><span class="article__header article__header--light">2000</span></p>
                                            <ul>
                                                <li>Delta Consulting Group acquired by Marsh &amp; McLennan Companies, Inc.</li>
                                                <li>Mercer MC acquires Análisis y Desarrollo de Proyectos (Mexico).</li>
                                                <li>Mercer MC acquires St. Gallen Consulting Group (Germany and Switzerland).</li>
                                            </ul>
                                            <p><span class="article__header article__header--light">1998</span></p>
                                            <ul>
                                                <li>Mercer MC acquires Dr. Seebauer &amp; Partner GmbH (Germany and Switzerland).</li>
                                                <li>Oliver, Wyman &amp; Company acquires Higginson &amp; Partners (UK).</li>
                                            </ul>
                                            <p><span class="article__header article__header--light">1997</span></p>
                                            <ul>
                                                <li>Mercer MC acquires Corporate Decisions, Inc. (US, UK, France).</li>
                                            </ul>
                                            <p><span class="article__header article__header--light">1995</span></p>
                                            <ul>
                                                <li>Oliver, Wyman &amp; Company establishes presence in the Pacific Rim.</li>
                                                <li>Mercer MC acquires MID S.A. (France).</li>
                                            </ul>
                                            <p><span class="article__header article__header--light">1993</span></p>
                                            <ul>
                                                <li>Mercer MC acquires Unternehmensberatung Munchen GmbH (Germany and Switzerland).</li>
                                            </ul>
                                            <p><span class="article__header article__header--light">1992</span></p>
                                            <ul>
                                                <li>Temple, Barker &amp; Sloane / Strategic Planning Associates name changed to Mercer Management Consulting, Inc.</li>
                                            </ul>
                                            <p><span class="article__header article__header--light">1990</span></p>
                                            <ul>
                                                <li>Merger of Temple, Barker &amp; Sloane and Strategic Planning Associates.</li>
                                                <li>Strategic Planning Associates acquired by Marsh &amp; McLennan Companies, Inc.</li>
                                                <li>Oliver, Wyman &amp; Company creates a dedicated risk management practice that helps transform how financial institutions and major corporations manage risk.</li>
                                            </ul>
                                            <p><span class="article__header article__header--light">1988</span></p>
                                            <ul>
                                                <li>Oliver, Wyman &amp; Company initiates expansion outside of the US with office openings in London and Toronto.</li>
                                            </ul>
                                            <p><span class="article__header article__header--light">1987</span></p>
                                            <ul>
                                                <li>Temple, Barker &amp; Sloane acquired by Marsh &amp; McLennan Companies, Inc.</li>
                                            </ul>
                                            <p><span class="article__header article__header--light">1986</span></p>
                                            <ul>
                                                <li>William M. Mercer acquires Duncan C. Fraser &amp; Co and Future Cost Analysts, forming the initial basis of Oliver Wyman's Risk Finance and Insurance operations.</li>
                                            </ul>
                                            <p><span class="article__header article__header--light">1984</span></p>
                                            <ul>
                                                <li>Oliver, Wyman &amp; Company founded in New York.</li>
                                            </ul>
                                            <p><span class="article__header article__header--light">1980</span></p>
                                            <ul>
                                                <li>Delta Consulting Group founded in New York.</li>
                                            </ul>
                                            <p><span class="article__header article__header--light">1972</span></p>
                                            <ul>
                                                <li>Strategic Planning Associates, Inc. founded in Washington, D.C.</li>
                                            </ul>
                                            <p><span class="article__header article__header--light">1970</span></p>
                                            <ul>
                                                <li>Temple, Barker &amp; Sloane, Inc. founded in Boston.</li>
                                            </ul>
                                            <p><span class="article__header article__header--light">1961</span></p>
                                            <ul>
                                                <li>NERA Economic Consulting, Inc., or National Economic Research Associates, founded.</li>
                                            </ul>
                                            <p><span class="article__header article__header--light">1943</span></p>
                                            <ul>
                                                <li>American brand strategy and design firm Lippincott founded in New York City.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                        </div>
                        <div class="four--columns"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div>
        <div class="container">

        </div>
    </div>
    <div>

        <div class="expertise scroll--hidden">
            <div class="container">
                <header class="expertise__header">
                    <h3 class="expertise__header__title">
                        OUR <b>EXPERTISE</b>&nbsp;<span class="sapphire"></span>
                    </h3>
                </header>

                <div class="grid">
                    <div class="six--columns">
                        <h4 class="expertise__title">Industries&nbsp;<span class="sapphire"></span></h4>

                        <ul>
                            <li><a href="../../our-expertise/industries/transportation.html">Aviation, Aerospace &amp; Defense</a></li>

                            <li><a href="../../our-expertise/industries/transportation/travel-and-leisure.html">Travel &amp; Leisure</a></li>

                            <li><a href="../../our-expertise/industries/transportation/rail-and-public-transit.html">Rail and Public Transit</a></li>

                            <li><a href="../../our-expertise/industries/automotive.html">Automotive</a></li>

                            <li><a href="../../our-expertise/industries/business-services.html">Business Services</a></li>

                            <li><a href="../../our-expertise/industries/communications-media-and-technology.html">Communications, Media, And Technology</a></li>

                            <li><a href="../../our-expertise/industries/education.html">Education</a></li>

                            <li><a href="../../our-expertise/industries/energy.html">Energy</a></li>

                            <li><a href="../../our-expertise/industries/financial-services.html">Financial Services</a></li>

                            <li><a href="../../our-expertise/industries/health-life-sciences.html">Health And Life Sciences</a></li>

                            <li><a href="../../our-expertise/industries/industrial-products.html">Industrial Products</a></li>

                            <li><a href="../../our-expertise/industries/public-sector.html">Public Sector And Policy</a></li>

                            <li><a href="../../our-expertise/industries/retail-and-consumer-goods.html">Retail And Consumer Goods</a></li>

                            <li><a href="../../our-expertise/industries/transportation.html">Transportation</a></li>

                            <li><a href="../../our-expertise/industries/velocity-podcasts.html">Velocity Podcast</a></li>
                        </ul>

                    </div>

                    <div class="six--columns">
                        <h4 class="expertise__title">capabilities&nbsp;<span class="sapphire"></span></h4>

                        <ul>
                            <li><a href="../../our-expertise/capabilities/actuarial.html">Actuarial</a></li>

                            <li><a href="../../our-expertise/capabilities/climate-sustainability.html">Climate And Sustainability</a></li>

                            <li><a href="../../our-expertise/capabilities/corporate-finance-restructuring.html">Corporate Finance And Restructuring</a></li>

                            <li><a href="../../our-expertise/capabilities/digital.html">Digital</a></li>

                            <li><a href="#">Lippincott: Brand and Innovation</a></li>

                            <li><a href="../../our-expertise/capabilities/digital.html">Oliver Wyman Labs</a></li>

                            <li><a href="../../our-expertise/capabilities/operations.html">Operations</a></li>

                            <li><a href="../../our-expertise/capabilities/organizational-effectiveness.html">Organizational Effectiveness</a></li>

                            <li><a href="../../our-expertise/capabilities/payments.html">Payments</a></li>

                            <li><a href="../../our-expertise/capabilities/pricing-sales-and-marketing.html">Pricing, Sales, And Marketing</a></li>

                            <li><a href="../../our-expertise/capabilities/risk-management.html">Risk Management</a></li>

                            <li><a href="../../our-expertise/capabilities/strategy.html">Strategy</a></li>
                        </ul>

                    </div>

                </div>

            </div>
        </div>

        <div class="expertise expertise--mobile scroll--hidden">
            <div class="container">
                <header class="expertise__header">
                    <h3 class="expertise__header__title"><strong>OUR <b>EXPERTISE</b></strong>&nbsp;<span class="sapphire"></span></h3>

                </header>

                <div class="accordion-group">

                    <div class="accordion js-accordion scroll--hidden">
                        <header class="accordion__header accordion__header--expertise">
                            <h4 class="expertise__title">Industries&nbsp;<span class="blue-footer"></span></h4>
                            <a href="#" class="accordion__toggle js-accordion__toggle"></a>
                        </header>
                        <div class="accordion__content js-accordion__content">

                            <ul>
                                <li><a href="../../our-expertise/industries/transportation.html">Aviation, Aerospace &amp; Defense</a></li>

                                <li><a href="../../our-expertise/industries/transportation/travel-and-leisure.html">Travel &amp; Leisure</a></li>

                                <li><a href="../../our-expertise/industries/transportation/rail-and-public-transit.html">Rail and Public Transit</a></li>

                                <li><a href="../../our-expertise/industries/automotive.html">Automotive</a></li>

                                <li><a href="../../our-expertise/industries/business-services.html">Business Services</a></li>

                                <li><a href="../../our-expertise/industries/communications-media-and-technology.html">Communications, Media, And Technology</a></li>

                                <li><a href="../../our-expertise/industries/education.html">Education</a></li>

                                <li><a href="../../our-expertise/industries/energy.html">Energy</a></li>

                                <li><a href="../../our-expertise/industries/financial-services.html">Financial Services</a></li>

                                <li><a href="../../our-expertise/industries/health-life-sciences.html">Health And Life Sciences</a></li>

                                <li><a href="../../our-expertise/industries/industrial-products.html">Industrial Products</a></li>

                                <li><a href="../../our-expertise/industries/public-sector.html">Public Sector And Policy</a></li>

                                <li><a href="../../our-expertise/industries/retail-and-consumer-goods.html">Retail And Consumer Goods</a></li>

                                <li><a href="../../our-expertise/industries/transportation.html">Transportation</a></li>

                                <li><a href="../../our-expertise/industries/velocity-podcasts.html">Velocity Podcast</a></li>
                            </ul>

                        </div>
                    </div>

                    <div class="accordion js-accordion scroll--hidden">
                        <header class="accordion__header accordion__header--expertise">
                            <h4 class="expertise__title">capabilities&nbsp;<span class="blue-footer"></span></h4>
                            <a href="#" class="accordion__toggle js-accordion__toggle"></a>
                        </header>
                        <div class="accordion__content js-accordion__content">

                            <ul>
                                <li><a href="../../our-expertise/capabilities/actuarial.html">Actuarial</a></li>

                                <li><a href="../../our-expertise/capabilities/climate-sustainability.html">Climate And Sustainability</a></li>

                                <li><a href="../../our-expertise/capabilities/corporate-finance-restructuring.html">Corporate Finance And Restructuring</a></li>

                                <li><a href="../../our-expertise/capabilities/digital.html">Digital</a></li>

                                <li><a href="#">Lippincott: Brand and Innovation</a></li>

                                <li><a href="../../our-expertise/capabilities/digital.html">Oliver Wyman Labs</a></li>

                                <li><a href="../../our-expertise/capabilities/operations.html">Operations</a></li>

                                <li><a href="../../our-expertise/capabilities/organizational-effectiveness.html">Organizational Effectiveness</a></li>

                                <li><a href="../../our-expertise/capabilities/payments.html">Payments</a></li>

                                <li><a href="../../our-expertise/capabilities/pricing-sales-and-marketing.html">Pricing, Sales, And Marketing</a></li>

                                <li><a href="../../our-expertise/capabilities/risk-management.html">Risk Management</a></li>

                                <li><a href="../../our-expertise/capabilities/strategy.html">Strategy</a></li>
                            </ul>

                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>
