
@{
    ViewData["Title"] = "OurImpact";
}

<div>
    <div></div>
    <section class="hero--main hero--main--left hero__liquid imgLiquid_bgSize imgLiquid_ready cq-dd-image" id="js-hero" style="background-image: url(); background-size: cover; background-position: center center; background-repeat: no-repeat; opacity: 1;">
        <div class="hero--main__overlay"></div>
        <div>
            <div class="homepage-hero-module">
                <div class="video-container">

                    <div class="poster hidden">
                        <img style="display: none;" alt="" src="~/assets/content/dam/oliver-wyman/v2/banners/OurCulture/our-impact-1600x602-GropCrop.jpg.imgix.banner.jpg" />
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__content" id="js-hero__content" style="top: 101px; opacity: 1;">
            <div class="hero--main__inner">
                <div class="grid">
                    <div class="eight--columns">
                        <span class="tag tag--culture">Our Culture</span>
                        <h1 class="hero--main__title">Our Impact</h1>
                        <p class="hero__lead">Oliver Wyman people carve out their own areas of expertise within our diverse, non-hierarchical partnership. They are free to challenge conventional thinking, identify new opportunities, and develop unique solutions for our clients</p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--bottom banner*/-->

</div>
<div class="main-content" role="main">
    <div>

        <div class="page__header">
            <div class="container">
                <div class="page__header__inner">
                    <div class="grid">
                        <div class="eight--columns">

                            <div class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                                <span itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <a asp-action="OurCulture" itemprop="item">
                                        <span itemprop="name">Our Culture</span>
                                    </a>
                                    <meta itemprop="position" content="1" />
                                </span>

                                <span itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <a asp-action="OurImpact" itemprop="item">
                                        <span itemprop="name">Our Impact</span>
                                    </a>
                                    <meta itemprop="position" content="2" />
                                </span>
                            </div>

                        </div>
                        <div class="four--columns">
                            <div class="article-info__social social">
                                <ul class="social-share-icons color">
                                    <li>Share</li>

                                    <li><a href="#" class="social__facebook" rel="nofollow noopener noreferrer" target="_blank"></a></li>

                                    <li><a href="#" class="social__twitter" rel="nofollow noopener noreferrer" target="_blank"></a></li>
                                    <li><a href="#" class="social__linked-in" rel="nofollow noopener noreferrer" target="_blank"></a></li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <article class="article">
        <section class="article__section">
            <div class="container">
                <div class="grid">
                    <div class="eight--columns">
                        <div class="article__main">
                            <div class="text section">

                                <div>
                                    <p>Oliver Wyman is comprised of thought leaders who enjoy working together. We select the best people for each project, regardless of where they are based. The result is a “dream team” of individual experts who are also gifted collaborators – across disciplines, and at every level in client organizations.</p>
                                    <p>We only engage where we can add genuine value. Beyond tangible impact on clients’ top and bottom lines, the Oliver Wyman difference takes many forms. Here are some of the roles we play for clients, their industries, and the larger society:</p>

                                </div>
                            </div>

                        </div>
                    </div><!-- end main column -->
                    <div class="one--column"></div>
                    <div class="three--columns">
                        <div class="article__sidebar">


                        </div><!-- End sidebar -->
                    </div><!-- End aside-->
                </div><!-- End Grid -->
            </div>
        </section>
    </article>
    <div class="impactsection section">
        <section class="impact-section impact-section--dark impact-section--bg-image js-image-liquid">
            <div class="impact-section--bg-image__image">
                <img src="~/assets/content/dam/oliver-wyman/v2/culture/standout-bg-blue.jpg" alt="" />
            </div>
            <div class="impact-section--bg-image__inner">
                <div class="container">
                    <div class="grid">
                        <div class="eight--columns">
                            <div class="text section">

                                <div>
                                    <p><span class="article__header">Transforming Business and Society</span></p>
                                    <p>Female leaders at Oliver Wyman are influencing at the highest level and driving real change on the most important issues of our time – from better healthcare, to advising on Brexit and guiding on the growing use of analytics. Each of these partners is having an impact on our client’s business and on society more broadly. </p>

                                </div>
                            </div>
                            <div class="modalvideo section">

                                <div class="article__row">
                                    <div class="article__row__inner">


                                        <div>
                                            <!-- End Multi video -->

                                            <div>
                                                <style>
                                                    .embed-container {
                                                        position: relative;
                                                        padding-bottom: 56.25%;
                                                        height: 0;
                                                        overflow: hidden;
                                                        max-width: 100%;
                                                        height: auto;
                                                    }

                                                        .embed-container iframe, .embed-container object, .embed-container embed {
                                                            position: absolute;
                                                            top: 0;
                                                            left: 0;
                                                            width: 100%;
                                                            height: 100%;
                                                        }
                                                </style><div class='embed-container'><iframe src='#' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
                                            </div>

                                            <h5 class="profile-links--video__title"></h5>
                                            <p></p>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="one--column"></div>
                        <div class="three--columns"></div>
                    </div>
                </div>
            </div>
        </section>


    </div>
    <div class="footertextmodule section">
        <div class="text-module text-module--fullwidth">
            <div class="container">
                <div class="text-module__row">
                    <div class="grid">
                        <div class="eight--columns">
                            <span class="text-module__header">Leading the discussion</span>
                            <p>Oliver Wyman’s annual <a href="../our-expertise/hubs/the-state-of-the-financial-services-industry-2019.html">State of the Financial Services Industry Report</a>, launched each year at the World Economic Forum, draws on our experience with most of the world’s largest 400 financial institutions, along with regulators and government agencies.</p>
                            <p>We are a leading interlocutor at the intersection of healthcare payers, providers, and life science companies. More than 500 C-Suite leaders participate in our Healthcare Innovation Summit every year.</p>
                            <div class="quote">
                                <div class="quote__inner">
                                    <blockquote class="blockquote">Our goal is to move beyond discussion to deep understanding to accelerate the trajectory of the shifting marketplace. Our carefully curated speakers amplify our purpose-built agenda, focusing on the growing consumer imperative in healthcare.</blockquote>
                                    <span class="quote__name">Terry Stone</span> <span class="quote__role">Global Managing Partner, Health &amp; Life Sciences</span>
                                </div>
                                <div class="quote__footer"> </div>
                            </div>

                            <a href="../our-expertise/hubs/the-state-of-the-financial-services-industry-2019.html" class="btn--main">Read the report</a>
                        </div>
                        <div class="four--columns"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="impactsection section">
        <section class="impact-section impact-section--dark impact-section--bg-image js-image-liquid">
            <div class="impact-section--bg-image__image">
                <img src="~/assets/content/dam/oliver-wyman/v2/culture/standout-section-bg.jpg" alt="" />
            </div>
            <div class="impact-section--bg-image__inner">
                <div class="container">
                    <div class="grid">
                        <div class="eight--columns">
                            <div class="text section">

                                <div>
                                    <p><span class="article__header"><span style="letter-spacing: -0.1px;">Charting new futures</span></span></p>
                                    <p><span class="article__highlight">Oliver Wyman has a superb record helping complex organizations reshape themselves. We have engineered turnarounds at leading auto companies, helped retailers improve their competitive positions, and served as midwife to more airline mergers than any other advisor.</span></p>
                                    <p>Following a national bankruptcy, Iceland selected Oliver Wyman to help reshape the country’s financial infrastructure to prevent any chance of a repeat. Since then, we have become the advisor of choice to gauge the strength of banks and banking systems around the world.</p>

                                </div>
                            </div>
                            <div class="modalvideo section">

                                <div class="article__row">
                                    <div class="article__row__inner">


                                        <div>
                                            <!-- End Multi video -->


                                            <div>
                                                <style>
                                                    .embed-container {
                                                        position: relative;
                                                        padding-bottom: 56.25%;
                                                        height: 0;
                                                        overflow: hidden;
                                                        max-width: 100%;
                                                        height: auto;
                                                    }

                                                        .embed-container iframe, .embed-container object, .embed-container embed {
                                                            position: absolute;
                                                            top: 0;
                                                            left: 0;
                                                            width: 100%;
                                                            height: 100%;
                                                        }
                                                </style><div class='embed-container'><iframe src='#' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
                                            </div>

                                            <h5 class="profile-links--video__title"></h5>
                                            <p></p>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="one--column"></div>
                        <div class="three--columns"></div>
                    </div>
                </div>
            </div>
        </section>


    </div>
    <div class="impactsection section">
        <section class="impact-section impact-section--dark impact-section--bg-image js-image-liquid">
            <div class="impact-section--bg-image__image">
                <img src="~/assets/content/dam/oliver-wyman/v2/culture/impact/owl-homepage-hero-blur-impact.jpg" alt="" />
            </div>
            <div class="impact-section--bg-image__inner">
                <div class="container">
                    <div class="grid">
                        <div class="eight--columns">
                            <div class="text section">

                                <div>
                                    <p><span class="article__header">Applying transformative technologies</span></p>
                                    <p>Data-driven insights from Oliver Wyman analytics have helped our clients realize over $2 billion in new value. Our expertise in the Digitization of industrial processes is helping unleash what some observers call the new Industrial Revolution.</p>

                                </div>
                            </div>
                            <div class="impactgrid section">
                                <div class="impact-section__row">

                                    <div class="impact-asides">
                                        <div class="grid">
                                            <div class="four--columns">
                                                <a href="../our-expertise/capabilities/digital.html">
                                                    <aside class="impact-asides__item">
                                                        <div class="impact-asides__media-container">
                                                            <img src="~/assets/content/dam/oliver-wyman/global/en/2016/nov/Digital-Insights-Landing-Page-1600x602.gif.imgix.owimpactgrid.gif" alt="Digital" />
                                                        </div>
                                                        <span class="impact-asides__title">Digital</span>
                                                        <span class="impact-asides__subtitle">We have a dedicated cross-industry team helping clients not only to capitalize on opportunities created by digital technology but also to anticipate and neutralize the strategic threats.</span>
                                                    </aside>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="one--column"></div>
                        <div class="three--columns"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="footertextmodule section">
        <div class="text-module text-module--fullwidth">
            <div class="container">
                <div class="text-module__row">
                    <div class="grid">
                        <div class="eight--columns">
                            <span class="text-module__header">Designing shared solutions</span>
                            <p>Our annual World Energy Trilemma reports for the World Energy Council help businesses and governments cooperate and innovate to achieve secure, affordable, sustainable energy systems.</p>
                            <p>We work across industry, institutional, and national lines to support infrastructure investment and develop logistical solutions for the world’s new megacities, and address the effects of climate change.</p>

                            <a href="../our-expertise/insights/2017/nov/world-energy-trilemma-2017.html" class="btn--main">World Energy Trilemma </a>
                        </div>
                        <div class="four--columns"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footertextmodule section">
        <div class="text-module text-module--fullwidth">
            <div class="container">
                <div class="text-module__row">
                    <div class="grid">
                        <div class="eight--columns">
                            <span class="text-module__header">Recognition and Accolades</span>
                            <p>Oliver Wyman is honored to be recognized by external organizations for achievements made both by the company and by its exceptional individuals.</p>

                            <a href="our-impact/recognition-and-accolades.html" class="btn--main">Learn More</a>
                        </div>
                        <div class="four--columns"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div>


        <div class="page-share">
            <div class="container">
                <div class="page-share__inner">
                    <div class="article__footer__social social">
                        <ul class="social-share-icons color">
                            <li>Share</li>

                            <li><a href="#" class="social__facebook" rel="nofollow noopener noreferrer" target="_blank"></a></li>

                            <li><a href="#" class="social__twitter" rel="nofollow noopener noreferrer" target="_blank"></a></li>
                            <li><a href="#" class="social__linked-in" rel="nofollow noopener noreferrer" target="_blank"></a></li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div>

        <div class="expertise scroll--hidden">
            <div class="container">
                <header class="expertise__header">
                    <h3 class="expertise__header__title">
                        OUR <b>EXPERTISE</b>&nbsp;<span class="sapphire"></span>

                    </h3>
                </header>

                <div class="grid">
                    <div class="six--columns">
                        <h4 class="expertise__title">Industries&nbsp;<span class="sapphire"></span></h4>

                        <ul>
                            <li><a href="#">Aviation, Aerospace &amp; Defense</a></li>

                            <li><a href="#">Travel &amp; Leisure</a></li>

                            <li><a href="#">Rail and Public Transit</a></li>

                            <li><a href="#">Automotive</a></li>

                            <li><a href="#">Business Services</a></li>

                            <li><a href="#">Communications, Media, And Technology</a></li>

                            <li><a href="#">Education</a></li>

                            <li><a href="#">Energy</a></li>

                            <li><a href="#">Financial Services</a></li>

                            <li><a href="#">Health And Life Sciences</a></li>

                            <li><a href="#">Industrial Products</a></li>

                            <li><a href="#">Public Sector And Policy</a></li>

                            <li><a href="#">Retail And Consumer Goods</a></li>

                            <li><a href="#">Transportation</a></li>

                            <li><a href="#">Velocity Podcast</a></li>
                        </ul>

                    </div>

                    <div class="six--columns">
                        <h4 class="expertise__title">capabilities&nbsp;<span class="sapphire"></span></h4>

                        <ul>
                            <li><a href="#">Actuarial</a></li>

                            <li><a href="#">Climate And Sustainability</a></li>

                            <li><a href="#">Corporate Finance And Restructuring</a></li>

                            <li><a href="#">Digital</a></li>

                            <li><a href="#">Lippincott: Brand and Innovation</a></li>

                            <li><a href="#">Oliver Wyman Labs</a></li>

                            <li><a href="#">Operations</a></li>

                            <li><a href="#">Organizational Effectiveness</a></li>

                            <li><a href="#">Payments</a></li>

                            <li><a href="#">Pricing, Sales, And Marketing</a></li>

                            <li><a href="#">Risk Management</a></li>

                            <li><a href="#">Strategy</a></li>
                        </ul>

                    </div>

                </div>

            </div>
        </div>

        <div class="expertise expertise--mobile scroll--hidden">
            <div class="container">
                <header class="expertise__header">
                    <h3 class="expertise__header__title"><strong>OUR <b>EXPERTISE</b></strong>&nbsp;<span class="sapphire"></span></h3>

                </header>

                <div class="accordion-group">

                    <div class="accordion js-accordion scroll--hidden">
                        <header class="accordion__header accordion__header--expertise">
                            <h4 class="expertise__title">Industries&nbsp;<span class="blue-footer"></span></h4>
                            <a href="#" class="accordion__toggle js-accordion__toggle"></a>
                        </header>
                        <div class="accordion__content js-accordion__content">

                            <ul>
                                <li><a href="#">Aviation, Aerospace &amp; Defense</a></li>

                                <li><a href="#">Travel &amp; Leisure</a></li>

                                <li><a href="#">Rail and Public Transit</a></li>

                                <li><a href="#">Automotive</a></li>

                                <li><a href="#">Business Services</a></li>

                                <li><a href="#">Communications, Media, And Technology</a></li>

                                <li><a href="#">Education</a></li>

                                <li><a href="#">Energy</a></li>

                                <li><a href="#">Financial Services</a></li>

                                <li><a href="#">Health And Life Sciences</a></li>

                                <li><a href="#">Industrial Products</a></li>

                                <li><a href="#">Public Sector And Policy</a></li>

                                <li><a href="#">Retail And Consumer Goods</a></li>

                                <li><a href="#">Transportation</a></li>

                                <li><a href="#">Velocity Podcast</a></li>
                            </ul>

                        </div>
                    </div>

                    <div class="accordion js-accordion scroll--hidden">
                        <header class="accordion__header accordion__header--expertise">
                            <h4 class="expertise__title">capabilities&nbsp;<span class="blue-footer"></span></h4>
                            <a href="#" class="accordion__toggle js-accordion__toggle"></a>
                        </header>
                        <div class="accordion__content js-accordion__content">

                            <ul>
                                <li><a href="#">Actuarial</a></li>

                                <li><a href="#">Climate And Sustainability</a></li>

                                <li><a href="#">Corporate Finance And Restructuring</a></li>

                                <li><a href="#">Digital</a></li>

                                <li><a href="#">Lippincott: Brand and Innovation</a></li>

                                <li><a href="#">Oliver Wyman Labs</a></li>

                                <li><a href="#">Operations</a></li>

                                <li><a href="#">Organizational Effectiveness</a></li>

                                <li><a href="#">Payments</a></li>

                                <li><a href="#">Pricing, Sales, And Marketing</a></li>

                                <li><a href="#">Risk Management</a></li>

                                <li><a href="#">Strategy</a></li>
                            </ul>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
