
@{
    ViewData["Title"] = "OurValues";
}

<div>

    <div></div>

    <section class="hero--main hero--main--left hero__liquid imgLiquid_bgSize imgLiquid_ready cq-dd-image" id="js-hero" style="background-image: url(); background-size: cover; background-position: center center; background-repeat: no-repeat; opacity: 1;">
        <div class="hero--main__overlay"></div>
        <div>
            <div class="homepage-hero-module">
                <div class="video-container">

                    <div class="poster hidden">
                        <img style="display: none;" alt="" src="~/assets/content/dam/oliver-wyman/v2/banners/OurCulture/OurValues-GropCrop-1600x602.jpg.imgix.banner.jpg" />
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__content" id="js-hero__content" style="top: 101px; opacity: 1;">
            <div class="hero--main__inner">
                <div class="grid">
                    <div class="eight--columns">
                        <span class="tag tag--culture">Our Culture</span>
                        <h1 class="hero--main__title">Our Values</h1>
                        <p class="hero__lead">An environment where exceptional people can thrive</p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--bottom banner*/-->


</div>
<div class="main-content" role="main">
    <div>

        <div class="page__header">
            <div class="container">
                <div class="page__header__inner">
                    <div class="grid">
                        <div class="eight--columns">

                            <div class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                                <span itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <a href="../our-culture.html" itemprop="item">
                                        <span itemprop="name">Our Culture</span>
                                    </a>
                                    <meta itemprop="position" content="1" />
                                </span>

                                <span itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <a href="our-values.html" itemprop="item">
                                        <span itemprop="name">Our Values</span>
                                    </a>
                                    <meta itemprop="position" content="2" />
                                </span>
                            </div>

                        </div>
                        <div class="four--columns">
                            <div class="article-info__social social">
                                <ul class="social-share-icons color">
                                    <li>Share</li>

                                    <li><a href="#" class="social__facebook" rel="nofollow noopener noreferrer" target="_blank"></a></li>

                                    <li><a href="#" class="social__twitter" rel="nofollow noopener noreferrer" target="_blank"></a></li>
                                    <li><a href="#" class="social__linked-in" rel="nofollow noopener noreferrer" target="_blank"></a></li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <article class="article">
        <section class="article__section">
            <div class="container">
                <div class="grid">
                    <div class="eight--columns">
                        <div class="article__main">
                            <div class="text section">

                                <div>
                                    <p>We value exceptional people - people with intelligence, energy, passion, emotional sensitivity, and a commitment to excellence. We refuse to compromise by hiring those who do not meet our high standards. We believe that if we have common aspirations, a non-hierarchical environment based on respect, and no artificial barriers to advancement, then exceptional people will realize their potential.</p>

                                </div>
                            </div>
                            <Div class="quoteComponent section">



                                <div class="article__row">
                                    <div class="article__row__inner cq-dd-image">
                                        <section class="quote">
                                            <div class="quote__inner">
                                                <blockquote class="blockquote">Everything we do is driven by our values. We search for self-starters and free-thinkers who want to work together and share success.</blockquote>
                                                <span class="quote__name">SCOTT MCDONALD,</span>
                                                <span class="quote__role">PRESIDENT AND CEO,</span>
                                                <span class="quote__company">OLIVER WYMAN</span>
                                            </div>
                                            <div class="quote__footer"></div>
                                        </section>
                                    </div>
                                </div>

                            </Div>


                        </div>
                    </div><!-- end main column -->
                    <div class="one--column"></div>
                    <div class="three--columns">
                        <div class="article__sidebar">


                        </div><!-- End sidebar -->
                    </div><!-- End aside-->
                </div><!-- End Grid -->
            </div>
        </section>
    </article>
    <div class="ourvaluesgrid section">
        <section class="tiles-grid tiles-grid--our-values scroll--hidden">
            <div class="container">
                <ul>
                    <li class="tile tile--our-values" style="height: 379px;">
                        <a class="lightbox-gallery--trigger vbox-item" data-gall="our-values-gallery-ourvaluesgrid" data-type="inline" href="#our-values-gallery-ourvaluesgrid--content-1">
                            <div class="tile__overlay" style="opacity: 0.4;"></div>
                            <figure class="tile--our-values__img"><img src="~/assets/content/dam/oliver-wyman/v2/culture/values/Self-starters-free-thinkers-460x460.jpg.imgix.modalgrid.jpg" alt="" /></figure>

                            <span class="tile--our-values__content" style="opacity: 0;">
                                <span class="tile--our-values__content__inner">
                                    <p>We are individuals who are self-starting, motivated, energetic, entrepreneurial and passionate about what we do. </p>
                                    <span href="#" class="btn--main">Find out more</span>
                                </span>
                            </span>

                            <span class="tile--our-values__footer" style="opacity: 1;">Self-starters and free thinkers who work well in teams</span>
                        </a>
                    </li>

                    <li class="tile tile--our-values" style="height: 379px;">
                        <a class="lightbox-gallery--trigger vbox-item" data-gall="our-values-gallery-ourvaluesgrid" data-type="inline" href="#our-values-gallery-ourvaluesgrid--content-2">
                            <div class="tile__overlay" style="opacity: 0.4;"></div>
                            <figure class="tile--our-values__img"><img src="~/assets/content/dam/oliver-wyman/v2/culture/values/Common-Aspiration_Collective%20Endeavor_460x460.jpg.imgix.modalgrid.jpg" alt="" /></figure>

                            <span class="tile--our-values__content" style="opacity: 0;">
                                <span class="tile--our-values__content__inner">
                                    <p>We have the common aspiration to have an impact, leave a legacy and change the world. </p>
                                    <span href="#" class="btn--main">Find out more</span>
                                </span>
                            </span>

                            <span class="tile--our-values__footer" style="opacity: 1;">Common aspiration, collective endeavour, shared success</span>
                        </a>
                    </li>

                    <li class="tile tile--our-values" style="height: 379px;">
                        <a class="lightbox-gallery--trigger vbox-item" data-gall="our-values-gallery-ourvaluesgrid" data-type="inline" href="#our-values-gallery-ourvaluesgrid--content-3">
                            <div class="tile__overlay" style="opacity: 0.4;"></div>
                            <figure class="tile--our-values__img"><img src="~/assets/content/dam/oliver-wyman/v2/culture/values/Straightforward_Open_Respectful%20Interaction-460x460.jpg.imgix.modalgrid.jpg" alt="" /></figure>

                            <span class="tile--our-values__content" style="opacity: 0;">
                                <span class="tile--our-values__content__inner">
                                    <p>We value an environment where every member of Oliver Wyman is encouraged and expected to voice his or her opinion. </p>
                                    <span href="#" class="btn--main">Find out more</span>
                                </span>
                            </span>

                            <span class="tile--our-values__footer" style="opacity: 1;">Straightforward, open, respectful interaction</span>
                        </a>
                    </li>

                    <li class="tile tile--our-values" style="height: 379px;">
                        <a class="lightbox-gallery--trigger vbox-item" data-gall="our-values-gallery-ourvaluesgrid" data-type="inline" href="#our-values-gallery-ourvaluesgrid--content-4">
                            <div class="tile__overlay" style="opacity: 0.4;"></div>
                            <figure class="tile--our-values__img"><img src="~/assets/content/dam/oliver-wyman/v2/culture/values/Opportunity-without-barriers_Anti-Kudzu-460x460.jpg.imgix.modalgrid.jpg" alt="" /></figure>

                            <span class="tile--our-values__content" style="opacity: 0;">
                                <span class="tile--our-values__content__inner">
                                    <p>We value merit and believe that to create a true meritocracy we need to remove artificial barriers to opportunity.</p>
                                    <span href="#" class="btn--main">Find out more</span>
                                </span>
                            </span>

                            <span class="tile--our-values__footer" style="opacity: 1;">Opportunity without artificial barriers, anti-kudzu</span>
                        </a>
                    </li>

                    <li class="tile tile--our-values" style="height: 379px;">
                        <a class="lightbox-gallery--trigger vbox-item" data-gall="our-values-gallery-ourvaluesgrid" data-type="inline" href="#our-values-gallery-ourvaluesgrid--content-5">
                            <div class="tile__overlay" style="opacity: 0.4;"></div>
                            <figure class="tile--our-values__img"><img src="~/assets/content/dam/oliver-wyman/v2/culture/values/Balanced-lives-sense-of-fun-460x460.jpg.imgix.modalgrid.jpg" alt="" /></figure>

                            <span class="tile--our-values__content" style="opacity: 0;">
                                <span class="tile--our-values__content__inner">
                                    <p>We value people whose lives balance work and non-work activities because we believe they are both more interesting colleagues and are able to make better contributions to the Firm. </p>
                                    <span href="#" class="btn--main">Find out more</span>
                                </span>
                            </span>

                            <span class="tile--our-values__footer" style="opacity: 1;">Balanced lives and a sense of fun </span>
                        </a>
                    </li>
                </ul>

                <!--Lightbox gallery content-->

                <div class="lightbox-gallery__focus">
                    <div class="lightbox-gallery__profile" id="our-values-gallery-ourvaluesgrid--content-1">
                        <div class="lightbox-gallery__profile__inner">
                            <div class="grid">
                                <div class="three--columns">
                                    <div class="lightbox-gallery__profile__image">
                                        <img src="~/assets/content/dam/oliver-wyman/v2/culture/values/Self-starters-free-thinkers-460x460.jpg.imgix.modalgrid.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="nine--columns">
                                    <div class="lightbox-gallery__content">

                                        <h4 class="lightbox-gallery__content__title">Self-starters and free thinkers who work well in teams</h4>

                                        <p>
                                            We are individuals who are self-starting, motivated, energetic, entrepreneurial and passionate about what we do. We value free spirits and free thinkers who are not constrained by convention, but who are able to absorb everything that has come before and improve on it. However, we work at our best together and seek those who thrive in teams and understand the power of working with others. This approach to harnessing free thinking within teams creates a powerful growth engine for the firm.

                                            How do we do this? Our Human Capital strategy is to focus on finding and nurturing those who have energy and can think for themselves; on taking risks by hiring free spirits; and on development, review and compensation processes focused on assessing individual contribution in the context of team success.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Item -->

                    <div class="lightbox-gallery__profile" id="our-values-gallery-ourvaluesgrid--content-2">
                        <div class="lightbox-gallery__profile__inner">
                            <div class="grid">
                                <div class="three--columns">
                                    <div class="lightbox-gallery__profile__image">
                                        <img src="~/assets/content/dam/oliver-wyman/v2/culture/values/Common-Aspiration_Collective%20Endeavor_460x460.jpg.imgix.modalgrid.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="nine--columns">
                                    <div class="lightbox-gallery__content">

                                        <h4 class="lightbox-gallery__content__title">Common aspiration, collective endeavour, shared success</h4>

                                        <p>
                                            We have the common aspiration to have an impact, leave a legacy and change the world. We have no interest in running a steady-state business. We want to build, grow and shape the environment around us. By acting in concert, with shared goals, we are more likely to succeed in these endeavors and will gain more enjoyment and fulfillment than if we operate only as individuals. Each of us has a unique role to play at Oliver Wyman and will share in our collective success.

                                            How do we do this? We put continuous energy and attention on alignment with purpose and values. We create business processes to promote and reward contributions to asset building and to shared success. We strive for equitable sharing of recognition and financial success.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Item -->

                    <div class="lightbox-gallery__profile" id="our-values-gallery-ourvaluesgrid--content-3">
                        <div class="lightbox-gallery__profile__inner">
                            <div class="grid">
                                <div class="three--columns">
                                    <div class="lightbox-gallery__profile__image">
                                        <img src="~/assets/content/dam/oliver-wyman/v2/culture/values/Straightforward_Open_Respectful%20Interaction-460x460.jpg.imgix.modalgrid.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="nine--columns">
                                    <div class="lightbox-gallery__content">

                                        <h4 class="lightbox-gallery__content__title">Straightforward, open, respectful interaction</h4>

                                        <p>
                                            We value an environment where every member of Oliver Wyman is encouraged and expected to voice his or her opinion. We value straightforward communication and behavior, and we will strive to communicate our views in as direct and comprehensible a way as possible. We expect each other to be open and non-hierarchical; anyone at any level in the firm should expect to have access to anyone else and should feel free to speak his or her mind. We expect all interaction to be respectful, even when people disagree. We understand that each of us has a unique and important role to play at Oliver Wyman and we respect everyone’s contribution.

                                            How do we do this? We strive for clear communication and high transparency at all levels and across all parts of the firm. We set development objectives for everyone to make contributions and try to avoid relying on anonymous input. We don’t tolerate disrespectful behavior and we have strong sanctions in place for those who behave disrespectfully.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Item -->

                    <div class="lightbox-gallery__profile" id="our-values-gallery-ourvaluesgrid--content-4">
                        <div class="lightbox-gallery__profile__inner">
                            <div class="grid">
                                <div class="three--columns">
                                    <div class="lightbox-gallery__profile__image">
                                        <img src="~/assets/content/dam/oliver-wyman/v2/culture/values/Opportunity-without-barriers_Anti-Kudzu-460x460.jpg.imgix.modalgrid.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="nine--columns">
                                    <div class="lightbox-gallery__content">

                                        <h4 class="lightbox-gallery__content__title">Opportunity without artificial barriers, anti-kudzu</h4>

                                        <p>We value merit and believe that to create a true meritocracy we need to remove artificial barriers to opportunity. Opportunity can mean advancement, financial benefits or recognition and respect. We reject rewards or entitlements based purely on factors unrelated to valued outputs - - factors like tenure, internal friendships or “connections.” We work actively to ensure that opportunities will be open to those in the firm most able to pursue them advantageously. We work hard to avoid bias in our ability to understand and recognize merit. We also believe meritocracy requires us to give our people the room to operate and we will strip away unnecessary bureaucracy (which we call “kudzu”), allowing our people to fulfill their potential without the constraint of inefficient or unproductive processes. How do we do this? We have built a strong performance review process that is based on objective criteria and wide-ranging input. We conduct on-going challenges to our views on merit to test our biases. We have strong expectations for continuing contributions from every member of the firm. We allow for early promotion into more responsibility where merited. We rotate roles regularly and we have a clear &#34;Best Foot Forward&#34; process in place to ensure we align ability with opportunity. We are constantly testing our internal processes to ensure minimal bureaucracy.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Item -->

                    <div class="lightbox-gallery__profile" id="our-values-gallery-ourvaluesgrid--content-5">
                        <div class="lightbox-gallery__profile__inner">
                            <div class="grid">
                                <div class="three--columns">
                                    <div class="lightbox-gallery__profile__image">
                                        <img src="~/assets/content/dam/oliver-wyman/v2/culture/values/Balanced-lives-sense-of-fun-460x460.jpg.imgix.modalgrid.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="nine--columns">
                                    <div class="lightbox-gallery__content">

                                        <h4 class="lightbox-gallery__content__title">Balanced lives and a sense of fun </h4>

                                        <p>
                                            We value people whose lives balance work and non-work activities because we believe they are both more interesting colleagues and are able to make better contributions to the Firm. We push ourselves hard to deliver excellence, but we also work to extract the maximum benefit from the flexibility of a project-based business. We provide the ability to take career breaks for personal or family reasons. We fundamentally value each other’s time, and are sensitive to how it is used. We are an output not input-based culture, have respect for people’s personal decisions, and believe that one&#39;s workload must be sustainable. We seek balance for ourselves and our colleagues. We also believe work should be enjoyable and fun, even when intense. That requires not taking ourselves too seriously and understanding that the journey as well as the destination need to be enjoyable.

                                            How do we do this? First we have developed a clear articulation of what work-life sustainability really means and we have put in processes to monitor and correct unbalanced lives. We always strive to have a strong mentorship system. We promote and build our firm’s culture in a way that values enjoyment at work, not just after work.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Item -->
                </div><!-- End Gallery -->
            </div>
        </section>
    </div>
    <div class="footertextmodule section">
        <div class="text-module text-module--fullwidth">
            <div class="container">
                <div class="text-module__row">
                    <div class="grid">
                        <div class="eight--columns">
                            <span class="text-module__header">A BETTER WAY TO MAKE LASTING CONTRIBUTIONS</span>
                            <p>We are passionate about getting the right answer and the best solution, not just a &quot;good enough&quot; answer or solution. We strive to go deeper into issues and challenge conventional wisdom. We are intellectually curious and energetic, searching for ideas, insights, solutions and techniques that will create lasting contributions.</p>


                        </div>
                        <div class="four--columns"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="ourvaluesgrid section">
        <section class="tiles-grid tiles-grid--our-values scroll--hidden">
            <div class="container">
                <ul>
                    <li class="tile tile--our-values" style="height: 379px;">
                        <a class="lightbox-gallery--trigger vbox-item" data-gall="our-values-gallery-ourvaluesgrid_0" data-type="inline" href="#our-values-gallery-ourvaluesgrid_0--content-1">
                            <div class="tile__overlay" style="opacity: 0.4;"></div>
                            <figure class="tile--our-values__img"><img src="~/assets/content/dam/oliver-wyman/v2/culture/values/Commitment-to-what-is-right-460x460.jpg.imgix.modalgrid.jpg" alt="" /></figure>

                            <span class="tile--our-values__content" style="opacity: 0;">
                                <span class="tile--our-values__content__inner">
                                    <p>We believe that getting to the best answer starts with integrity: the integrity to avoid an answer that might be acceptable to a client and earn us money but that we don’t believe is the right answer; integrity to be dissatisfied with an answer that cuts corners; integrity to avoid intellectual laziness, or fail to correct mistakes. </p>
                                    <span href="#" class="btn--main">Find out more</span>
                                </span>
                            </span>

                            <span class="tile--our-values__footer" style="opacity: 1;">Commitment to doing what is right</span>
                        </a>
                    </li>

                    <li class="tile tile--our-values" style="height: 379px;">
                        <a class="lightbox-gallery--trigger vbox-item" data-gall="our-values-gallery-ourvaluesgrid_0" data-type="inline" href="#our-values-gallery-ourvaluesgrid_0--content-2">
                            <div class="tile__overlay" style="opacity: 0.4;"></div>
                            <figure class="tile--our-values__img"><img src="~/assets/content/dam/oliver-wyman/v2/culture/values/Hunger-for-deeper-understanding-460x460.jpg.imgix.modalgrid.jpg" alt="" /></figure>

                            <span class="tile--our-values__content" style="opacity: 0;">
                                <span class="tile--our-values__content__inner">
                                    <p>Intellectual curiosity is a valued trait. As a Firm, we are intellectually curious. </p>
                                    <span href="#" class="btn--main">Find out more</span>
                                </span>
                            </span>

                            <span class="tile--our-values__footer" style="opacity: 1;">Hunger for deeper understanding</span>
                        </a>
                    </li>

                    <li class="tile tile--our-values" style="height: 379px;">
                        <a class="lightbox-gallery--trigger vbox-item" data-gall="our-values-gallery-ourvaluesgrid_0" data-type="inline" href="#our-values-gallery-ourvaluesgrid_0--content-3">
                            <div class="tile__overlay" style="opacity: 0.4;"></div>
                            <figure class="tile--our-values__img"><img src="~/assets/content/dam/oliver-wyman/v2/culture/values/Constantly-striving-for-exellence-460x460.jpg.imgix.modalgrid.jpg" alt="" /></figure>

                            <span class="tile--our-values__content" style="opacity: 0;">
                                <span class="tile--our-values__content__inner">
                                    <p>For us, the search for excellence never ends. We think this mindset is what allows exceptional people to develop great solutions.</p>
                                    <span href="#" class="btn--main">Find out more</span>
                                </span>
                            </span>

                            <span class="tile--our-values__footer" style="opacity: 1;">Constantly striving for excellence...</span>
                        </a>
                    </li>

                    <li class="tile tile--our-values" style="height: 379px;">
                        <a class="lightbox-gallery--trigger vbox-item" data-gall="our-values-gallery-ourvaluesgrid_0" data-type="inline" href="#our-values-gallery-ourvaluesgrid_0--content-4">
                            <div class="tile__overlay" style="opacity: 0.4;"></div>
                            <figure class="tile--our-values__img"><img src="~/assets/content/dam/oliver-wyman/v2/culture/values/Insistence-on-impact-460x460.jpg.imgix.modalgrid.jpg" alt="" /></figure>

                            <span class="tile--our-values__content" style="opacity: 0;">
                                <span class="tile--our-values__content__inner">
                                    <p>We are also here to have an impact, to make a difference. We are not interested in good ideas left on the shelf, or good ideas badly expressed. </p>
                                    <span href="#" class="btn--main">Find out more</span>
                                </span>
                            </span>

                            <span class="tile--our-values__footer" style="opacity: 1;">...Insistence on impact</span>
                        </a>
                    </li>

                    <li class="tile tile--our-values" style="height: 379px;">
                        <a class="lightbox-gallery--trigger vbox-item" data-gall="our-values-gallery-ourvaluesgrid_0" data-type="inline" href="#our-values-gallery-ourvaluesgrid_0--content-5">
                            <div class="tile__overlay" style="opacity: 0.4;"></div>
                            <figure class="tile--our-values__img"><img src="~/assets/content/dam/oliver-wyman/v2/culture/values/Harnessing-power-individuality-460x460.jpg.imgix.modalgrid.jpg" alt="" /></figure>

                            <span class="tile--our-values__content" style="opacity: 0;">
                                <span class="tile--our-values__content__inner">
                                    <p>We believe that by harnessing the power of individuality and embracing our differences we will come up with better solutions for our ourselves and for our clients.</p>
                                    <span href="#" class="btn--main">Find out more</span>
                                </span>
                            </span>

                            <span class="tile--our-values__footer" style="opacity: 1;">Harnessing the power of individuality and differences</span>
                        </a>
                    </li>

                    <li class="tile tile--our-values" style="height: 379px;">
                        <a class="lightbox-gallery--trigger vbox-item" data-gall="our-values-gallery-ourvaluesgrid_0" data-type="inline" href="#our-values-gallery-ourvaluesgrid_0--content-6">
                            <div class="tile__overlay" style="opacity: 0.4;"></div>
                            <figure class="tile--our-values__img"><img src="~/assets/content/dam/oliver-wyman/v2/culture/values/Trust-between-ourselves-clients-460x460.jpg.imgix.modalgrid.jpg" alt="" /></figure>

                            <span class="tile--our-values__content" style="opacity: 0;">
                                <span class="tile--our-values__content__inner">
                                    <p>We value trust.  We require trust amongst ourselves to operate effectively, whether independently or in teams, and to share valuable resources and ideas.  </p>
                                    <span href="#" class="btn--main">Find out more</span>
                                </span>
                            </span>

                            <span class="tile--our-values__footer" style="opacity: 1;">Trust between ourselves and from our clients</span>
                        </a>
                    </li>
                </ul>

                <!--Lightbox gallery content-->

                <div class="lightbox-gallery__focus">
                    <div class="lightbox-gallery__profile" id="our-values-gallery-ourvaluesgrid_0--content-1">
                        <div class="lightbox-gallery__profile__inner">
                            <div class="grid">
                                <div class="three--columns">
                                    <div class="lightbox-gallery__profile__image">
                                        <img src="~/assets/content/dam/oliver-wyman/v2/culture/values/Commitment-to-what-is-right-460x460.jpg.imgix.modalgrid.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="nine--columns">
                                    <div class="lightbox-gallery__content">

                                        <h4 class="lightbox-gallery__content__title">Commitment to doing what is right</h4>

                                        <p>
                                            We believe that getting to the best answer starts with integrity: the integrity to avoid an answer that might be acceptable to a client and earn us money but that we don’t believe is the right answer; integrity to be dissatisfied with an answer that cuts corners; integrity to avoid intellectual laziness, or fail to correct mistakes. We believe if we are committed to doing the right thing, then we will always deliver the truth to our clients and to each other. Doing the right thing extends to all of our behaviors inside and outside the firm.

                                            How do we do this? We believe in a values-driven management and we have strong sanctions for doing what is wrong or acting against our values. We look to constantly reinforce this value in client project execution and more generally throughout the Firm. We provide training on standards at all levels.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Item -->

                    <div class="lightbox-gallery__profile" id="our-values-gallery-ourvaluesgrid_0--content-2">
                        <div class="lightbox-gallery__profile__inner">
                            <div class="grid">
                                <div class="three--columns">
                                    <div class="lightbox-gallery__profile__image">
                                        <img src="~/assets/content/dam/oliver-wyman/v2/culture/values/Hunger-for-deeper-understanding-460x460.jpg.imgix.modalgrid.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="nine--columns">
                                    <div class="lightbox-gallery__content">

                                        <h4 class="lightbox-gallery__content__title">Hunger for deeper understanding</h4>

                                        <p>
                                            Intellectual curiosity is a valued trait. As a firm, we are intellectually curious. We are deeply interested in business and technical issues, in what drives people, in what makes change happen, and in what impedes progress. We pursue that curiosity with hunger and energy to dig deeper and think harder about things until we get to the core of the issue. This enables us to find the insight or idea that sparks a deeper understanding of any issue and lets us provide the right solution to client problems.

                                            How do we do this? We have built an organization that supports gaining a deeper understanding with firm processes that support the development and sharing of leading edge ideas and content. We promote the internal celebration of knowledge and solutions.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Item -->

                    <div class="lightbox-gallery__profile" id="our-values-gallery-ourvaluesgrid_0--content-3">
                        <div class="lightbox-gallery__profile__inner">
                            <div class="grid">
                                <div class="three--columns">
                                    <div class="lightbox-gallery__profile__image">
                                        <img src="~/assets/content/dam/oliver-wyman/v2/culture/values/Constantly-striving-for-exellence-460x460.jpg.imgix.modalgrid.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="nine--columns">
                                    <div class="lightbox-gallery__content">

                                        <h4 class="lightbox-gallery__content__title">Constantly striving for excellence...</h4>

                                        <p>
                                            For us, the search for excellence never ends. We think this mindset is what allows exceptional people to develop great solutions. It is the foundation for the high standards that drive us all. We are rarely satisfied - we think everything can be improved, and we believe in constant innovation. Finding a better way to do things drives continuous progress each and every day.

                                            How do we do this ? We provide rigorous training on client-project delivery, including project design and scoping. We embed creativity, innovation and excecution excellence in all review processes. We encourage investment in the exploration of important issues that will expand the boundaries of our knowledge.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Item -->

                    <div class="lightbox-gallery__profile" id="our-values-gallery-ourvaluesgrid_0--content-4">
                        <div class="lightbox-gallery__profile__inner">
                            <div class="grid">
                                <div class="three--columns">
                                    <div class="lightbox-gallery__profile__image">
                                        <img src="~/assets/content/dam/oliver-wyman/v2/culture/values/Insistence-on-impact-460x460.jpg.imgix.modalgrid.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="nine--columns">
                                    <div class="lightbox-gallery__content">

                                        <h4 class="lightbox-gallery__content__title">...Insistence on impact</h4>

                                        <p>
                                            We are also here to have an impact, to make a difference. We are not interested in good ideas left on the shelf, or good ideas badly expressed. We believe that finding the right answer is a breakthrough, but making the idea tangible and implementable is equally important. We push ourselves to find out how to make a good idea into a solution and from there into a tangible outcome. That means working with clients, not just working for them. It means finding language that everyone understands. It means clarity and integrity from high-level messages for senior decision makers to specific actions for those whose job it is to make things happen.

                                            How do we do this? We welcome payment terms based on the quality of our delivery and performance and encourage systematic reviews with clients on the implementation of our work.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Item -->

                    <div class="lightbox-gallery__profile" id="our-values-gallery-ourvaluesgrid_0--content-5">
                        <div class="lightbox-gallery__profile__inner">
                            <div class="grid">
                                <div class="three--columns">
                                    <div class="lightbox-gallery__profile__image">
                                        <img src="~/assets/content/dam/oliver-wyman/v2/culture/values/Harnessing-power-individuality-460x460.jpg.imgix.modalgrid.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="nine--columns">
                                    <div class="lightbox-gallery__content">

                                        <h4 class="lightbox-gallery__content__title">Harnessing the power of individuality and differences</h4>

                                        <p>
                                            We believe that by harnessing the power of individuality and embracing our differences we will come up with better solutions for ourselves and for our clients. We encourage real debate, and look to bring different angles to bear on a problem to actively challenge linear and conventional thinking. We also believe that individuals shape our firm, and through harnessing the ability of individuals effectively in teams, we will succeed. We live by the mantra “you shape us” not “we shape you.”

                                            How do we do this? We focus on tailored development programs, avoiding pushing all professionals toward a common “average” profile, embracing spikes in capabilities and working to find roles that harness these in teams. We actively construct teams with a view to creating a mix of capabilities, thought processes and angles to help solve problems.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Item -->

                    <div class="lightbox-gallery__profile" id="our-values-gallery-ourvaluesgrid_0--content-6">
                        <div class="lightbox-gallery__profile__inner">
                            <div class="grid">
                                <div class="three--columns">
                                    <div class="lightbox-gallery__profile__image">
                                        <img src="~/assets/content/dam/oliver-wyman/v2/culture/values/Trust-between-ourselves-clients-460x460.jpg.imgix.modalgrid.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="nine--columns">
                                    <div class="lightbox-gallery__content">

                                        <h4 class="lightbox-gallery__content__title">Trust between ourselves and from our clients</h4>

                                        <p>
                                            We value trust.  We require trust amongst ourselves to operate effectively, whether independently or in teams, and to share valuable resources and ideas.  We also require trust between us to enable a sense of belonging and well-being. Operating in an environment without trust is corrosive and soul-destroying.  We also need the trust of our clients in order to be effective, and we understand that we regularly need to earn their trust through our actions.  In order to make lasting contributions to our clients, we must, each day, earn the role of trusted advisors.

                                            How do we do this? Our internal processes assume trust rather than holding back access until trust is proven. We strive for an open &#34;Best Foot Forward&#34; system with fully shared intellectual capital, client contact information, and transparent communication. We aim for the active promotion of client trust through our values (such as always doing what is right, always delivering impact), and we include an emphasis in our incentives and development around recognizing trusted relationships. We have an obsession with the rigorously careful treatment of client confidential information.  We regard breaches of trust as a serious departure from our values.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Item -->
                </div><!-- End Gallery -->
            </div>
        </section>
    </div>
    <div class="footertextmodule section">
        <div class="text-module text-module--fullwidth">
            <div class="container">
                <div class="text-module__row">
                    <div class="grid">
                        <div class="eight--columns">
                            <span class="text-module__header">Our History</span>
                            <p>Our eyes have always been trained on the future</p>

                            <a href="our-values/our-history.html" class="btn--main">Learn more</a>
                        </div>
                        <div class="four--columns"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footertextmodule section">
        <div class="text-module text-module--fullwidth">
            <div class="container">
                <div class="text-module__row">
                    <div class="grid">
                        <div class="eight--columns">
                            <span class="text-module__header">Strategic Partners</span>
                            <p>Our relationships with Oliver Wyman Group and Marsh &amp; McLennan Companies (NYSE: MMC)</p>

                            <a href="our-values/strategic-partners.html" class="btn--main">Learn more</a>
                        </div>
                        <div class="four--columns"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footertextmodule section">
        <div class="text-module text-module--fullwidth">
            <div class="container">
                <div class="text-module__row">
                    <div class="grid">
                        <div class="eight--columns">
                            <span class="text-module__header">Connect With Our Values</span>
                            <p>Follow us on social media and experience how we live our values.</p>

                            <a href="../our-expertise/insights/campaigns/2016/follow-oliver-wyman.html" class="btn--main">Follow Oliver Wyman</a>
                        </div>
                        <div class="four--columns"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="tiles section">
        <div class="container">


            <section class="site-section tiles-grid--four-columns scroll--hidden" id="sticky-sidebar-stop">
                <div class="tiles-grid__header-section">
                    <h3 class="tiles-grid__title">Our Values In Action</h3>
                    <p>Our values are evident in the work we do, and in the inclusive culture that our colleagues have created.</p>
                </div>
                <ul>
                    <li class="tile  " style="height: 281px;">
                        <a href="../our-expertise/insights/2019/mar/oliver-wyman-for-society-annual-social-impact-report-2018.html">
                            <div class="tile__overlay"></div>
                            <figure class="tile__img"><img alt="Oliver Wyman for Society: Annual Social Impact Report 2018" src="../content/dam/oliver-wyman/v2/tiles/OW4S%20SIAR%202018%20Cover.png.imgix.fourColumnTile.png" /></figure>
                            <div class="tile__content">
                                <header class="tile__header">
                                    <span class="tile__tag tag--insights">
                                        Insights
                                    </span>
                                    <span class="tile__title">Oliver Wyman for Society: Annual Social Impact Report 2018</span>
                                </header>
                                <span class="tile__subtitle">
                                    The fourth annual report featuring our work with mission-driven organizations around the world.
                                </span>
                            </div>
                            <span class="tile__overflow"></span>
                            <span class="tile__cta">Read more</span>
                        </a>
                    </li>

                    <li class="tile  " style="height: 281px;">
                        <a href="../our-culture.html">
                            <div class="tile__overlay"></div>
                            <figure class="tile__img"><img alt="Our World" src="~/assets/content/dam/oliver-wyman/v2/tiles/redirects/ourworld2.png.imgix.fourColumnTile.png" /></figure>
                            <div class="tile__content">
                                <header class="tile__header">
                                    <span class="tile__tag tag--contact-us">
                                        Oliver Wyman
                                    </span>
                                    <span class="tile__title">Our World</span>
                                </header>
                                <span class="tile__subtitle">
                                    Take a deeper look at our project work and the people at Oliver Wyman
                                </span>
                            </div>
                            <span class="tile__overflow"></span>
                            <span class="tile__cta">Read more</span>
                        </a>
                    </li>

                    <li class="tile  " style="height: 281px;">
                        <a href="#">
                            <div class="tile__overlay"></div>
                            <figure class="tile__img"><img alt="Oliver Wyman Forum" src="~/assets/content/dam/oliver-wyman/v2/tiles/OWF_Twitter_Banner.jpg.imgix.fourColumnTile.jpg" /></figure>
                            <div class="tile__content">
                                <header class="tile__header">
                                    <span class="tile__tag tag--contact-us">
                                        Oliver Wyman Forum
                                    </span>
                                    <span class="tile__title">Oliver Wyman Forum</span>
                                </header>
                                <span class="tile__subtitle">
                                    We strive to discover innovative solutions by convening leading thinkers and inspiring action on several broad fronts. Learn about and join this active and engaged community.
                                </span>
                            </div>
                            <span class="tile__overflow"></span>
                            <span class="tile__cta">Read more</span>
                        </a>
                    </li>

                    <li class="tile  " style="height: 281px;">
                        <a href="society/nonprofit-fellowships.html">
                            <div class="tile__overlay"></div>
                            <figure class="tile__img"><img alt="Nonprofit Fellowships" src="~/assets/content/dam/oliver-wyman/v2/banners/OurCulture/Community-1600x602.jpg.imgix.fourColumnTile.jpg" /></figure>
                            <div class="tile__content">
                                <header class="tile__header">
                                    <span class="tile__tag tag--culture">
                                        Our Culture
                                    </span>
                                    <span class="tile__title">Nonprofit Fellowships</span>
                                </header>
                                <span class="tile__subtitle">
                                    We provide consultants with the opportunity to take leave and put business skills to work at nonprofit organizations around the globe.
                                </span>
                            </div>
                            <span class="tile__overflow"></span>
                            <span class="tile__cta">Read more</span>
                        </a>
                    </li>

                    <li class="tile  " style="height: 281px;">
                        <a href="alumni.html">
                            <div class="tile__overlay"></div>
                            <figure class="tile__img"><img alt="Alumni" src="~/assets/content/dam/oliver-wyman/v2/banners/OurCulture/our-alumni-1600x602-GropCrop.jpg.imgix.fourColumnTile.jpg" /></figure>
                            <div class="tile__content">
                                <header class="tile__header">
                                    <span class="tile__tag tag--culture">
                                        Our Culture
                                    </span>
                                    <span class="tile__title">Alumni</span>
                                </header>
                                <span class="tile__subtitle">
                                    We encourage alumni to join Oliver Wyman Connect.
                                </span>
                            </div>
                            <span class="tile__overflow"></span>
                            <span class="tile__cta">Read more</span>
                        </a>
                    </li>
                </ul>
            </section>
        </div>
    </div>


    <div>


        <div class="page-share">
            <div class="container">
                <div class="page-share__inner">
                    <div class="article__footer__social social">
                        <ul class="social-share-icons color">
                            <li>Share</li>

                            <li><a href="#" class="social__facebook" rel="nofollow noopener noreferrer" target="_blank"></a></li>

                            <li><a href="#" class="social__twitter" rel="nofollow noopener noreferrer" target="_blank"></a></li>
                            <li><a href="#" class="social__linked-in" rel="nofollow noopener noreferrer" target="_blank"></a></li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div>






        <div class="expertise scroll--hidden">
            <div class="container">
                <header class="expertise__header">
                    <h3 class="expertise__header__title">
                        OUR <b>EXPERTISE</b>&nbsp;<span class="sapphire"></span>

                    </h3>
                </header>

                <div class="grid">
                    <div class="six--columns">
                        <h4 class="expertise__title">Industries&nbsp;<span class="sapphire"></span></h4>

                        <ul>
                            <li><a href="../our-expertise/industries/transportation.html">Aviation, Aerospace &amp; Defense</a></li>

                            <li><a href="../our-expertise/industries/transportation/travel-and-leisure.html">Travel &amp; Leisure</a></li>

                            <li><a href="../our-expertise/industries/transportation/rail-and-public-transit.html">Rail and Public Transit</a></li>

                            <li><a href="../our-expertise/industries/automotive.html">Automotive</a></li>

                            <li><a href="../our-expertise/industries/business-services.html">Business Services</a></li>

                            <li><a href="../our-expertise/industries/communications-media-and-technology.html">Communications, Media, And Technology</a></li>

                            <li><a href="../our-expertise/industries/education.html">Education</a></li>

                            <li><a href="../our-expertise/industries/energy.html">Energy</a></li>

                            <li><a href="../our-expertise/industries/financial-services.html">Financial Services</a></li>

                            <li><a href="../our-expertise/industries/health-life-sciences.html">Health And Life Sciences</a></li>

                            <li><a href="../our-expertise/industries/industrial-products.html">Industrial Products</a></li>

                            <li><a href="../our-expertise/industries/public-sector.html">Public Sector And Policy</a></li>

                            <li><a href="../our-expertise/industries/retail-and-consumer-goods.html">Retail And Consumer Goods</a></li>

                            <li><a href="../our-expertise/industries/transportation.html">Transportation</a></li>

                            <li><a href="../our-expertise/industries/velocity-podcasts.html">Velocity Podcast</a></li>
                        </ul>

                    </div>

                    <div class="six--columns">
                        <h4 class="expertise__title">capabilities&nbsp;<span class="sapphire"></span></h4>

                        <ul>
                            <li><a href="../our-expertise/capabilities/actuarial.html">Actuarial</a></li>

                            <li><a href="../our-expertise/capabilities/climate-sustainability.html">Climate And Sustainability</a></li>

                            <li><a href="../our-expertise/capabilities/corporate-finance-restructuring.html">Corporate Finance And Restructuring</a></li>

                            <li><a href="../our-expertise/capabilities/digital.html">Digital</a></li>

                            <li><a href="#">Lippincott: Brand and Innovation</a></li>

                            <li><a href="../our-expertise/capabilities/digital.html">Oliver Wyman Labs</a></li>

                            <li><a href="../our-expertise/capabilities/operations.html">Operations</a></li>

                            <li><a href="../our-expertise/capabilities/organizational-effectiveness.html">Organizational Effectiveness</a></li>

                            <li><a href="../our-expertise/capabilities/payments.html">Payments</a></li>

                            <li><a href="../our-expertise/capabilities/pricing-sales-and-marketing.html">Pricing, Sales, And Marketing</a></li>

                            <li><a href="../our-expertise/capabilities/risk-management.html">Risk Management</a></li>

                            <li><a href="../our-expertise/capabilities/strategy.html">Strategy</a></li>
                        </ul>

                    </div>

                </div>

            </div>
        </div>

        <div class="expertise expertise--mobile scroll--hidden">
            <div class="container">
                <header class="expertise__header">
                    <h3 class="expertise__header__title"><strong>OUR <b>EXPERTISE</b></strong>&nbsp;<span class="sapphire"></span></h3>

                </header>

                <div class="accordion-group">

                    <div class="accordion js-accordion scroll--hidden">
                        <header class="accordion__header accordion__header--expertise">
                            <h4 class="expertise__title">Industries&nbsp;<span class="blue-footer"></span></h4>
                            <a href="#" class="accordion__toggle js-accordion__toggle"></a>
                        </header>
                        <div class="accordion__content js-accordion__content">

                            <ul>
                                <li><a href="../our-expertise/industries/transportation.html">Aviation, Aerospace &amp; Defense</a></li>

                                <li><a href="../our-expertise/industries/transportation/travel-and-leisure.html">Travel &amp; Leisure</a></li>

                                <li><a href="../our-expertise/industries/transportation/rail-and-public-transit.html">Rail and Public Transit</a></li>

                                <li><a href="../our-expertise/industries/automotive.html">Automotive</a></li>

                                <li><a href="../our-expertise/industries/business-services.html">Business Services</a></li>

                                <li><a href="../our-expertise/industries/communications-media-and-technology.html">Communications, Media, And Technology</a></li>

                                <li><a href="../our-expertise/industries/education.html">Education</a></li>

                                <li><a href="../our-expertise/industries/energy.html">Energy</a></li>

                                <li><a href="../our-expertise/industries/financial-services.html">Financial Services</a></li>

                                <li><a href="../our-expertise/industries/health-life-sciences.html">Health And Life Sciences</a></li>

                                <li><a href="../our-expertise/industries/industrial-products.html">Industrial Products</a></li>

                                <li><a href="../our-expertise/industries/public-sector.html">Public Sector And Policy</a></li>

                                <li><a href="../our-expertise/industries/retail-and-consumer-goods.html">Retail And Consumer Goods</a></li>

                                <li><a href="../our-expertise/industries/transportation.html">Transportation</a></li>

                                <li><a href="../our-expertise/industries/velocity-podcasts.html">Velocity Podcast</a></li>
                            </ul>

                        </div>
                    </div>

                    <div class="accordion js-accordion scroll--hidden">
                        <header class="accordion__header accordion__header--expertise">
                            <h4 class="expertise__title">capabilities&nbsp;<span class="blue-footer"></span></h4>
                            <a href="#" class="accordion__toggle js-accordion__toggle"></a>
                        </header>
                        <div class="accordion__content js-accordion__content">

                            <ul>
                                <li><a href="../our-expertise/capabilities/actuarial.html">Actuarial</a></li>

                                <li><a href="../our-expertise/capabilities/climate-sustainability.html">Climate And Sustainability</a></li>

                                <li><a href="../our-expertise/capabilities/corporate-finance-restructuring.html">Corporate Finance And Restructuring</a></li>

                                <li><a href="../our-expertise/capabilities/digital.html">Digital</a></li>

                                <li><a href="#">Lippincott: Brand and Innovation</a></li>

                                <li><a href="../our-expertise/capabilities/digital.html">Oliver Wyman Labs</a></li>

                                <li><a href="../our-expertise/capabilities/operations.html">Operations</a></li>

                                <li><a href="../our-expertise/capabilities/organizational-effectiveness.html">Organizational Effectiveness</a></li>

                                <li><a href="../our-expertise/capabilities/payments.html">Payments</a></li>

                                <li><a href="../our-expertise/capabilities/pricing-sales-and-marketing.html">Pricing, Sales, And Marketing</a></li>

                                <li><a href="../our-expertise/capabilities/risk-management.html">Risk Management</a></li>

                                <li><a href="../our-expertise/capabilities/strategy.html">Strategy</a></li>
                            </ul>

                        </div>
                    </div>

                </div>

            </div>
        </div>


    </div>
</div>
