
@{
    ViewData["Title"] = "StrategicParterns";
}


<div>
    <div></div>
    <div></div>
    <div></div>

    <section class="hero--text hero__liquid imgLiquid_error" id="js-hero" style="opacity: 1;">
        <div class="hero--text__content" id="js-hero__content" style="top: 63.5px; opacity: 1;">
            <h1 class="hero--text__title">Strategic Partners</h1>


        </div>
    </section>

    <!--bottom banner*/-->


</div>
<div class="main-content" role="main">

    <div class="articleheader section">

        <div class="page__header">
            <div class="container">
                <div class="page__header__inner">
                    <div class="grid">
                        <div class="eight--columns">

                            <div class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                                <span itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <a asp-action="OurCulture" itemprop="item">
                                        <span itemprop="name">Our Culture</span>
                                    </a>
                                    <meta itemprop="position" content="1" />
                                </span>

                                <span itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <a asp-action="OurValues" itemprop="item">
                                        <span itemprop="name">Our Values</span>
                                    </a>
                                    <meta itemprop="position" content="2" />
                                </span>

                                <span itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <a asp-action="StrategicParterns" itemprop="item">
                                        <span itemprop="name">Strategic Partners</span>
                                    </a>
                                    <meta itemprop="position" content="3" />
                                </span>
                            </div>

                        </div>
                        <div class="four--columns">
                            <div class="article-info__social social">
                                <ul class="social-share-icons color">
                                    <li>Share</li>

                                    <li><a href="#" class="social__facebook" rel="nofollow noopener noreferrer" target="_blank"></a></li>

                                    <li><a href="#" class="social__twitter" rel="nofollow noopener noreferrer" target="_blank"></a></li>
                                    <li><a href="#" class="social__linked-in" rel="nofollow noopener noreferrer" target="_blank"></a></li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="strategicpartners section">
        <div class="strategic-partners">
            <div class="container">
                <div class="grid">
                    <div class="eight--columns">
                        <h3 class="strategic-partners__header">Oliver Wyman Group</h3>
                        <p>Oliver Wyman Group comprises Oliver Wyman, Lippincott, and NERA Economic Consulting.</p>
                    </div>
                    <div class="four--columns"></div>
                </div>
                <div class="strategic-partners__group">
                    <div class="tiles-grid--strategic-partners">
                        <div class="tiles-grid--strategic-partners__row">
                            <a href="#" class="tile--homepage--no-image">
                                <div class="tile--homepage__overlay"></div>
                                <figure class="tile--homepage__img"></figure>
                                <div class="tile--homepage__content">
                                    <div class="strategic-partners__logo-container">
                                        <img src="~/assets/content/dam/oliver-wyman/v2/culture/partnerships/lippincott.png" alt="" />
                                    </div>
                                    <p>Lippincott is a leading brand strategy and design consultancy. Founded in 1943, Lippincott helps clients in every industry sector to create, develop, and manage their corporate branding, identity, and image.</p>
                                </div>
                                <span class="tile--homepage__cta outside-link">Find out more</span>
                            </a>
                            <a href="../../media-center/2016/lippincott-exhibition-makes-its-north-american-debut.html" class="tile--homepage ">
                                <div class="tile--homepage__overlay"></div>
                                <figure class="tile--homepage__img">

                                    <img src="~/assets/content/dam/oliver-wyman/v2/publications/2016/Jun/lippincott-tile.jpg.imgix.squareTile.jpg" alt="Lippincott Exhibition Makes Its North American Debut" />
                                </figure>
                                <div class="tile--homepage__content">
                                    <header class="tile--homepage__header">
                                        <span class="tile--homepage__tag tag--in-the-news">Press Release</span>
                                        <span class="tile--homepage__title">Lippincott Exhibition Makes Its North American Debut</span>
                                    </header>
                                    <span class="tile--homepage__subtitle">“Like me: Our Bond with Brands” which examines consumers past and present relationships with brands.</span>
                                </div>
                                <span class="tile--homepage__cta">Learn More</span>
                            </a>
                        </div>

                        <div class="tiles-grid--strategic-partners__row">
                            <a href="#" class="tile--homepage--no-image">
                                <div class="tile--homepage__overlay"></div>
                                <figure class="tile--homepage__img"></figure>
                                <div class="tile--homepage__content">
                                    <div class="strategic-partners__logo-container">
                                        <img src="~/assets/content/dam/oliver-wyman/v2/culture/partnerships/nera.png" alt="" />
                                    </div>
                                    <p>NERA Economic Consulting provides economic analysis and advice to public and private entities regarding highly complex business and legal issues arising from competition, regulation, public policy, strategy, finance, and litigation.</p>
                                </div>
                                <span class="tile--homepage__cta outside-link">Find out more</span>
                            </a>
                            <a href="#" class="tile--homepage ">
                                <div class="tile--homepage__overlay"></div>
                                <figure class="tile--homepage__img">

                                    <img src="~/assets/content/dam/oliver-wyman/v2/culture/partnerships/JPM-Settlement-tile.png.imgix.squareTile.png" alt="NERA’s Role in JPMorgan’s $4.5 Billion Settlement with RMBS Investors" />
                                </figure>
                                <div class="tile--homepage__content">
                                    <header class="tile--homepage__header">
                                        <span class="tile--homepage__tag tag--contact-us">NERA</span>
                                        <span class="tile--homepage__title">NERA’s Role in JPMorgan’s $4.5 Billion Settlement with RMBS Investors</span>
                                    </header>
                                    <span class="tile--homepage__subtitle">NERA was retained to conduct an economic analysis of a proposed settlement of $4.5 billion on behalf of all of the investors in $295 billion worth of mortgage-backed securities.</span>
                                </div>
                                <span class="tile--homepage__cta">Learn More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="strategicpartners section">
        <div class="strategic-partners">
            <div class="container">
                <div class="grid">
                    <div class="eight--columns">
                        <h3 class="strategic-partners__header">MARSH &amp; MCLENNAN</h3>
                        <p>Marsh &amp; McLennan Companies (NYSE: MMC) is a global team of professional services companies offering clients advice and solutions in the areas of risk, strategy, and human capital.</p>
                    </div>
                    <div class="four--columns"></div>
                </div>
                <div class="strategic-partners__group">
                    <div class="tiles-grid--strategic-partners">
                        <div class="tiles-grid--strategic-partners__row">
                            <a href="#" class="tile--homepage--no-image">
                                <div class="tile--homepage__overlay"></div>
                                <figure class="tile--homepage__img"></figure>
                                <div class="tile--homepage__content">
                                    <div class="strategic-partners__logo-container">
                                        <img src="~/assets/content/dam/oliver-wyman/v2/culture/partnerships/marsh.png" alt="" />
                                    </div>
                                    <p>Marsh is a global leader in insurance broking and risk management, teaming with its clients to define, design, and deliver innovative, industry-specific solutions that help them protect their future and thrive. Founded in 1871, Marsh introduced and promoted the concept and practice of client representation through brokerage, the discipline of risk management, and the globalization of insurance and risk management services.</p>
                                </div>
                                <span class="tile--homepage__cta outside-link">Find out more</span>
                            </a>
                            <a href="../../media-center/2016/marsh-mclennan-companies-launches-asia-pacific-risk-center-suport.html" class="tile--homepage ">
                                <div class="tile--homepage__overlay"></div>
                                <figure class="tile--homepage__img">

                                    <img src="~/assets/content/dam/oliver-wyman/v2/media/2016/asia-pacific-press-release-oct-2016.jpg.imgix.squareTile.jpg" alt="Marsh &amp; McLennan Companies Launches Asia Pacific Risk Center" />
                                </figure>
                                <div class="tile--homepage__content">
                                    <header class="tile--homepage__header">
                                        <span class="tile--homepage__tag tag--in-the-news">Press Release</span>
                                        <span class="tile--homepage__title">Marsh &amp; McLennan Companies Launches Asia Pacific Risk Center</span>
                                    </header>
                                    <span class="tile--homepage__subtitle">The Center is supported by the Singapore Economic Development Board</span>
                                </div>
                                <span class="tile--homepage__cta">Learn More</span>
                            </a>
                        </div>

                        <div class="tiles-grid--strategic-partners__row">
                            <a href="#" class="tile--homepage--no-image">
                                <div class="tile--homepage__overlay"></div>
                                <figure class="tile--homepage__img"></figure>
                                <div class="tile--homepage__content">
                                    <div class="strategic-partners__logo-container">
                                        <img src="~/assets/content/dam/oliver-wyman/v2/culture/partnerships/mercer.png" alt="" />
                                    </div>
                                    <p>Mercer is a global leader for HR and related financial advice, products, and services. In its work with clients, Mercer enhances the financial and retirement security, health, productivity, and employment relationships of the global workforce.</p>
                                </div>
                                <span class="tile--homepage__cta outside-link">Find out more</span>
                            </a>
                            <a href="../../our-expertise/insights/2016/jun/women-in-financial-services-2016/pay-equity-in-financial-services.html" class="tile--homepage ">
                                <div class="tile--homepage__overlay"></div>
                                <figure class="tile--homepage__img">

                                    <img src="~/assets/content/dam/oliver-wyman/v2/publications/2016/Jun/Pay-equity-in-financial-services.jpg.imgix.squareTile.jpg" alt="Pay Equity in Financial Services" />
                                </figure>
                                <div class="tile--homepage__content">
                                    <header class="tile--homepage__header">
                                        <span class="tile--homepage__tag tag--insights">Insights</span>
                                        <span class="tile--homepage__title">Pay Equity in Financial Services</span>
                                    </header>
                                    <span class="tile--homepage__subtitle">Firms that do not choose to address the issue as part of their gender diversity strategy may find they are forced to as a matter of law.</span>
                                </div>
                                <span class="tile--homepage__cta">Learn More</span>
                            </a>
                        </div>

                        <div class="tiles-grid--strategic-partners__row">
                            <a href="#" class="tile--homepage--no-image">
                                <div class="tile--homepage__overlay"></div>
                                <figure class="tile--homepage__img"></figure>
                                <div class="tile--homepage__content">
                                    <div class="strategic-partners__logo-container">
                                        <img src="~/assets/content/dam/oliver-wyman/v2/culture/partnerships/guy-carpenter.png" alt="" />
                                    </div>
                                    <p>
                                        Guy Carpenter is a global leader in providing risk and reinsurance intermediary services. Guy Carpenter creates and executes reinsurance solutions and delivers capital market solutions for clients around the globe.
                                    </p>
                                </div>
                                <span class="tile--homepage__cta outside-link">Find out more</span>
                            </a>
                            <a href="../../media-center/2015/carrier-management-publishes-bylined-article-about-the-10-do-s-a.html" class="tile--homepage tile--homepage--no-image">
                                <div class="tile--homepage__overlay"></div>
                                <figure class="tile--homepage__img">
                                    <div>
                                        <img src="~/assets/etc.clientlibs/oliverwymanv2/clientlibs/generic/resources/images/backgrounds/tile-default-bg-large/squareTile.png" />
                                    </div>

                                </figure>
                                <div class="tile--homepage__content">
                                    <header class="tile--homepage__header">
                                        <span class="tile--homepage__tag tag--in-the-news">In the News</span>
                                        <span class="tile--homepage__title">Carrier Management publishes bylined article about the 10 Do&#39;s and Don&#39;ts of the ORSA Summary Report</span>
                                    </header>
                                    <span class="tile--homepage__subtitle"></span>
                                </div>
                                <span class="tile--homepage__cta">Learn More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="articlefooter section">
        <div class="page-share">
            <div class="container">
                <div class="page-share__inner">
                    <div class="article__footer__social social">
                        <ul class="social-share-icons color">
                            <li>Share</li>

                            <li><a href="#" class="social__facebook" rel="nofollow noopener noreferrer" target="_blank"></a></li>

                            <li><a href="#" class="social__twitter" rel="nofollow noopener noreferrer" target="_blank"></a></li>
                            <li><a href="#" class="social__linked-in" rel="nofollow noopener noreferrer" target="_blank"></a></li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">

        </div>
    </div>
    <div>

        <div class="expertise scroll--hidden">
            <div class="container">
                <header class="expertise__header">
                    <h3 class="expertise__header__title">
                        OUR <b>EXPERTISE</b>&nbsp;<span class="sapphire"></span>

                    </h3>
                </header>

                <div class="grid">
                    <div class="six--columns">
                        <h4 class="expertise__title">Industries&nbsp;<span class="sapphire"></span></h4>

                        <ul>
                            <li><a href="../../our-expertise/industries/transportation.html">Aviation, Aerospace &amp; Defense</a></li>

                            <li><a href="../../our-expertise/industries/transportation/travel-and-leisure.html">Travel &amp; Leisure</a></li>

                            <li><a href="../../our-expertise/industries/transportation/rail-and-public-transit.html">Rail and Public Transit</a></li>

                            <li><a href="../../our-expertise/industries/automotive.html">Automotive</a></li>

                            <li><a href="../../our-expertise/industries/business-services.html">Business Services</a></li>

                            <li><a href="../../our-expertise/industries/communications-media-and-technology.html">Communications, Media, And Technology</a></li>

                            <li><a href="../../our-expertise/industries/education.html">Education</a></li>

                            <li><a href="../../our-expertise/industries/energy.html">Energy</a></li>

                            <li><a href="../../our-expertise/industries/financial-services.html">Financial Services</a></li>

                            <li><a href="../../our-expertise/industries/health-life-sciences.html">Health And Life Sciences</a></li>

                            <li><a href="../../our-expertise/industries/industrial-products.html">Industrial Products</a></li>

                            <li><a href="../../our-expertise/industries/public-sector.html">Public Sector And Policy</a></li>

                            <li><a href="../../our-expertise/industries/retail-and-consumer-goods.html">Retail And Consumer Goods</a></li>

                            <li><a href="../../our-expertise/industries/transportation.html">Transportation</a></li>

                            <li><a href="../../our-expertise/industries/velocity-podcasts.html">Velocity Podcast</a></li>
                        </ul>

                    </div>

                    <div class="six--columns">
                        <h4 class="expertise__title">capabilities&nbsp;<span class="sapphire"></span></h4>

                        <ul>
                            <li><a href="../../our-expertise/capabilities/actuarial.html">Actuarial</a></li>

                            <li><a href="../../our-expertise/capabilities/climate-sustainability.html">Climate And Sustainability</a></li>

                            <li><a href="../../our-expertise/capabilities/corporate-finance-restructuring.html">Corporate Finance And Restructuring</a></li>

                            <li><a href="../../our-expertise/capabilities/digital.html">Digital</a></li>

                            <li><a href="#">Lippincott: Brand and Innovation</a></li>

                            <li><a href="../../our-expertise/capabilities/digital.html">Oliver Wyman Labs</a></li>

                            <li><a href="../../our-expertise/capabilities/operations.html">Operations</a></li>

                            <li><a href="../../our-expertise/capabilities/organizational-effectiveness.html">Organizational Effectiveness</a></li>

                            <li><a href="../../our-expertise/capabilities/payments.html">Payments</a></li>

                            <li><a href="../../our-expertise/capabilities/pricing-sales-and-marketing.html">Pricing, Sales, And Marketing</a></li>

                            <li><a href="../../our-expertise/capabilities/risk-management.html">Risk Management</a></li>

                            <li><a href="../../our-expertise/capabilities/strategy.html">Strategy</a></li>
                        </ul>

                    </div>

                </div>

            </div>
        </div>

        <div class="expertise expertise--mobile scroll--hidden">
            <div class="container">
                <header class="expertise__header">
                    <h3 class="expertise__header__title"><strong>OUR <b>EXPERTISE</b></strong>&nbsp;<span class="sapphire"></span></h3>

                </header>

                <div class="accordion-group">

                    <div class="accordion js-accordion scroll--hidden">
                        <header class="accordion__header accordion__header--expertise">
                            <h4 class="expertise__title">Industries&nbsp;<span class="blue-footer"></span></h4>
                            <a href="#" class="accordion__toggle js-accordion__toggle"></a>
                        </header>
                        <div class="accordion__content js-accordion__content">

                            <ul>
                                <li><a href="../../our-expertise/industries/transportation.html">Aviation, Aerospace &amp; Defense</a></li>

                                <li><a href="../../our-expertise/industries/transportation/travel-and-leisure.html">Travel &amp; Leisure</a></li>

                                <li><a href="../../our-expertise/industries/transportation/rail-and-public-transit.html">Rail and Public Transit</a></li>

                                <li><a href="../../our-expertise/industries/automotive.html">Automotive</a></li>

                                <li><a href="../../our-expertise/industries/business-services.html">Business Services</a></li>

                                <li><a href="../../our-expertise/industries/communications-media-and-technology.html">Communications, Media, And Technology</a></li>

                                <li><a href="../../our-expertise/industries/education.html">Education</a></li>

                                <li><a href="../../our-expertise/industries/energy.html">Energy</a></li>

                                <li><a href="../../our-expertise/industries/financial-services.html">Financial Services</a></li>

                                <li><a href="../../our-expertise/industries/health-life-sciences.html">Health And Life Sciences</a></li>

                                <li><a href="../../our-expertise/industries/industrial-products.html">Industrial Products</a></li>

                                <li><a href="../../our-expertise/industries/public-sector.html">Public Sector And Policy</a></li>

                                <li><a href="../../our-expertise/industries/retail-and-consumer-goods.html">Retail And Consumer Goods</a></li>

                                <li><a href="../../our-expertise/industries/transportation.html">Transportation</a></li>

                                <li><a href="../../our-expertise/industries/velocity-podcasts.html">Velocity Podcast</a></li>
                            </ul>

                        </div>
                    </div>

                    <div class="accordion js-accordion scroll--hidden">
                        <header class="accordion__header accordion__header--expertise">
                            <h4 class="expertise__title">capabilities&nbsp;<span class="blue-footer"></span></h4>
                            <a href="#" class="accordion__toggle js-accordion__toggle"></a>
                        </header>
                        <div class="accordion__content js-accordion__content">

                            <ul>
                                <li><a href="../../our-expertise/capabilities/actuarial.html">Actuarial</a></li>

                                <li><a href="../../our-expertise/capabilities/climate-sustainability.html">Climate And Sustainability</a></li>

                                <li><a href="../../our-expertise/capabilities/corporate-finance-restructuring.html">Corporate Finance And Restructuring</a></li>

                                <li><a href="../../our-expertise/capabilities/digital.html">Digital</a></li>

                                <li><a href="#">Lippincott: Brand and Innovation</a></li>

                                <li><a href="../../our-expertise/capabilities/digital.html">Oliver Wyman Labs</a></li>

                                <li><a href="../../our-expertise/capabilities/operations.html">Operations</a></li>

                                <li><a href="../../our-expertise/capabilities/organizational-effectiveness.html">Organizational Effectiveness</a></li>

                                <li><a href="../../our-expertise/capabilities/payments.html">Payments</a></li>

                                <li><a href="../../our-expertise/capabilities/pricing-sales-and-marketing.html">Pricing, Sales, And Marketing</a></li>

                                <li><a href="../../our-expertise/capabilities/risk-management.html">Risk Management</a></li>

                                <li><a href="../../our-expertise/capabilities/strategy.html">Strategy</a></li>
                            </ul>

                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>