@@{
    ViewData["Title"] = "SustainAbility";
}

<div>

    <div></div>



    <section class="hero--main hero--main--left hero__liquid imgLiquid_bgSize imgLiquid_ready cq-dd-image" id="js-hero" style="background-image: url(); background-size: cover; background-position: center center; background-repeat: no-repeat; opacity: 1;">
        <div class="hero--main__overlay"></div>
        <div>
            <div class="homepage-hero-module">
                <div class="video-container">

                    <div class="poster hidden">
                        <img style="display: none;" alt="" src="~/assets/content/dam/oliver-wyman/v2/Test-files/sustainability-banner.jpg.imgix.banner.jpg" />
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__content" id="js-hero__content" style="top: 101px; opacity: 1;">
            <div class="hero--main__inner">
                <div class="grid">
                    <div class="eight--columns">
                        <span class="tag tag--culture">Our Culture</span>
                        <h1 class="hero--main__title">Sustainability</h1>


                    </div>
                </div>
            </div>
        </div>
    </section>











    <!--bottom banner*/-->


</div>
<div class="main-content" role="main">
    <div>

        <div class="page__header">
            <div class="container">
                <div class="page__header__inner">
                    <div class="grid">
                        <div class="eight--columns">

                            <div class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                                <span itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <a asp-action="OurCulture" itemprop="item">
                                        <span itemprop="name">Our Culture</span>
                                    </a>
                                    <meta itemprop="position" content="1" />
                                </span>

                                <span itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <a href="sustainability.html" itemprop="item">
                                        <span itemprop="name">Sustainability</span>
                                    </a>
                                    <meta itemprop="position" content="2" />
                                </span>
                            </div>

                        </div>
                        <div class="four--columns">
                            <div class="article-info__social social">
                                <ul class="social-share-icons color">
                                    <li>Share</li>

                                    <li><a href="#" class="social__facebook" rel="nofollow noopener noreferrer" target="_blank"></a></li>

                                    <li><a href="#" class="social__twitter" rel="nofollow noopener noreferrer" target="_blank"></a></li>
                                    <li><a href="#" class="social__linked-in" rel="nofollow noopener noreferrer" target="_blank"></a></li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <article class="article">
        <section class="article__section">
            <div class="container">
                <div class="grid">
                    <div class="eight--columns">
                        <div class="article__main">


                        </div>
                    </div><!-- end main column -->
                    <div class="one--column"></div>
                    <div class="three--columns">
                        <div class="article__sidebar">


                        </div><!-- End sidebar -->
                    </div><!-- End aside-->
                </div><!-- End Grid -->
            </div>
        </section>
    </article>
    <div class="carousel-container section">
        <div class="ow-carousel-v3 mt-20 ">



        </div>
    </div>
    <div class="container-twelve-col section">
        <div class="container">

            <div>
                <div class="custom-widget section">



                    <style>
                                            .grid-br {
                                                display: -ms-flexbox;
                                                -ms-flex-wrap: wrap;
                                                flex-wrap: wrap;
                                                display: flex;
                                                flex: 0 0 100%;
                                            }

                                            .txt-img-8-4-br {
                                                display: -ms-flexbox;
                                                -ms-flex-wrap: wrap;
                                                flex-wrap: wrap;
                                                display: flex;
                                                width: 100%;
                                            }

                                            @@media only screen and (min-width: 768px) {
                                                .grid-br > div:nth-child(1n+1).txt-img-8-4-br {
                                                    /* padding-right: 30px; */
                                                    width: 67%;
                                                }
                                                /* .grid-br > div:nth-child(2n+2).txt-img-8-4-br {
                            padding-left: 30px;
                            padding-right: 30px;
                        }*/
                                                .txt-img-8-4-br > div:nth-child(2n+1) {
                                                    margin-right: 20px;
                                                }

                                                .txt-img-8-4-br > div:nth-child(2n+2) {
                                                    margin-left: 0;
                                                }
                                            }

                                            .mb-20-br {
                                                margin-bottom: 2rem !important;
                                            }

                                            .mt-10-br {
                                                margin-top: 1rem !important;
                                            }


                                            .ctr--txt-8-4-br {
                                                width: 100%;
                                                display: block;
                                                flex-direction: column;
                                                background-color: transparent !important;
                                                outline: none;
                                            }

                                            @@media only screen and (min-width: 768px) {
                                                .grid-br > div:nth-child(1n+1).ctr--txt-8-4-br {
                                                    width: 33%;
                                                }
                                            }

                                            .txt-img--img--br {
                                                width: 100%;
                                                display: block;
                                                flex-direction: column;
                                            }

                                            .img-hf-br {
                                                max-width: 100%;
                                                height: auto;
                                                display: block
                                            }

                                            .img-center {
                                                margin-left: auto;
                                                margin-right: auto;
                                            }

                                            .mb-60-br {
                                                margin-bottom: 6rem !important;
                                            }

                                            .mb-30-br {
                                                margin-bottom: 3rem !important;
                                            }

                                            .align-self-c-br {
                                                align-self: center;
                                            }

                                            .mb-30-0 {
                                                margin-bottom: 30px;
                                            }

                                            @@media only screen and (min-width: 768px) {
                                                .mb-30-0 {
                                                    margin-bottom: 0 !important;
                                                }
                                            }
                    </style>
                    <div width="100%" class="grid-br mb-60-br">

                        <div class="txt-img-8-4-br mb-30-0" style="align-content: flex-start;">
                            <p class="sustainability-header">Carbon Neutral Certified</p>
                            <p class="p-txt-b-br">Oliver Wyman is certified as a CarbonNeutral<sup>®</sup> company as of June 1, 2020, and has also set in motion a long-term strategy to integrate sustainability into our operations and the way we work. Read <a href="../media-center/2020/jun/oliver-wyman-achieves-carbonneutral-status.html">our commitment</a> and watch our <a href="../our-expertise/events/2020/sep/journey-to-carbon-neutrality.html">recent webinar</a> to learn more about our sustainability journey so far and where we plan to go next. </p>
                        </div>

                        <div class="ctr--txt-8-4-br align-self-c-br">
                            <div class="txt-img--img--br">
                                <img class="img-hf-br img-center" style="width:40%" src="~/assets/content/dam/oliver-wyman/v3/our-culture/carbon-neutral-logo.png">
                            </div>

                        </div>

                    </div>
                </div>
                <div class="text section">

                    <div>
                        <p class="sustainability-header">
                            <span style="letter-spacing: -0.1px;">Carbon Offset Project Portfolio</span><br />
                        </p>
                        <p class="p-txt-b-br">To offset the emissions we could not reduce, Oliver Wyman worked with Natural Capital Partners to conduct an extensive review of offset projects and selected a diversified portfolio that reflects our values, global footprint, and the projects’ opportunity for impact. We are proud to support the following projects:</p>

                    </div>
                </div>
                <div class="custom-widget section">



                    <style>
                       .p-txt-b-br {
                           font-family: noto-sans, sans-serif !important;
                           font-weight: 400 !important;
                           color: #000;
                           margin-top: 0;
                           margin-bottom: 0;
                           font-size: 18px !important;
                           letter-spacing: -0.18px !important;
                           line-height: 28px !important;
                       }


                       .grid-br {
                           display: -ms-flexbox;
                           -ms-flex-wrap: wrap;
                           flex-wrap: wrap;
                           display: flex;
                           flex: 0 0 100%;
                       }

                       #car-it .slick-list {
                           padding: auto !important;
                           margin: auto !important;
                       }


                       #car-it .slick-slider {
                           margin-bottom: 0 !important;
                       }

                       .car-it-br {
                           width: 100%;
                           display: flex;
                           flex-direction: column;
                       }

                       @@media only screen and (min-width: 768px) {
                           .car-it-br {
                               flex-direction: row;
                           }
                       }

                       .car-img-br {
                           width: 100%;
                       }

                       @@media only screen and (min-width: 768px) {
                           .car-it-br > div:nth-child(1n+1).car-img-br {
                               width: 65%;
                               margin-right: 2rem;
                           }
                       }

                       @@media only screen and (min-width: 768px) {
                           .car-img-br > .car-it-imgs {
                               width: 67%;
                           }
                       }

                       .car-it-img {
                           width: 100%;
                           height: 250px;
                           background-size: cover;
                           background-position: center;
                       }

                       @@media only screen and (min-width: 768px) {
                           .car-it-img {
                               height: 340px;
                           }
                       }

                       @@media only screen and (min-width: 1024px) {
                           .car-it-img {
                               height: 400px;
                           }
                       }


                       @@media only screen and (min-width: 768px) {
                           .car-it-imgs {
                               flex-direction: row !important;
                           }
                       }


                       .car-it-imgs {
                           display: -ms-flexbox;
                           -ms-flex-wrap: wrap;
                           flex-wrap: wrap;
                           display: flex;
                           width: 100%;
                           flex-direction: column;
                           margin-bottom: 2rem;
                           outline: none;
                           background-color: transparent !important;
                           padding: 0 !important;
                       }

                       .car-it-txt {
                           width: 100%;
                           display: flex;
                           flex-direction: column;
                           background-color: transparent !important;
                           outline: none;
                       }


                       .txt-img-8-4-br {
                           display: -ms-flexbox;
                           -ms-flex-wrap: wrap;
                           flex-wrap: wrap;
                           display: flex;
                           width: 100%;
                       }

                       @@media only screen and (min-width: 768px) {
                           .grid-br > div:nth-child(1n+1).txt-img-8-4-br {
                               /* padding-right: 30px; */
                               width: 67%;
                           }
                           /* .grid-br > div:nth-child(2n+2).txt-img-8-4-br {
                            padding-left: 30px;
                            padding-right: 30px;
                        }*/
                          .txt-img-8-4-br > div:nth-child(2n+1) {
                              margin-right: 20px;
                          }

                          .txt-img-8-4-br > div:nth-child(2n+2) {
                              margin-left: 0;
                          }
                      }

                      .mt-40-br {
                          margin-top: 4rem !important;
                      }

                      .mt-60-br {
                          margin-top: 6rem !important;
                      }




                      .slider-img-txt {
                          padding: 0;
                          height: auto;
                      }

                      .h2-carousel--br {
                          margin-bottom: 0;
                          margin-top: 0;
                          color: #000;
                          font-style: normal;
                          font-size: 30px;
                          line-height: 32px;
                          letter-spacing: -0.3px;
                          text-transform: uppercase;
                          font-family: 'Oswald', sans-serif !important;
                          font-weight: 500 !important;
                      }



                      @@media only screen and (min-width: 768px) {
                          .car-it-br > div:nth-child(1n+1).car-txt-br {
                              width: 33%;
                          }
                      }

                      .slick-track {
                          outline: none !important;
                      }

                      .slick-active {
                          background-color: #333333;
                      }



                      @@media only screen and (min-width: 768px) {
                          #slider-img-txt .slick-dots {
                              text-align: left;
                              bottom: 20px !important
                          }
                      }


                      .slick-dots li button:before {
                          color: transparent;
                          font-size: 0 !important;
                      }

                      .slick-dots li {
                          border-radius: 100%;
                          border: 1px solid #333333;
                          margin-right: 15px;
                          height: 12px !important;
                          width: 12px !important;
                      }

                      @@media only screen and (min-width: 768px) {
                          .slick-dots li {
                              height: 15px !important;
                              width: 15px !important;
                          }
                      }



                      .slick-dots {
                          margin-right: 15px !important;
                          bottom: -35px !important;
                      }

                      @@media only screen and (min-width: 768px) {
                          .slick-dots {
                              bottom: -45px !important;
                          }
                      }

                      .mb-10-br {
                          margin-bottom: 1rem !important;
                      }

                      .mb-80-br {
                          margin-bottom: 8rem !important;
                      }

                      .mb-40-br {
                          margin-bottom: 4rem !important;
                      }


                      .mb-90-40 {
                          margin-bottom: 90px;
                      }

                      @@media only screen and (min-width: 768px) {
                          .mb-90-40 {
                              margin-bottom: 40px;
                          }
                      }

                      .mt-50-40 {
                          margin-top: 50px;
                      }

                      @@media only screen and (min-width: 768px) {
                          .mt-50-40 {
                              margin-top: 40px;
                          }
                      }
                    </style>
                    <link rel="stylesheet" href="~/assets/use.typekit.net/eie8xyz.css">
                    <script type="text/javascript" src="~/assets/cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
                    <script type="text/javascript" src="~/assets/cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>

                    <link rel="stylesheet" href="~/assets/cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">
                    <link rel="stylesheet" href="~/assets/cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css">

                    <div width="100%" class="grid-br mt-40-br mb-90-40">
                        <div class="car-it-br" id="car-it">

                            <div class="slider car-img-br" id="">

                                <div class="car-it-imgs">
                                    <div class="car-it-img" style="background-image: url('~/assets/content/dam/oliver-wyman/v2/Test-files/china.jpg');"> </div>
                                </div>

                                <div class="car-it-imgs">
                                    <div class="car-it-img" style="background-image: url('~/assets/content/dam/oliver-wyman/v2/Test-files/indonesia.jpg');"> </div>
                                </div>

                                <div class="car-it-imgs">
                                    <div class="car-it-img" style="background-image: url('~/assets/content/dam/oliver-wyman/v2/Test-files/image-for-india-project.jpg');"> </div>
                                </div>

                                <div class="car-it-imgs">
                                    <div class="car-it-img" style="background-image: url('~/assets/content/dam/oliver-wyman/v2/Test-files/turkey.jpg');"> </div>
                                </div>


                                <div class="car-it-imgs">
                                    <div class="car-it-img" style="background-image: url('~/assets/content/dam/oliver-wyman/v2/Test-files/Seneca-Meadows-Landfill%20Gas_Wetlands-12.jpg');"> </div>
                                </div>


                                <div class="car-it-imgs">
                                    <div class="car-it-img" style="background-image: url('~/assets/content/dam/oliver-wyman/v2/Test-files/truck%20stop.jpg');"> </div>
                                </div>

                            </div>


                            <div class="slider car-txt-br" id="slider-img-txt">

                                <div class="car-it-txt">
                                    <h2 class="h2-carousel--br mb-10-br">Danjiang River Solar Cookers, China</h2>
                                    <p class="p-txt-b-br">Distributing free solar cookers to low income households, bringing health and financial benefits to more than 300,000 people</p>
                                </div>

                                <div class="car-it-txt">
                                    <h2 class="h2-carousel--br mb-10-br">Rimba Raya Biodiversity Reserve REDD+, Indonesia</h2>
                                    <p class="p-txt-b-br">Protecting 65,000 hectares of forest by engaging local communities through education and agroforestry training</p>
                                </div>

                                <div class="car-it-txt">
                                    <h2 class="h2-carousel--br mb-10-br">Renewable Energy, India</h2>
                                    <p class="p-txt-b-br">Tackling India’s energy shortage and increasing demand by enhancing renewable energy capacity</p>
                                </div>

                                <div class="car-it-txt">
                                    <h2 class="h2-carousel--br mb-10-br">Soma Wind Power, Turkey</h2>
                                    <p class="p-txt-b-br">Delivering essential renewable energy capacity in a country with rapidly growing greenhouse gas (GHG) emissions</p>
                                </div>


                                <div class="car-it-txt">
                                    <h2 class="h2-carousel--br mb-10-br">Seneca Meadows Landfill Gas,&nbsp;US</h2>
                                    <p class="p-txt-b-br">Reducing the environmental impact of a landfill site through methane capture, electricity generation and wetland enhancement</p>
                                </div>

                                <div class="car-it-txt">
                                    <h2 class="h2-carousel--br mb-10-br">Truck Stop Electrification Project,&nbsp;US</h2>
                                    <p class="p-txt-b-br">Developing sustainable infrastructure by preventing large amounts of idling emissions from being released into the atmosphere</p>
                                </div>

                            </div>



                        </div>
                    </div>

                    <script>
                        $('.car-txt-br').slick({
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            arrows: false,
                            fade: true,
                            asNavFor: '.car-img-br',
                            dots: true,
                        });
                        $('.car-img-br').slick({
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            asNavFor: '.car-txt-br',
                            centerMode: false,
                            focusOnSelect: true,
                            autoplay: false,
                            arrows: false,
                            autoplaySpeed: 4000,
                        });
                    </script>
                </div>
                <div class="text section">

                    <div>
                        <p class="sustainability-header">Our Voices</p>
                        <p class="p-txt-b-br">Our colleagues from around the globe share ways they are committing to sustainability through their work, their volunteer efforts, and in their daily lives. </p>

                    </div>
                </div>
                <div class="custom-widget section">



                    <style>
                        .grid-br {
                            display: -ms-flexbox;
                            -ms-flex-wrap: wrap;
                            flex-wrap: wrap;
                            display: flex;
                            flex: 0 0 100%;
                        }

                        .vid-3-br {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 2rem;
                            position: relative;
                        }

                        @@media only screen and (min-width: 768px) and (max-width: 1099px) {
                            .grid-br > .vid-3-br {
                                width: calc((100% - 21px) / 2);
                            }

                            .vid-3-br:not(:nth-child(2n - 1)) {
                                margin-left: 20px;
                            }
                        }



                        @@media only screen and (min-width: 1100px) {
                            .grid-br > .vid-3-br {
                                width: calc((100% - 41px) / 3);
                            }

                            .vid-3-br:not(:nth-child(3n - 2)) {
                                margin-left: 20px !important;
                            }
                        }

                        .embd-vid-ctr-2il-br {
                            position: relative;
                            padding-bottom: 56.25%;
                            height: 0;
                            overflow: hidden;
                            max-width: 100%;
                            cursor: pointer;
                        }

                            .embd-vid-ctr-2il-br iframe, .embd-vid-ctr-2il-br object, .embd-vid-ctr-2il-br embed {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 101%;
                                height: 101%;
                                background-color: #fff;
                            }

                        .playbtn-br {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: calc(35px + 5%);
                            height: auto;
                        }

                        .img-hf-br {
                            max-width: 100%;
                            height: auto;
                            display: block
                        }

                        .br-video {
                            display: none;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    </style>
                    <div width="100%" class="grid-br mt-40-br">

                        <div class="vid-3-br">
                            <div class="embd-vid-ctr-2il-br">
                                <div>
                                    <div class="playbtn-br">
                                        <img src="~/assets/content/dam/oliver-wyman/v2/Test-files/video-icon.png">
                                    </div>
                                    <img class="img-hf-br" id="play-button" onclick="openVid(this)" src="~/assets/content/dam/oliver-wyman/v3/our-culture/sustainability-video3-thumbnail.png">
                                </div>
                                <iframe class="br-video" src="#" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                            </div>
                        </div>



                        <div class="vid-3-br">
                            <div class="embd-vid-ctr-2il-br">
                                <div>
                                    <div class="playbtn-br">
                                        <img src="~/assets/content/dam/oliver-wyman/v2/Test-files/video-icon.png">
                                    </div>
                                    <img class="img-hf-br" id="play-button" onclick="openVid(this)" src="~/assets/content/dam/oliver-wyman/v3/our-culture/sustainability-video1-thumbnail.png">
                                </div>
                                <iframe class="br-video" src="#" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                            </div>
                        </div>

                        <div class="vid-3-br">
                            <div class="embd-vid-ctr-2il-br">
                                <div>
                                    <div class="playbtn-br">
                                        <img src="~/assets/content/dam/oliver-wyman/v2/Test-files/video-icon.png">
                                    </div>
                                    <img class="img-hf-br" id="play-button" onclick="openVid(this)" src="~/assets/content/dam/oliver-wyman/v3/our-culture/sustainability-video2-thumbnail.png">
                                </div>
                                <iframe class="br-video" src="#" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                            </div>
                        </div>


                        <div class="vid-3-br">
                            <div class="embd-vid-ctr-2il-br">
                                <div>
                                    <div class="playbtn-br">
                                        <img src="~/assets/content/dam/oliver-wyman/v2/Test-files/video-icon.png">
                                    </div>
                                    <img class="img-hf-br" id="play-button" onclick="openVid(this)" src="~/assets/content/dam/oliver-wyman/v3/our-culture/evolve-thumbnail.jpg">
                                </div>
                                <iframe class="br-video" src="#" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                            </div>
                        </div>

                        <div class="vid-3-br">
                            <div class="embd-vid-ctr-2il-br">
                                <div>
                                    <div class="playbtn-br">
                                        <img src="~/assets/content/dam/oliver-wyman/v2/Test-files/video-icon.png">
                                    </div>
                                    <img class="img-hf-br" id="play-button" onclick="openVid(this)" src="~/assets/content/dam/oliver-wyman/v3/our-culture/conserve-thumbnail.jpg">
                                </div>
                                <iframe class="br-video" src="#" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                            </div>
                        </div>

                        <div class="vid-3-br">
                            <div class="embd-vid-ctr-2il-br">
                                <div>
                                    <div class="playbtn-br">
                                        <img src="~/assets/content/dam/oliver-wyman/v2/Test-files/video-icon.png">
                                    </div>
                                    <img class="img-hf-br" id="play-button" onclick="openVid(this)" src="../content/dam/oliver-wyman/v3/our-culture/reduce-thumbnail.jpg">
                                </div>
                                <iframe class="br-video" src="#" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                            </div>
                        </div>


                    </div>

                    <script src="~/assets/player.vimeo.com/api/player.js"></script>
                    <script>


                        var iframe = document.getElementsByClassName('video');

                        // $f == Froogaloop
                        var player = $f(iframe);
                        var playButton = document.getElementById("play-button");
                        playButton.addEventListener("click", function () {
                            player.api("play");
                        });



                        var pauseButton = document.getElementById("pause-button");
                        pauseButton.addEventListener("click", function () {
                            player.api("pause");
                        });


                        // Get the element with id="defaultOpen" and click on it
                        document.getElementById("defaultOpen").click();

                        function openVid(el) {

                            var tabVid = el.parentElement.parentElement.parentElement.getElementsByClassName("br-video")[0]
                            tabVid.style.display = "block";



                            var vimPlayer = new Vimeo.Player(tabVid);
                            vimPlayer.play();

                            vimPlayer.on('ended', function () {
                                tabVid.style.display = "none";
                                closeVidBtn.style.display = "none";

                            })
                        }

                        var closeVidBtn = Array.prototype.slice.call(document.querySelectorAll(".close-vid"), 0);

                        closeVidBtn.forEach(function (element) {
                            console.log(this)

                            element.addEventListener('click', function (event) {
                                console.log(this)
                                console.log(element)
                                console.log(event)


                                event.preventDefault();
                                event.stopImmediatePropagation();
                                this.style.display = "none";

                                var closeVid = this.parentElement.getElementsByClassName('br-video')[0];
                                closeVid.style.display = "none";


                                var vimPlayer = new Vimeo.Player(closeVid);
                                vimPlayer.pause();

                            })

                        });

                    </script>
                </div>
                <div class="custom-widget section">



                    <style>
                                            .grid-br {
                                                display: -ms-flexbox;
                                                -ms-flex-wrap: wrap;
                                                flex-wrap: wrap;
                                                display: flex;
                                                flex: 0 0 100%;
                                            }

                                            .txt-img-8-4-br {
                                                display: -ms-flexbox;
                                                -ms-flex-wrap: wrap;
                                                flex-wrap: wrap;
                                                display: flex;
                                                width: 100%;
                                            }

                                            @@media only screen and (min-width: 768px) {
                                                .grid-br > div:nth-child(1n+1).txt-img-8-4-br {
                                                    /* padding-right: 30px; */
                                                    width: 67%;
                                                }
                                                /* .grid-br > div:nth-child(2n+2).txt-img-8-4-br {
                            padding-left: 30px;
                            padding-right: 30px;
                        }*/
                                                .txt-img-8-4-br > div:nth-child(2n+1) {
                                                    margin-right: 20px;
                                                }

                                                .txt-img-8-4-br > div:nth-child(2n+2) {
                                                    margin-left: 0;
                                                }
                                            }

                                            .mb-20-br {
                                                margin-bottom: 2rem !important;
                                            }

                                            .mt-10-br {
                                                margin-top: 1rem !important;
                                            }


                                            .ctr--txt-8-4-br {
                                                width: 100%;
                                                display: block;
                                                flex-direction: column;
                                                background-color: transparent !important;
                                                outline: none;
                                            }

                                            @@media only screen and (min-width: 768px) {
                                                .grid-br > div:nth-child(1n+1).ctr--txt-8-4-br {
                                                    width: 33%;
                                                }
                                            }

                                            .txt-img--img--br {
                                                width: 100%;
                                                display: block;
                                                flex-direction: column;
                                            }

                                            .img-hf-br {
                                                max-width: 100%;
                                                height: auto;
                                                display: block
                                            }

                                            .img-center {
                                                margin-left: auto;
                                                margin-right: auto;
                                            }

                                            .mb-60-br {
                                                margin-bottom: 6rem !important;
                                            }

                                            .mb-30-br {
                                                margin-bottom: 3rem !important;
                                            }


                                            .mt-30-br {
                                                margin-top: 3rem !important;
                                            }


                                            .align-self-c-br {
                                                align-self: center;
                                            }
                    </style>
                    <div width="100%" class="grid-br mt-40-br">

                        <div class="txt-img-8-4-br">
                            <p class="sustainability-header">Green Champions</p>
                            <p class="p-txt-b-br">Our internal sustainability network, Green Champions of Oliver Wyman (GROW), is leading efforts to integrate sustainability into all aspects of the firm, from organizing volunteer events to improving recycling practices to promoting our annual Earth Month activities. Our Green Champions in action:</p>
                        </div>

                        <div class="ctr--txt-8-4-br align-self-c-br mt-30-br">
                            <div class="txt-img--img--br">
                                <img class="img-hf-br img-center" style="width:50%" src="~/assets/content/dam/oliver-wyman/v2-de/careers/erg-logos/grow-logo.svg">
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="carousel-container section">
        <div class="ow-carousel-v3 mt-20 ">

            <div class="carousel-cell section">



                <div class="image-carousel" style="background-image: url('~/assets/content/dam/oliver-wyman/v2/Test-files/Group_before_event_Houston.jpg.imgixg.mediaBigTile.jpg')">

                </div>
            </div>
            <div class="carousel-cell section">



                <div class="image-carousel" style="background-image: url('~/assets/content/dam/oliver-wyman/v2/Test-files/POW_SFTrees1.JPG.imgixg.mediaBigTile.jpg')">

                </div>
            </div>
            <div class="carousel-cell section">



                <div class="image-carousel" style="background-image: url('~/assets/content/dam/oliver-wyman/v2/Test-files/POW_Group_after_event_Houston.jpg.imgixg.mediaBigTile.jpg')">

                </div>
            </div>
            <div class="carousel-cell section">



                <div class="image-carousel" style="background-image: url('~/assets/content/dam/oliver-wyman/v2/Test-files/SFTrees4.JPG.imgixg.mediaBigTile.jpg')">

                </div>
            </div>
            <div class="carousel-cell section">



                <div class="image-carousel" style="background-image: url('~/assets/content/dam/oliver-wyman/v2/Test-files/POW_SFTrees2.JPG.imgixg.mediaBigTile.jpg')">

                </div>
            </div>
            <div class="carousel-cell section">



                <div class="image-carousel" style="background-image: url('~/assets/content/dam/oliver-wyman/v2/Test-files/SFTrees6.JPG.imgixg.mediaBigTile.jpg')">

                </div>
            </div>
            <div class="carousel-cell section">



                <div class="image-carousel" style="background-image:url('../content/dam/oliver-wyman/v2/Test-files/SFTrees3.JPG.imgixg.mediaBigTile.jpg')">

                </div>
            </div>


        </div>
    </div>
    <div class="container-twelve-col section">
        <div class="container">

            <div>
                <div class="text section">

                    <div>
                        <p class="sustainability-header mt-60-br">Social Impact</p>
                        <p class="p-txt-b-br">We offer our services to organizations whose work improves communities and lives around the world. Many of our social impact projects benefit environmental organizations directly, and others aim to provide solutions to complex climate-related challenges. For more about our Social Impact program, click <a href="society/social-impact.html">here</a>.</p>

                    </div>
                </div>
                <div class="custom-widget section">



                    <style>
                        .grid-br {
                            display: -ms-flexbox;
                            -ms-flex-wrap: wrap;
                            flex-wrap: wrap;
                            display: flex;
                            flex: 0 0 100%;
                        }

                        .sml-ctr-3bord-br {
                            width: 100%;
                            display: flex;
                            background: #FFFFFF 0% 0% no-repeat padding-box;
                            border: 1px solid #BCBCBC;
                            position: relative;
                            justify-content: space-between;
                            flex-direction: row;
                            padding: 1.9rem 2rem 1.9rem 2rem !important;
                            margin-bottom: 1rem !important;
                        }

                        @@media only screen and (min-width: 768px) and (max-width: 1099px) {
                            .grid-br > .sml-ctr-3bord-br {
                                width: calc((100% - 21px) / 2);
                            }

                            .sml-ctr-3bord-br:not(:nth-child(2n - 1)) {
                                margin-left: 20px;
                            }
                        }

                        @@media only screen and (max-width: 767px) {
                            .sml-ctr-3bord-br {
                                align-items: baseline;
                            }
                        }

                        @@media only screen and (min-width: 768px) {
                            .sml-ctr-3bord-br {
                                margin-bottom: 2rem;
                                flex-direction: column;
                                width: 48.5%;
                                margin-bottom: 2rem !important;
                                padding: 1.9rem 2rem 2rem 2rem !important;
                                justify-content: flex-start;
                            }
                        }

                        @@media only screen and (min-width: 1100px) {
                            .grid-br > .sml-ctr-3bord-br {
                                width: calc((100% - 41px) / 3);
                            }

                            .sml-ctr-3bord-br:not(:nth-child(3n - 2)) {
                                margin-left: 20px !important;
                            }
                        }

                        .h4-wb-wp-br {
                            margin-bottom: 0;
                            margin-top: 0;
                            color: #000000;
                            font-family: 'Oswald', sans-serif !important;
                            text-transform: uppercase !important;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 1.1;
                        }

                        @@media only screen and (min-width: 768px) {
                            .h4-wb-wp-br {
                                font-size: 22px;
                                line-height: 1.09;
                            }
                        }

                        @@media only screen and (max-width: 767px) {
                            .txt-box-b-br {
                                display: none;
                            }
                        }

                        .txt-box-b-br {
                            margin-top: 0;
                            margin-bottom: 0;
                            font-family: noto-sans, sans-serif !important;
                            font-weight: 400 !important;
                            line-height: 1.5 !important;
                            color: #000;
                            font-size: 16px !important;
                            letter-spacing: -0.16px !important;
                        }

                        .mt-13-br {
                            margin-top: 1.3rem !important;
                        }

                        .mt-20-br {
                            margin-top: 2rem !important;
                        }

                        .mb-10-br {
                            margin-bottom: 1rem !important;
                        }

                        @@media only screen and (min-width: 768px) {
                            .ar-ml-br {
                                margin-top: 20px;
                            }
                        }

                        @@media only screen and (max-width: 767px) {
                            .ar-ml-br {
                                margin-left: 2px;
                                line-height: 1rem;
                            }
                        }

                        .ar-ml-br::after {
                            font-size: 24px !important;
                            color: #2C6EF2 !important;
                            content: "\f101";
                            font-family: FontAwesome !important;
                        }

                        @@media only screen and (min-width: 768px) {
                            .ar-ml-br::after {
                                position: absolute;
                                bottom: 11px
                            }
                        }

                        @@media only screen and (max-width: 767px) {
                            .ar-ml-br::after {
                                margin-left: 2px;
                                margin-top: 0;
                            }
                        }
                    </style>
                    <link rel="stylesheet" href="~/assets/stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
                    <div width="100%" class="grid-br mt-40-br">

                        <a class="sml-ctr-3bord-br" href="../our-expertise/insights/2020/jun/oliver-wyman-for-society-a-collection-of-social-impact.html">
                            <h4 class="h4-wb-wp-br">OLIVER WYMAN FOR SOCIETY</h4>
                            <p class="txt-box-b-br mt-13-br mb-10-br">The fifth annual collection of Oliver Wyman's work on social impact projects, community initiatives, and nonprofit fellowships.</p>
                            <div class="ar-ml-br"></div>
                        </a>

                        <a class="sml-ctr-3bord-br" href="society/social-impact/business-council-on-climate-change.html">
                            <h4 class="h4-wb-wp-br">BUSINESS COUNCIL ON CLIMATE CHANGE</h4>
                            <p class="txt-box-b-br mt-13-br mb-10-br">Empowering Climate-Related Employee Engagement</p>
                            <div class="ar-ml-br"></div>
                        </a>

                        <a class="sml-ctr-3bord-br" href="society/social-impact/climate-bonds-initiative.html">
                            <h4 class="h4-wb-wp-br">CLIMATE BONDS INITIATIVE</h4>
                            <p class="txt-box-b-br mt-13-br mb-10-br">Mobilizing Global Capital for Climate Change</p>
                            <div class="ar-ml-br"></div>
                        </a>




                    </div>
                </div>
                <div class="text section">

                    <div>
                        <p class="sustainability-header mt-50-40">Resources</p>
                        <p class="p-txt-b-br">Oliver Wyman and our parent company, Marsh &amp; McLennan, recognize our responsibility to conduct business in a way that protects and improves the state of the environment for future generations. As a global firm, we understand that the long-term, well-being of society and our employees, the strength of the global economy, and the continuing success of our own business depend on our commitment to a sustainable environment. On January 14, 2021, Marsh &amp; McLennan <a href="https://www.mmc.com/content/mmc-web/mmc-v2/en/news-events/2021/january/marsh---mclennan-announces-carbon-reduction-commitments.html" class="link--external" target="_blank">announced</a> its own commitment to become carbon neutral in 2021, which will further support Oliver Wyman’s sustainability goals. Find more resources <a href="https://www.mmc.com/about/esg.html" target="_blank" class="link--external">here</a>.</p>

                    </div>
                </div>
                <div class="custom-widget section">



                    <style>
                        .sustainability-header {
                            font-family: Oswald-medium !important;
                            font-size: 20px !important;
                            line-height: 20px !important;
                            color: black;
                            text-transform: uppercase;
                            margin-bottom: 20px !important
                        }

                        div.article__sidebar {
                            display: none;
                        }

                        article.article {
                            display: none;
                        }

                        p.subpage-nav-title {
                            color: black;
                        }

                        p.subpage-nav-description {
                            color: black;
                        }
                    </style>

                </div>

            </div>
        </div>
    </div>


    <div>

        <div class="page-share">
            <div class="container">
                <div class="page-share__inner">
                    <div class="article__footer__social social">
                        <ul class="social-share-icons color">
                            <li>Share</li>

                            <li><a href="#" class="social__facebook" rel="nofollow noopener noreferrer" target="_blank"></a></li>

                            <li><a href="#" class="social__twitter" rel="nofollow noopener noreferrer" target="_blank"></a></li>
                            <li><a href="#" class="social__linked-in" rel="nofollow noopener noreferrer" target="_blank"></a></li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div>


        <div class="expertise scroll--hidden">
            <div class="container">
                <header class="expertise__header">
                    <h3 class="expertise__header__title">
                        OUR <b>EXPERTISE</b>&nbsp;<span class="sapphire"></span>

                    </h3>
                </header>

                <div class="grid">
                    <div class="six--columns">
                        <h4 class="expertise__title">Industries&nbsp;<span class="sapphire"></span></h4>

                        <ul>
                            <li><a href="../our-expertise/industries/transportation.html">Aviation, Aerospace &amp; Defense</a></li>

                            <li><a href="../our-expertise/industries/transportation/travel-and-leisure.html">Travel &amp; Leisure</a></li>

                            <li><a href="../our-expertise/industries/transportation/rail-and-public-transit.html">Rail and Public Transit</a></li>

                            <li><a href="../our-expertise/industries/automotive.html">Automotive</a></li>

                            <li><a href="../our-expertise/industries/business-services.html">Business Services</a></li>

                            <li><a href="../our-expertise/industries/communications-media-and-technology.html">Communications, Media, And Technology</a></li>

                            <li><a href="../our-expertise/industries/education.html">Education</a></li>

                            <li><a href="../our-expertise/industries/energy.html">Energy</a></li>

                            <li><a href="../our-expertise/industries/financial-services.html">Financial Services</a></li>

                            <li><a href="../our-expertise/industries/health-life-sciences.html">Health And Life Sciences</a></li>

                            <li><a href="../our-expertise/industries/industrial-products.html">Industrial Products</a></li>

                            <li><a href="../our-expertise/industries/public-sector.html">Public Sector And Policy</a></li>

                            <li><a href="../our-expertise/industries/retail-and-consumer-goods.html">Retail And Consumer Goods</a></li>

                            <li><a href="../our-expertise/industries/transportation.html">Transportation</a></li>

                            <li><a href="../our-expertise/industries/velocity-podcasts.html">Velocity Podcast</a></li>
                        </ul>

                    </div>

                    <div class="six--columns">
                        <h4 class="expertise__title">capabilities&nbsp;<span class="sapphire"></span></h4>

                        <ul>
                            <li><a href="../our-expertise/capabilities/actuarial.html">Actuarial</a></li>

                            <li><a href="../our-expertise/capabilities/climate-sustainability.html">Climate And Sustainability</a></li>

                            <li><a href="../our-expertise/capabilities/corporate-finance-restructuring.html">Corporate Finance And Restructuring</a></li>

                            <li><a href="../our-expertise/capabilities/digital.html">Digital</a></li>

                            <li><a href="#">Lippincott: Brand and Innovation</a></li>

                            <li><a href="../our-expertise/capabilities/digital.html">Oliver Wyman Labs</a></li>

                            <li><a href="../our-expertise/capabilities/operations.html">Operations</a></li>

                            <li><a href="../our-expertise/capabilities/organizational-effectiveness.html">Organizational Effectiveness</a></li>

                            <li><a href="../our-expertise/capabilities/payments.html">Payments</a></li>

                            <li><a href="../our-expertise/capabilities/pricing-sales-and-marketing.html">Pricing, Sales, And Marketing</a></li>

                            <li><a href="../our-expertise/capabilities/risk-management.html">Risk Management</a></li>

                            <li><a href="../our-expertise/capabilities/strategy.html">Strategy</a></li>
                        </ul>

                    </div>

                </div>

            </div>
        </div>

        <div class="expertise expertise--mobile scroll--hidden">
            <div class="container">
                <header class="expertise__header">
                    <h3 class="expertise__header__title"><strong>OUR <b>EXPERTISE</b></strong>&nbsp;<span class="sapphire"></span></h3>

                </header>

                <div class="accordion-group">

                    <div class="accordion js-accordion scroll--hidden">
                        <header class="accordion__header accordion__header--expertise">
                            <h4 class="expertise__title">Industries&nbsp;<span class="blue-footer"></span></h4>
                            <a href="#" class="accordion__toggle js-accordion__toggle"></a>
                        </header>
                        <div class="accordion__content js-accordion__content">

                            <ul>
                                <li><a href="../our-expertise/industries/transportation.html">Aviation, Aerospace &amp; Defense</a></li>

                                <li><a href="../our-expertise/industries/transportation/travel-and-leisure.html">Travel &amp; Leisure</a></li>

                                <li><a href="../our-expertise/industries/transportation/rail-and-public-transit.html">Rail and Public Transit</a></li>

                                <li><a href="../our-expertise/industries/automotive.html">Automotive</a></li>

                                <li><a href="../our-expertise/industries/business-services.html">Business Services</a></li>

                                <li><a href="../our-expertise/industries/communications-media-and-technology.html">Communications, Media, And Technology</a></li>

                                <li><a href="../our-expertise/industries/education.html">Education</a></li>

                                <li><a href="../our-expertise/industries/energy.html">Energy</a></li>

                                <li><a href="../our-expertise/industries/financial-services.html">Financial Services</a></li>

                                <li><a href="../our-expertise/industries/health-life-sciences.html">Health And Life Sciences</a></li>

                                <li><a href="../our-expertise/industries/industrial-products.html">Industrial Products</a></li>

                                <li><a href="../our-expertise/industries/public-sector.html">Public Sector And Policy</a></li>

                                <li><a href="../our-expertise/industries/retail-and-consumer-goods.html">Retail And Consumer Goods</a></li>

                                <li><a href="../our-expertise/industries/transportation.html">Transportation</a></li>

                                <li><a href="../our-expertise/industries/velocity-podcasts.html">Velocity Podcast</a></li>
                            </ul>

                        </div>
                    </div>

                    <div class="accordion js-accordion scroll--hidden">
                        <header class="accordion__header accordion__header--expertise">
                            <h4 class="expertise__title">capabilities&nbsp;<span class="blue-footer"></span></h4>
                            <a href="#" class="accordion__toggle js-accordion__toggle"></a>
                        </header>
                        <div class="accordion__content js-accordion__content">

                            <ul>
                                <li><a href="../our-expertise/capabilities/actuarial.html">Actuarial</a></li>

                                <li><a href="../our-expertise/capabilities/climate-sustainability.html">Climate And Sustainability</a></li>

                                <li><a href="../our-expertise/capabilities/corporate-finance-restructuring.html">Corporate Finance And Restructuring</a></li>

                                <li><a href="../our-expertise/capabilities/digital.html">Digital</a></li>

                                <li><a href="#">Lippincott: Brand and Innovation</a></li>

                                <li><a href="../our-expertise/capabilities/digital.html">Oliver Wyman Labs</a></li>

                                <li><a href="../our-expertise/capabilities/operations.html">Operations</a></li>

                                <li><a href="../our-expertise/capabilities/organizational-effectiveness.html">Organizational Effectiveness</a></li>

                                <li><a href="../our-expertise/capabilities/payments.html">Payments</a></li>

                                <li><a href="../our-expertise/capabilities/pricing-sales-and-marketing.html">Pricing, Sales, And Marketing</a></li>

                                <li><a href="../our-expertise/capabilities/risk-management.html">Risk Management</a></li>

                                <li><a href="../our-expertise/capabilities/strategy.html">Strategy</a></li>
                            </ul>

                        </div>
                    </div>

                </div>

            </div>
        </div>


    </div>
</div>
